@using ODK.Core.Features
@using ODK.Core.Utils
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Admin.Chapters
@using ODK.Web.Razor.Models.Chapters
@using ODK.Web.Razor.Models.Components
@model ChapterConversationAdminPageViewModel
@inject IOdkRoutes OdkRoutes

<h5>@Model.Conversation.Subject</h5>

<p>
    @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
    {
        Route = OdkRoutes.GroupAdmin.MemberConversations(Model.Chapter, Model.Member.Id),
        Text = Model.Member.GetDisplayName(Model.Chapter.Id)
    })
</p>

<div class="row">
    <div class="col-md-8">
        <section class="section">
            @await Html.PartialAsync("Components/_Panel", new PanelViewModel
            {
                TitleContentFunc = @<h5>Messages</h5>,
                BodyContentFunc = 
                    @<div>
                        @await Html.PartialAsync("Chapters/_Conversation", new ChapterConversationViewModel
                        {
                            Chapter = Model.Chapter,
                            CurrentMember = Model.CurrentMember,
                            MemberId = Model.Conversation.MemberId,
                            Messages = Model.Messages        
                        })
                    </div>
            })    
        </section>

        <section class="section">
            @await Html.PartialAsync("Components/_Panel", new PanelViewModel
            {
                TitleContentFunc = @<h5>Reply</h5>,
                BodyContentFunc = 
                    @<div>                        
                        @if (Model.CanReply)
                        {
                            <form action="/admin/groups/@Model.Chapter.Id/conversations/@Model.Conversation.Id/reply" method="post">
                                @*@Html.AntiForgeryToken()*@
                                @await Html.PartialAsync("Admin/Chapter/Conversations/_ConversationReplyForm", new ChapterConversationReplyFormViewModel())
                                <button class="btn btn-primary">Send</button>
                            </form>
                        }          
                        else
                        {
                            <p>You have already replied to this conversation</p>
                            @await Html.PartialAsync("Components/_RestrictedFeature", new RestrictedFeatureViewModel(false)
                            {
                                Chapter = Model.Chapter,
                                Feature = SiteFeatureType.SendMemberEmails
                            })
                        }
                    </div>
            })
        </section>
    </div>
    <div class="col-md-4 mt-section mt-md-0">
        @await Html.PartialAsync("Components/_Panel", new PanelViewModel
        {
            TitleContentFunc = @<h5>Other conversations</h5>,
            BodyContentFunc = 
                @<div class="list-group">
                    @foreach (var dto in Model.OtherConversations.OrderByDescending(x => x.LastMessage.Message.CreatedUtc))
                    {
                        var conversation = dto.Conversation;

                        <div class="list-group-item">
                            <div>
                                @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
                                {
                                    Route = OdkRoutes.GroupAdmin.Conversation(Model.Chapter, conversation.Id),
                                    Text = conversation.Subject
                                })                                
                            </div>
                            <div>
                                @dto.LastMessage.Message.CreatedUtc.ToFriendlyDateTimeString(Model.Chapter.TimeZone)
                            </div>
                        </div>
                    }
                </div>
        })
    </div>
</div>