@using ODK.Web.Razor.Models.Components

@await Html.PartialAsync("Components/_Section", new SectionViewModel
{
   Content = @<div class="container tenets-container">
                 <div>
                     <span class="tenets-inverse"> 3 Tenets of </span>
                 </div>
                 <div class="tenets-title">Drunken Knithood</div>
                 <div class="row row--tenet blue">
                     <div class="col-8 col-md-9 tenet-content-container">
                         <span class="tenet-content"> If you're embarrassed to knit in a pub, then you're taking yourself way too seriously, and could use a lesson from a Knitwit. 'Nuff said. </span>
                     </div>
                     <div class="col-4 col-md-3">
                         <div class="tenet-number">1</div>
                         <div class="tenet-title">Get over yourself</div>
                     </div>
                 </div>
                 <div class="row row--tenet pink">
                     <div class="col-8 col-md-9 tenet-content-container">
                         <span class="tenet-content"> We aim to provide a friendly and welcoming environment to anyone who wishes to join. If you're a true Knitwit, you'll do the same and aim to meet at least one new person at each event you attend. </span>
                     </div>
                     <div class="col-4 col-md-3">
                         <div class="tenet-number">2</div>
                         <div class="tenet-title">Do unto others</div>
                     </div>
                 </div>
                 <div class="row row--tenet green">
                     <div class="col-8 col-md-9 tenet-content-container">
                         <span class="tenet-content"> We pride ourselves in being an active and committed group, where we can find familiar faces week after week. So come along, and stay for a while -- most Knitwits do. </span>
                     </div>
                     <div class="col-4 col-md-3">
                         <div class="tenet-number">3</div>
                         <div class="tenet-title">Hang around</div>
                     </div>
                 </div>
             </div>,
   Hero = true,
   Id = "tenets"
})