<ng-container *appLoading="!questions">
  <p>
    <a class="btn btn-primary" [routerLink]="links.create">Create question</a>
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Question</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions">
        <td><a [routerLink]="getQuestionLink(question)">{{question.name}}</a></td>        
        <td>
          <button class="btn btn-icon text-secondary" (click)="onMoveQuestionUp(question)" ngbTooltip="Move up">
            <i class="fas fa-arrow-circle-up"></i>
          </button>
          <button class="btn btn-icon text-secondary" (click)="onMoveQuestionDown(question)" ngbTooltip="Move down">
            <i class="fas fa-arrow-circle-down"></i>
          </button>
        </td>
        <td>
          <button class="btn-icon text-danger" (click)="onDeleteQuestion(question)" ngbTooltip="Delete">
            <i class="fas fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
