<h2>Media</h2>
<ng-container *appLoading="!files">
  <ngb-alert *ngIf="copiedFile" type="success" (close)="onAlertClose()">
    {{copiedFile.url}} copied to clipboard
  </ngb-alert>
  <input type="file" accept="image/*" #file placeholder="Choose file" class="d-none"
      (change)="onFileUpload(file.files)" />
  <p>
    <button class="btn btn-primary" type="button" (click)="file.click()">
      <i class="fas fa-upload mr-1"></i>
      Upload image
    </button>
  </p>

  <div class="row row-cols-6">
    <div *ngFor="let file of files" 
      class="position-relative d-flex justify-content-center align-items-center media-file">
      <button class="btn-icon btn-overlay btn-overlay--top-right text-danger" ngbTooltip="Delete" 
        (click)="onFileDelete(file)">
        <i class="fas fa-times-circle"></i>
      </button>
      <button class="btn-icon btn-overlay btn-overlay--bottom-right" ngbTooltip="Copy URL"
        ngxClipboard [cbContent]="file.url" (cbOnSuccess)="onFileUrlCopy(file)">
        <i class="far fa-copy"></i>
      </button>
      <span class="media-file-thumbnail" [ngbTooltip]="file.name" (click)="onFileClick(file)">
        <img [attr.src]="file.url" [style.max-width.px]="100" />
      </span>      
    </div>
  </div>
  
  <app-media-file [file]="selectedFile" (close)="onFileClose()"></app-media-file>
</ng-container>