@using ODK.Core.Chapters
@using ODK.Services.Chapters
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Chapters.SiteAdmin
@model OdkComponentViewModel<Chapter>
@inject IChapterAdminService ChapterAdminService
@{
    var serviceRequest = Model.CreateMemberChapterServiceRequest(Model.Value.Id);
    var viewModel = await ChapterAdminService.GetChapterPaymentSettingsViewModel(serviceRequest);
}

<h2 class="d-none d-md-block">Payment settings</h2>

<form method="post">
    @*@Html.AntiForgeryToken()*@
    @await Html.PartialAsync("Chapters/siteadmin/_PaymentSettingsForm", new PaymentSettingsFormViewModel
    {
        CurrencyOptions = viewModel.Currencies,
        CurrencyId = viewModel.PaymentSettings?.CurrencyId,
        Provider = viewModel.PaymentSettings?.Provider,
        PublicKey = viewModel.PaymentSettings?.ApiPublicKey,
        SecretKey = viewModel.PaymentSettings?.ApiSecretKey,
        UseSitePaymentProvider = viewModel.PaymentSettings?.UseSitePaymentProvider ?? false
    })
    <button class="btn btn-primary">Update</button>
</form>