@using ODK.Web.Razor.Models.SiteAdmin
@using ODK.Web.Razor.Mvc
@model ChapterTimeZoneFormViewModel

<div class="form-group mb-3">
    @Html.LabelFor(x => x.TimeZone, new { @class = "form-label" })
    @Html.OdkTimeZoneDropDownFor(x => x.TimeZone, "", new { @class = "form-select", data_searchable = "" })
</div>