@page "/my/groups/{id:guid}/properties/new"
@using ODK.Core.Chapters
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model CreateModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Create property";

    var chapter = await ChapterAdminService.GetChapter(Model.AdminServiceRequest);

    var viewModel = new OdkComponentViewModel<Chapter>(Model.ComponentContext, chapter);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Create property",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_PropertyCreateContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu", new AdminSideMenuViewModel
    {
        Chapter = chapter
    })
})
