@page "/{chapterName}/Account"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Caching
@using ODK.Services.Chapters
@using ODK.Services.Members
@using ODK.Services.Users
@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model AccountModel
@inject IRequestCache RequestCache
@inject IMemberService MemberService
@{
    Layout = "_ChapterLayout";
    Model.Title = "Account";

    var chapter = await RequestCache.GetChapterAsync(Model.ChapterName);
    var member = await MemberService.GetMember(Model.CurrentMemberId);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = OdkRoutes.Account.PersonalDetails(chapter),
        Chapter = chapter,
        Content = 
            @<form action="/Account/PersonalDetails" method="post">
                @await Html.PartialAsync("Account/_PersonalDetailsForm", new PersonalDetailsFormViewModel
                {
                    Chapter = chapter,
                    EmailAddress = member.EmailAddress,
                    FirstName = member.FirstName,
                    LastName = member.LastName
                })
                <button class="btn btn-primary">Update</button>
            </form>
    })
})