@page "/{chapterName}/Account"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model AccountModel
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Account";

    var chapter = await Model.GetChapter();
    var member = await Model.GetCurrentMember();
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
    {
        Title = "Personal details",
        MenuContentFunc = _ => Html.PartialAsync("Account/_AccountMenu", new AccountMenuViewModel
        {
            Chapter = chapter
        }),
        BodyContentFunc = 
            @<div>

                <section class="section">
                    <form action="/Account/PersonalDetails" method="post">
                        @await Html.PartialAsync("Account/_PersonalDetailsForm", new PersonalDetailsFormViewModel
                        {
                            Chapter = chapter,
                            EmailAddress = member.EmailAddress,
                            FirstName = member.FirstName,
                            LastName = member.LastName
                        })
                        <button class="btn btn-primary">Update</button>
                    </form>
                </section>
            </div>
    })
})