@page "/{chapterName}/Account/Email/Change"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Services
@model ChangeEmailModel
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Change email";

    var viewModel = new ChapterAccountViewModel
    {
        Chapter = Model.Chapter,
        CurrentMember = Model.CurrentMember
    };
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
    {
        Title = "Change email address",
        MenuContentFunc = _ => Html.PartialAsync("Account/_AccountMenu", new AccountMenuViewModel
        {
            Chapter = viewModel.Chapter
        }),
        BodyContentFunc = 
            @<div>
                <section class="section">
                    @await Html.PartialAsync("Account/_ChangeEmailContent", viewModel)
                </section>
            </div>
    })
})