@page "/{chapterName}/Account/Email/Change"
@attribute [Authorize]
@using ODK.Services.Caching
@using ODK.Services.Users
@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Account
@using Microsoft.AspNetCore.Authorization
@model ODK.Web.Razor.Pages.Chapters.Account.ChangeEmailModel
@inject IAccountViewModelService AccountViewModelService
@inject IRequestCache RequestCache
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Change email";

    var memberId = User.MemberId();
    var chapter = await RequestCache.GetChapterAsync(Model.Platform, Model.ChapterName);
    var viewModel = await AccountViewModelService.GetChapterAccountViewModel(memberId, Model.ChapterName);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",    
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = OdkRoutes.Account.EmailAddressChange(chapter),
        Chapter = chapter,
        Content = 
            @<div>
                <h2>Change email address</h2>
                <section class="section">
                    @await Html.PartialAsync("Account/_ChangeEmailContent", viewModel)
                </section>
            </div>
    })
})