@page "/{chapterName}/account/conversations"
@using ODK.Services.Members
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Chapters
@using ODK.Web.Razor.Models.Components
@model ConversationsModel
@inject IMemberViewModelService MemberViewModelService
@inject IOdkRoutes OdkRoutes
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "My conversations";

    var viewModel = await MemberViewModelService.GetMemberConversationsPage(Model.MemberChapterServiceRequest, Model.Archived);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
    {
        Title = "My conversations",
        MenuContentFunc = _ => Html.PartialAsync("Account/_AccountMenu", new AccountMenuViewModel
        {
            Chapter = Model.Chapter
        }),
        BodyContentFunc = 
            @<div>
                <section class="section">
                    @await Html.PartialAsync("Conversations/_ConversationsContent", new ChapterConversationsViewModel
                    {
                        ActiveConversationCount = viewModel.ActiveConversationCount,
                        Archived = viewModel.Archived,
                        ArchivedConversationCount = viewModel.ArchivedConversationCount,
                        Chapter = Model.Chapter,
                        Chapters = null,
                        Conversations = viewModel.Conversations,
                        ConversationsUrlFunc = archived => OdkRoutes.Groups.Conversations(Model.Chapter, archived),
                        ConversationUrlFunc = id => OdkRoutes.Groups.Conversation(Model.Chapter, id),
                        CurrentMember = Model.CurrentMember
                    })
                </section>
            </div>
    })
})