@page "/{chapterName}/Account/Delete"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.Chapters.Account.DeleteModel
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Delete account";
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = OdkRoutes.Account.Delete(Model.Chapter),
        Chapter = Model.Chapter,
        Content =
            @<div>
                <h2>Delete account</h2>
                <section class="section">
                    @await Html.PartialAsync("Account/_DeleteAccountContent")
                </section>
            </div>
    })
})