@page "/{chapterName}/Account/Delete"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model DeleteModel
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Delete account";

    var chapter = Model.Chapter;
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
    {
        Title = "Delete account",
        MenuContentFunc = _ => Html.PartialAsync("Account/_AccountMenu", new AccountMenuViewModel
        {
            Chapter = chapter
        }),
        BodyContentFunc = 
            @<div>
                <section class="section">
                    @await Html.PartialAsync("Account/_DeleteAccountContent")
                </section>
            </div>
    })
})