@page "/{chapterName}/Account/Emails"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Users
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.Chapters.Account.EmailsModel
@inject IAccountViewModelService AccountViewModelService
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Email preferences";

    var viewModel = await AccountViewModelService.GetChapterAccountViewModel(Model.CurrentMemberId, Model.ChapterName);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",    
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = OdkRoutes.Account.EmailPreferences(viewModel.Chapter),
        Chapter = viewModel.Chapter,
        Content =
            @<div>
                <h2>Email preferences</h2>
                <section class="section">
                    @await Html.PartialAsync("Account/_EmailPreferencesContent", new EmailPreferencesContentViewModel
                    {
                        ChapterName = viewModel.Chapter.Name,
                        CurrentMember = viewModel.CurrentMember
                    })
                </section>
            </div>
    })
})