@page "/{chapterName}/Account/Emails"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Users
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Services
@model EmailsModel
@inject IAccountViewModelService AccountViewModelService
@inject IRequestStore RequestStore
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Email preferences";

    var chapter = await RequestStore.GetChapter();
    var viewModel = await AccountViewModelService.GetMemberEmailPreferencesPage(Model.MemberServiceRequest);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
    {
        Title = "Email preferences",
        MenuContentFunc = _ => Html.PartialAsync("Account/_AccountMenu", new AccountMenuViewModel
        {
            Chapter = chapter
        }),
        BodyContentFunc = 
            @<div>
                <section class="section">
                    @await Html.PartialAsync("Account/_EmailPreferencesContent", viewModel)
                </section>
            </div>
    })
})