@page "/{chapterName}/Account/Payments"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Users
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model PaymentsModel
@inject IAccountViewModelService AccountViewModelService
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Payments";

    var chapter = Model.Chapter;
    var viewModel = await AccountViewModelService.GetMemberChapterPaymentsPage(Model.MemberServiceRequest, chapter);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
    {
        Title = "My payments",
        MenuContentFunc = _ => Html.PartialAsync("Account/_AccountMenu", new AccountMenuViewModel
        {
            Chapter = viewModel.Chapter
        }),
        BodyContentFunc = 
            @<div>
                <section class="section">
                    @await Html.PartialAsync("Account/_PaymentsContent", viewModel)
                </section>
            </div>
    })
})