@page "/{chapterName}/account/pending"
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Components
@model PendingModel
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Join";
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = $"Join the {Model.Chapter.FullName}",
    Breadcrumbs = new []
    {
        new MenuItem 
        { 
            Link = Model.OdkRoutes.Groups.Group(Model.Chapter),
            Text = Model.Chapter.GetDisplayName(Model.Platform)
        },
        new MenuItem { Text = "Join" }
    },
    ContentFunc =
        @<div>
            <div class="alert alert-success">
                Thank you for signing up. An email has been sent to your email address containing a link to activate your account.
            </div>
        </div>
})