@page "/{chapterName}/Account/Picture"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Members
@using ODK.Services.Users
@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.Chapters.Account.PictureModel
@inject IAccountViewModelService AccountViewModelService
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Picture";

    var viewModel = await AccountViewModelService.GetChapterPicturePage(Model.CurrentMemberId, Model.ChapterName);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
    {
        Title = "Picture",
        MenuContentFunc = _ => Html.PartialAsync("Account/_AccountMenu", new AccountMenuViewModel
        {
            Chapter = viewModel.Chapter
        }),
        BodyContentFunc = 
            @<div>
                <section class="section">
                    @await Html.PartialAsync("Account/_UpdatePictureContent", new UpdatePictureViewModel
                    {
                        Avatar = viewModel.Avatar,
                        Chapter = viewModel.Chapter,
                        Image = viewModel.Image,
                        Member = viewModel.CurrentMember                    
                    })
                </section>
            </div>
    })
})

@section styles
{
    @await Html.PartialAsync("Components/Styles/_Imaging")
}

@section scripts
{
    @await Html.PartialAsync("Components/Scripts/_Imaging")
}