@page "/{chapterName}/Account/Picture"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Members
@using ODK.Services.Users
@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.Chapters.Account.PictureModel
@inject IAccountViewModelService AccountViewModelService
@{
    Layout = "_ChapterLayout";
    Model.Title = "Picture";

    var viewModel = await AccountViewModelService.GetChapterPicturePage(Model.CurrentMemberId, Model.ChapterName);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = OdkRoutes.Account.Picture(viewModel.Chapter.Name),
        ChapterName = viewModel.Chapter.Name,
        Content = 
            @<div>
                @await Html.PartialAsync("Account/_UpdatePictureContent", new UpdatePictureViewModel
                {
                    Avatar = viewModel.Avatar,
                    ChapterName = viewModel.Chapter.Name,
                    Image = viewModel.Image,
                    Member = viewModel.CurrentMember                    
                })
            </div>
    })
})

@section styles
{
    @await Html.PartialAsync("Components/_ImagingStyles")
}

@section scripts
{
    @await Html.PartialAsync("Components/_ImagingScripts")
}