@page "/{chapterName}/Account/Profile"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Core.Extensions
@using ODK.Services.Members
@using ODK.Services.Users
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.Chapters.Account.ProfileModel
@inject IAccountViewModelService AccountViewModelService
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Profile";

    var chapter = await Model.GetChapter();
    var viewModel = await AccountViewModelService.GetChapterProfilePage(Model.MemberServiceRequest, chapter);
    var memberChapter = viewModel.CurrentMember.MemberChapter(viewModel.Chapter.Id);
    if (memberChapter == null)
    {
        return;
    }

    var dateJoined = memberChapter.CreatedUtc;
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
    {
        Title = "Profile",
        MenuContentFunc = _ => Html.PartialAsync("Account/_AccountMenu", new AccountMenuViewModel
        {
            Chapter = viewModel.Chapter
        }),
        BodyContentFunc = 
            @<div>
                <section class="section">
                    <form method="post" action="/groups/@viewModel.Chapter.Id/profile">
                        @*@Html.AntiForgeryToken()*@

                        @await Html.PartialAsync("Account/_ChapterProfileForm", viewModel.ChapterProfile)

                        <div class="form-group mb-3">
                            <label class="form-label">Date joined</label>
                            <div class="form-control-plaintext">
                                <span>@viewModel.Chapter.ToLocalTime(dateJoined).ToString("d MMMM yyyy")</span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </section>
            </div>
    })
})