@page "/{chapterName}/account/subscription/confirm"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Core.Payments
@using ODK.Services.Members
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Payments
@model SubscriptionCheckoutConfirmModel
@inject IMemberService MemberService
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Subscription pending confirmation";
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    HideSubscriptionAlert = true,
    Content = await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
    {
        Title = "Checkout",
        Breadcrumbs = new BreadcrumbsViewModel
        {
            Breadcrumbs = new[]
            {
                new MenuItem
                {
                    Icon = IconType.ArrowLeft,
                    Text = "My subscription",
                    Link = Model.OdkRoutes.Account.Subscription(Model.Chapter)
                }
            }
        },
        MenuContentFunc = _ => Html.PartialAsync("Account/_AccountMenu", new AccountMenuViewModel
        {
            Chapter = Model.Chapter
        }),
        BodyContentFunc = 
            @<div>
                <section class="section">
                    @await Html.PartialAsync("Payments/_PaymentConfirmContent", new PaymentConfirmViewModel
                    {
                        Chapter = Model.Chapter,
                        SessionId = Model.SessionId
                    })
                </section>
            </div>
    })
})

@section scripts 
{
    @await Html.PartialAsync("Payments/_PaymentConfirmScripts")
}