@page "/{chapterName}/account/subscription/{id:guid}/checkout"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Core
@using ODK.Core.Payments
@using ODK.Services.Members
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Payments
@model SubscriptionCheckoutModel
@inject IMemberService MemberService
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Subscription checkout";

    var request = Model.MemberChapterServiceRequest(Model.Chapter.Id);
    var returnPath = $"/{Model.Chapter.Name}/account/subscription/{Model.SubscriptionId}/confirm?sessionId={{sessionId}}";
    var viewModel = await MemberService.StartChapterSubscriptionCheckoutSession(
        request, Model.SubscriptionId, returnPath);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    HideSubscriptionAlert = true,
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = OdkRoutes.Account.Subscription(Model.Platform, Model.Chapter),
        Chapter = Model.Chapter,
        Content =
            @<div>
                @await Html.PartialAsync("Components/_Breadcrumbs", new BreadcrumbsViewModel
                {
                    Breadcrumbs = new[]
                    {
                        new MenuItem { Text = "My subscription", Link = OdkRoutes.Account.Subscription(Model.Platform, Model.Chapter) },
                        new MenuItem { Text = "Checkout" }
                    }
                })
                <h2>Checkout</h2>
                <section class="section">
                    <div id="checkout"
                         data-stripe="@viewModel.PaymentSettings.ApiPublicKey"
                         data-stripe-checkout="@viewModel.ClientSecret">
                        <!-- Checkout will insert the payment form here -->
                    </div>
                </section>
            </div>
    })
})

@section scripts
{
    @await Html.PartialAsync("Payments/_PaymentScripts", new PaymentScriptsViewModel
    {
        ApiPublicKey = viewModel.PaymentSettings.ApiPublicKey ?? "",
        CurrencyCode = viewModel.CurrencyCode,
        IsSubscription = true,
        Provider = viewModel.PaymentSettings.Provider ?? PaymentProviderType.None
    })
}