@page "/{chapterName}/account/subscription/{id:guid}/checkout"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Core
@using ODK.Core.Payments
@using ODK.Services.Members
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Payments
@model SubscriptionCheckoutModel
@inject IMemberService MemberService
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Subscription checkout";

    var chapter = await Model.GetChapter();
    var request = await Model.CreateMemberChapterServiceRequest();
    var returnPath = $"/{chapter.ShortName}/account/subscription/{Model.SubscriptionId}/confirm?sessionId={{sessionId}}";
    var viewModel = await MemberService.StartChapterSubscriptionCheckoutSession(
        request, Model.SubscriptionId, returnPath);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    HideSubscriptionAlert = true,
    Content = await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
    {
        Title = "Checkout",
        Breadcrumbs = new BreadcrumbsViewModel
        {
            Breadcrumbs = new[]
            {
                new MenuItem
                {
                    Icon = IconType.ArrowLeft,
                    Text = "My subscription",
                    Link = OdkRoutes.Account.Subscription(Model.Platform, chapter)
                }
            }
        },
        MenuContentFunc = _ => Html.PartialAsync("Account/_AccountMenu", new AccountMenuViewModel
        {
            Chapter = chapter
        }),
        BodyContentFunc = 
            @<div>
                <section class="section">
                    <div id="checkout"
                         data-stripe="@viewModel.PaymentSettings.ApiPublicKey"
                         data-stripe-checkout="@viewModel.ClientSecret">
                        <!-- Checkout will insert the payment form here -->
                    </div>
                </section>
            </div>
    })
})

@section scripts
{
    @await Html.PartialAsync("Payments/_PaymentScripts", new PaymentScriptsViewModel
    {
        Providers = [viewModel.PaymentSettings.Provider]
    })
}