@page "/{chapterName}/Account/Subscription"
@attribute [Authorize]
@using ODK.Core.Platforms
@using ODK.Services.Chapters
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Account
@using Microsoft.AspNetCore.Authorization
@model ODK.Web.Razor.Pages.Chapters.Account.SubscriptionModel
@inject IChapterService ChapterService
@inject IPlatformProvider PlatformProvider
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Subscription";

    var memberId = User.MemberId();
    var chapterPaymentSettings = await ChapterService.GetChapterPaymentSettings(memberId, Model.Chapter.Id);
    var platform = PlatformProvider.GetPlatform();
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    HideSubscriptionAlert = true,    
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = OdkRoutes.Account.Subscription(platform, Model.Chapter),
        Chapter = Model.Chapter,
        Content = 
            @<div>
                <h2>My subscription</h2>
                <section class="section">
                    @await Html.PartialAsync("Account/_ChapterSubscriptionContent", new ChapterSubscriptionContentViewModel
                    {
                        Chapter = Model.Chapter,
                        ChapterPaymentSettings = chapterPaymentSettings
                    })
                </section>
            </div>
    })
})