@page "/{chapterName}/Account/Subscription"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Core.Chapters
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.Chapters.Account.SubscriptionModel
@{
    Layout = "_OdkChapterLayout";
    Model.Title = "Subscription";

    var chapterSubscriptionContentViewModel = new OdkComponentViewModel<Chapter>(Model.ComponentContext, Model.Chapter);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    HideSubscriptionAlert = true,    
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = OdkRoutes.Account.Subscription(Model.Platform, Model.Chapter),
        Chapter = Model.Chapter,
        Content = 
            @<div>
                <h2>My subscription</h2>
                <section class="section">
                    @await Html.PartialAsync("Account/_ChapterSubscriptionContent", chapterSubscriptionContentViewModel)
                </section>
            </div>
    })
})