<app-body>
  <ng-container *ngIf="!message">
    <p>
      Enter your registered email address below to receive a link that will enable you to reset your password. The link will remain active for 30 minutes.
    </p>
    <p>
      <app-form [form]="form" (formSubmit)="onFormSubmit()">
        <div app-button-row>
          <a class="btn btn-secondary ml-1" [routerLink]="links.login">
            Cancel
          </a>
        </div>
      </app-form>
    </p>
  </ng-container>
  <div *ngIf="message">
    <ngb-alert type="success">{{message}}</ngb-alert>
  </div>
</app-body>