@page "/{chapterName}/admin/payments/account"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@model AccountModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Payment account | Admin";

    var request = Model.MemberChapterServiceRequest;
    var viewModel = await ChapterAdminService.GetChapterPaymentAccountViewModel(request);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Payment account",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Payments/_AccountContent", viewModel)</div>
})