@page "/{chapterName}/admin/payments"
@using ODK.Services
@using ODK.Services.Payments
@using ODK.Web.Razor.Models.Admin
@model PaymentsModel
@inject IPaymentAdminService PaymentAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Payments | Admin";
    
    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await PaymentAdminService.GetPayments(request);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Payments",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Payments/_PaymentsContent", viewModel)</div>
})