@using ODK.Services.Authentication
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Header
@model AccountMenuViewModel
@{
    var adminChapters = Model.MemberChapters
        .Where(x => Model.Member?.IsMemberOf(x.Id) == true)
        .ToArray();

    var defaultChapter = Model.CurrentChapter != null && Model.Member != null && Model.Member.IsMemberOf(Model.CurrentChapter.Id)
        ? Model.CurrentChapter
        : Model.MemberChapters.FirstOrDefault();

    var isAdmin = User.IsInRole(OdkRoles.Admin);
}

@if (Model.MemberChapters.Count > 0)
{
    <div class="account-links" role="button">
        <div class="dropdown">
            <div class="text-light account-links__user dropdown-toggle" data-bs-toggle="dropdown">
                @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.User))
            </div>
            <div class="dropdown-menu dropdown-menu-end text-end">
                @if (Model.MemberChapters.Count == 1)
                {
                    var memberChapter = Model.MemberChapters.First();
                    var adminChapter = isAdmin ? adminChapters
                        .FirstOrDefault(x => x.Id == memberChapter.Id) : null;

                    <a class="dropdown-item" href="/@memberChapter.Name/Account">My profile</a>
                    <a class="dropdown-item" href="/@memberChapter.Name">@memberChapter.Name</a>
                    <a class="dropdown-item" href="/@memberChapter.Name/Account/Logout">Sign Out</a>
                    
                    @if (adminChapter != null)
                    {
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/@adminChapter.Name/Admin/Chapter/Text">@adminChapter.Name Admin</a>
                        <a class="dropdown-item" href="/@adminChapter.Name/Admin/Events/Create">Create event</a>
                    }
                }
                else if (Model.MemberChapters.Count > 1)
                {
                    for (var i = 0; i < Model.MemberChapters.Count; i++)
                    {
                        var memberChapter = Model.MemberChapters.ElementAt(i);
                        var adminChapter = isAdmin ? adminChapters
                            .FirstOrDefault(x => x.Id == memberChapter.Id) : null;

                        <div class="dropdown dropstart">
                            <div class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">
                                @memberChapter.Name
                            </div>
                            <div class="dropdown-menu text-end">
                                <a class="dropdown-item" href="/@memberChapter.Name">Home</a>
                                <a class="dropdown-item" href="/@memberChapter.Name/Account">My profile</a>

                                @if (adminChapter != null)
                                {
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/@adminChapter.Name/Admin/Chapter/Text">Admin</a>
                                    <a class="dropdown-item" href="/@adminChapter.Name/Admin/Events/Create">Create event</a>

                                    if (Model.Member?.SuperAdmin == true)
                                    {
                                        <a class="dropdown-item" href="/@adminChapter.Name/Admin/Superadmin">Super admin</a>
                                    }
                                }
                            </div>                            
                        </div>                                                                        
                    }

                    <div class="dropdown-divider"></div>

                    @if (defaultChapter != null)
                    {
                        <a class="dropdown-item" href="/@defaultChapter.Name/Account/Logout">Sign Out</a>
                    }                    
                }

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-theme-selector="dark">Dark mode</a>
                <a class="dropdown-item" href="#" data-theme-selector="light">Light mode</a>                
            
                @if (Model.Member?.SuperAdmin == true)
                {                                        
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/SuperAdmin">Site admin</a>
                }
            </div>
        </div>
    </div>
}