@using ODK.Web.Razor.Models.Header
@model HeaderViewModel

<header>
    <div class="bg-dark text-center">
        <div class="container position-relative">
            <a href="@Model.ImageLink">
                <img src="@Model.ImageUrl">            
            </a>
        </div>
    </div>
    <div>
        @await Html.PartialAsync("Header/_Navbar", Model.Navbar)
    </div>
</header>