@using ODK.Core.Chapters
@using ODK.Core.Members
@using ODK.Core.Platforms
@using ODK.Core.Utils
@using ODK.Services.Chapters
@using ODK.Web.Common.Routes
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Header
@using ODK.Web.Razor.Services
@inject IChapterService ChapterService
@inject IOdkRoutes OdkRoutes
@inject IRequestStore RequestStore
@{
    var platform = RequestStore.Platform;
    if (platform != PlatformType.DrunkenKnitwits)
    {
        return;
    }

    var member = RequestStore.CurrentMemberOrDefault;

    var chapters = await ChapterService.GetApprovedChapters(platform);
    var menuItems = chapters
        .OrderBy(x => x.Name)
        .Select(c => new MenuItem
        {
            ExternalLink = !string.IsNullOrEmpty(c.RedirectUrl) ? c.RedirectUrl : null,
            Link = string.IsNullOrEmpty(c.RedirectUrl) ? OdkRoutes.Groups.Group(c) : null,
            Text = c.GetDisplayName(platform)
        })
        .ToArray();
}

@await Html.PartialAsync("Header/_Header", new HeaderViewModel()
{   
   ImageLink = "/",
   ImageUrl = "/assets/img/home-banner.png",
   Navbar = new NavbarViewModel
   {
       Breakpoint = "md",
       Chapter = null,
       Color = "dark",
       Compact = false,
       CssClass = "navbar--home d-md-none",
       HideAccountMenu = false,
       Member = member,
       MenuItems = menuItems.Segment(5).ToArray()
   }
})

<div class="mb-1 d-none d-md-block">
    @await Html.PartialAsync("Header/_Navbar", new NavbarViewModel
    {
        Breakpoint = "md",
        Color = "dark",
        Compact = false,
        CssClass = null,
        Member = member,
        MenuItems =
            [
                [new MenuItem { Hidden = true, Text = "" }]
            ]
     })
</div>