@using ODK.Services.Authentication
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Services
@inject IOdkRoutes OdkRoutes
@inject IRequestStore RequestStore
@{
    var currentMember = RequestStore.CurrentMemberOrDefault;
    var currentMemberId = RequestStore.CurrentMemberIdOrDefault;
}

<div data-odk-component="_SiteAccountDropdown">
    @if (currentMemberId != null)
    {
        <div class="dropdown" role="button">
            <div class="text-light account-links__user dropdown-toggle" data-bs-toggle="dropdown">
                @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.User))
            </div>
            <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item dropdown-item--icon" href="/account">
                    <span class="icon">
                        @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.UserOutline))
                    </span>
                    <span>My account</span>
                </a>

                <div class="dropdown-divider"></div>

                <div class="dropdown-header dropdown-item--header">Groups</div>

                @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
                {
                    Class = "dropdown-item dropdown-item--icon",
                    Icon = IconType.Groups,
                    Route = OdkRoutes.GroupAdmin.Index(),
                    Text = "My groups"
                })
                
                @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
                {
                    Class = "dropdown-item dropdown-item--icon",
                    Icon = IconType.Plus,
                    Route = OdkRoutes.GroupAdmin.Create(),
                    Text = "Create"
                })

                <div class="dropdown-divider"></div>

                <a class="dropdown-item dropdown-item--icon" href="#" data-theme-selector="dark">
                    <span class="icon">
                        @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Moon))
                    </span>
                    <span>Dark mode</span>
                </a>
                <a class="dropdown-item dropdown-item--icon" href="#" data-theme-selector="light">
                    <span class="icon">
                        @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Sun))
                    </span>
                    <span>Light mode</span>
                </a>

                @if (currentMember?.SiteAdmin == true)
                {
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item dropdown-item--icon" href="@OdkRoutes.SiteAdmin.Index">
                        <span class="icon">
                            @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Wrench))
                        </span>
                        <span>Site admin</span>
                    </a>
                }

                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropdown-item--icon" href="/account/logout">
                    <span class="icon">
                        @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Logout))
                    </span>
                    <span>Sign Out</span>
                </a>
            </div>
        </div>
    }
    else
    {
        <div class="button-container">
            <a class="btn btn-outline-primary anonymous-link" href="/account/login">Sign in</a>
            <a class="btn btn-primary anonymous-link" href="/account/create">Sign up</a>
        </div>
    }
</div>