@using ODK.Core.Platforms
@using ODK.Services.Members
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Header
@using ODK.Web.Razor.Services
@inject IOdkRoutes OdkRoutes
@inject IRequestStore RequestStore
@{
    if (RequestStore.Platform != PlatformType.Default)
    {
        return;
    }

    var currentMember = RequestStore.CurrentMemberOrDefault;

    var menuItems = new List<MenuItem>
    {
        new MenuItem
        {
            Link = OdkRoutes.Groups.Index(),
            Text = "Groups"
        }
    };

    if (currentMember != null)
    {
        menuItems.Add(new MenuItem
        {
            Link = OdkRoutes.GroupAdmin.Index().Path,
            Text = "My groups"
        });
    }

    menuItems.Add(new MenuItem
    {
        Link = OdkRoutes.Site.Pricing,
        Text = "Pricing"
    });
}

<div data-odk-component="_SiteHeader">
    <nav class="navbar navbar-dark bg-dark text-light border-bottom border-light navbar-expand-md">
        <div class="container-md">
            <a href="/" class="navbar-brand">
                <img class="site-logo" src="/assets/groupsquirrel/logo3-outline.svg" />
            </a>            

            <div class="d-flex gap-4 ms-auto align-items-center order-md-5">
                @await Html.PartialAsync("Header/_SiteTasksDropdown")
                @await Html.PartialAsync("Header/_NotificationDropdown")
                @await Html.PartialAsync("Header/_SiteAccountDropdown")
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#site-nav"
                        aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse site-nav" id="site-nav">
                <ul class="navbar-nav">
                    @foreach (var menuItem in menuItems)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@menuItem.Link">@menuItem.Text</a>
                        </li>
                    }             
                </ul>
            </div>
        </div>
    </nav>
</div>