@using ODK.Core.Platforms
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models
@model OdkComponentContext
@{
    if (Model.Platform != PlatformType.Default)
    {
        return;
    }

    var id = "site-menu";
    var authenticated = User.Authenticated();
}

<nav class="navbar navbar-dark bg-dark text-light border-bottom border-light navbar-expand">
    <div class="container flex-wrap flex-md-nowrap">
        <div class="me-3">
            <a href="/">
                <img class="site-logo" src="/assets/img/groupsquirrel.webp" />
            </a>
        </div>
        
        @*<button class="navbar-toggler"
        type="button" data-bs-toggle="collapse" data-bs-target="#@id"
        aria-controls="@id" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>*@

        <div class="d-flex gap-4 ms-auto align-self-center order-md-5">
            @await Html.PartialAsync("Header/_SiteTasksDropdown", Model)
            @await Html.PartialAsync("Header/_NotificationDropdown", Model)
            @await Html.PartialAsync("Header/_SiteAccountDropdown", Model)
        </div>

        <div class="navbar-collapse site-nav" id="@id">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@OdkRoutes.Groups.Index(Model.Platform)">Groups</a>
                </li>

                @if (authenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@OdkRoutes.MemberGroups.Index(Model.Platform)">My groups</a>
                    </li>
                }                
            </ul>
        </div>
    </div>
</nav>