@using ODK.Core.Chapters
@using ODK.Services.Emails
@using ODK.Web.Common.Extensions
@model ODK.Core.Chapters.Chapter
@inject IEmailAdminService EmailAdminService
@{
    var memberId = User.MemberId();
    var providers = await EmailAdminService.GetChapterEmailProviders(memberId, Model.Id);
}

<p>
    <a class="btn btn-primary" href="/@Model.Name/Admin/SuperAdmin/EmailProviders/Create">
        Create
    </a>
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Provider</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (ChapterEmailProvider provider in providers)
    {
        <tr>
            <td>
                <a href="/@Model.Name/Admin/SuperAdmin/EmailProviders/@provider.Id">@provider.SmtpServer</a>
            </td>
            <td>
                <form method="post" action="/@Model.Name/Admin/SuperAdmin/EmailProviders/@provider.Id/Delete">
                    <button data-bs-toggle="tooltip" data-bs-title="Delete" class="btn-icon text-danger"
                            onclick="return confirm('Are you sure you want to delete this email provider?');">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>