@using ODK.Services.Settings
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.SuperAdmin
@model ODK.Core.Chapters.Chapter
@inject ISettingsService SettingsService
@{
    var memberId = User.MemberId();        
    var settings = await SettingsService.GetSiteSettings();
}

<section class="mb-5">
    <h2>Settings</h2>
    <form action="/SuperAdmin/Emails/Settings" method="post">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("SuperAdmin/_EmailSettingsForm", new SiteEmailSettingsViewModel
        {
            FromEmailAddress = settings.DefaultFromEmailAddress,
            FromEmailName = settings.DefaultFromEmailName,
            Title = settings.DefaultEmailTitle
        })
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</section>

<section class="mb-5">
    <h2>Emails</h2>
    @await Html.PartialAsync("SuperAdmin/_EmailsTable")
</section>

<section>
    <h3>Providers</h3>
    @await Html.PartialAsync("SuperAdmin/_EmailProviders")
</section>
