@using ODK.Services.Settings
@using ODK.Web.Common.Extensions
@inject ISettingsService SettingsService
@{
    var memberId = User.MemberId();
    var providers = await SettingsService.GetEmailProviders(memberId);
}

<p>
    <a class="btn btn-primary" href="/superadmin/emailproviders/create">
        Create
    </a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Provider</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var provider in providers)
            {
                <tr>
                    <td>
                        <a href="/superadmin/emailproviders/@provider.Id">@provider.SmtpServer</a>
                    </td>
                    <td>
                        <form method="post" action="/superadmin/emails/providers/@provider.Id/delete">
                            <button data-bs-toggle="tooltip" data-bs-title="Delete" class="btn-icon text-danger"
                                    onclick="return confirm('Are you sure you want to delete this email provider?');">
                                <i class="fas fa-times"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>