@using ODK.Web.Razor.Models.SuperAdmin
@model ODK.Core.Emails.EmailProvider

<form method="post">
    @*@Html.AntiForgeryToken()*@
    @await Html.PartialAsync("SuperAdmin/_EmailProviderForm", new EmailProviderFormViewModel
    {
        BatchSize = Model.BatchSize,
        DailyLimit = Model.DailyLimit,
        Name = Model.Name,
        SmtpLogin = Model.SmtpLogin,
        SmtpPassword = Model.SmtpPassword,
        SmtpPort = Model.SmtpPort,
        SmtpServer = Model.SmtpServer
    })
    <button class="btn btn-primary">Update</button>
</form>