@using ODK.Web.Razor.Models.SuperAdmin
@model ODK.Core.Chapters.Chapter

<form method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("SuperAdmin/_FeatureForm", new FeatureFormViewModel())
    <button class="btn btn-primary">Create</button>
</form>