@using ODK.Core.Logging
@using ODK.Services.Logging
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.SuperAdmin
@model ODK.Web.Razor.Models.SuperAdmin.FeatureContentViewModel
@{
    var memberId = User.MemberId();    
}

<form method="post">
    @*@Html.AntiForgeryToken()*@
    @await Html.PartialAsync("SuperAdmin/_FeatureForm", new FeatureFormViewModel
    {
        Description = Model.Feature.Description,
        Name = Model.Feature.Name
    })
    <button class="btn btn-primary">Update</button>
</form>