@using ODK.Web.Razor.Razor
@model ODK.Web.Razor.Models.SuperAdmin.InstagramFormViewModel

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.ScraperUserAgent, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.ScraperUserAgent, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ScraperUserAgent)
</div>