@using ODK.Core.Chapters
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.SuperAdmin
@model ODK.Core.Chapters.Chapter
@inject IChapterAdminService ChapterAdminService
@{
    var memberId = User.MemberId();
    var serviceRequest = new AdminServiceRequest(Model.Id, memberId);
    var paymentSettings = await ChapterAdminService.GetChapterPaymentSettings(serviceRequest);
}

<h2>Payment settings</h2>

<form method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("SuperAdmin/_PaymentSettingsForm", new PaymentSettingsFormViewModel
    {
        Provider = paymentSettings?.Provider,
        PublicKey = paymentSettings?.ApiPublicKey,
        SecretKey = paymentSettings?.ApiSecretKey
    })
    <button class="btn btn-primary">Update</button>
</form>