@using ODK.Core.Chapters
@using ODK.Core.Payments
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Payments
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.SuperAdmin
@model SitePaymentSettings

<h2 class="d-none d-md-block">Payment settings</h2>

<section class="section">
    <form method="post">
        @*@Html.AntiForgeryToken()*@
        @await Html.PartialAsync("SuperAdmin/_PaymentSettingsForm", new PaymentSettingsFormViewModel
        {        
            Provider = Model.Provider,
            PublicKey = Model.ApiPublicKey,
            SecretKey = Model.ApiSecretKey
        })
        <button class="btn btn-primary">Update</button>
    </form>
</section>