@using ODK.Services.Subscriptions
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Services
@inject IRequestStore RequestStore
@inject ISiteSubscriptionAdminService SiteSubscriptionAdminService
@{
    var subscriptions = await SiteSubscriptionAdminService.GetAllSubscriptions(RequestStore.MemberServiceRequest);
}

<h2>Subscriptions</h2>

<section class="section">
    <p>
        <a class="btn btn-primary" href="/superadmin/subscriptions/new">
            Create
        </a>
    </p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Payment settings</th>
                    <th>Enabled</th>
                    <th>Group limit</th>
                    <th>Member limit</th>
                    <th>Features</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subscription in subscriptions.OrderBy(x => x.SitePaymentSettings.Name).ThenBy(x => x.Name))
                {
                    <tr>
                        <td>
                            <a href="/superadmin/subscriptions/@subscription.Id">@subscription.Name</a>
                        </td>
                        <td>
                            <span>
                                @subscription.SitePaymentSettings.Name
                            </span>
                            @if (subscription.SitePaymentSettings.Active)
                            {
                                @await Html.PartialAsync("Components/Icons/_CircleCheck", new IconViewModel
                                {
                                    Class = "text-success"
                                })
                            }
                        </td>
                        <td>
                            @if (subscription.Enabled)
                            {
                                <form action="/superadmin/subscriptions/@subscription.Id/disable" method="post">
                                    <button class="btn btn-icon">
                                        @await Html.PartialAsync("Components/Icons/_CircleCheck", new IconViewModel
                                        {
                                            Class = "text-success"
                                        })
                                    </button>                                    
                                </form>                                
                            }
                            else
                            {
                                <form action="/superadmin/subscriptions/@subscription.Id/enable" method="post">
                                    <button class="btn btn-icon">
                                        <i class="fa-regular fa-circle-xmark text-danger"></i>
                                    </button>
                                </form>                                
                            }
                        </td>
                        <td>@subscription.GroupLimit</td>
                        <td>@subscription.MemberLimit</td>
                        <td>
                            @if (subscription.Premium)
                            {
                                <i class="fa-solid fa-star text-warning" data-bs-toggle="tooltip" data-bs-title="Premium"></i>
                            }
                            @if (subscription.SendMemberEmails)
                            {
                                <i class="fas fa-envelope" data-bs-toggle="tooltip" data-bs-title="Send member emails"></i>
                            }
                            @if (subscription.MemberSubscriptions)
                            {
                                <i class="fa-solid fa-dollar-sign" data-bs-toggle="tooltip" data-bs-title="Member subscriptions"></i>
                            }
                        </td>
                        <td>
                            @if (subscription.Default)
                            {
                                @:Default
                            }
                            else
                            {
                                <form action="/superadmin/subscriptions/@subscription.Id/default" method="post">
                                    @*@Html.AntiForgeryToken()*@
                                    <button class="btn btn-primary btn-sm">Set default</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>