@using ODK.Web.Razor.Razor
@model ODK.Web.Razor.Models.SuperAdmin.TimeZoneFormViewModel

<div class="form-group mb-3">
    @Html.LabelFor(x => x.TimeZone, new { @class = "form-label" })
    @Html.OdkTimeZoneDropDownFor(x => x.TimeZone, "", new { @class = "form-select" })
</div>