@using ODK.Services.Topics
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Components
@inject ITopicAdminService TopicAdminService
@{
    var memberId = User.MemberId();
    var viewModel = await TopicAdminService.GetTopicsAdminPageViewModel(memberId);
    var topicDictionary = viewModel.Topics
        .GroupBy(x => x.TopicGroupId)
        .ToDictionary(x => x.Key, x => x.ToArray());
}

<h2>Topics</h2>

<section class="section">
    <div class="d-flex flex-column gap-4">
        @foreach (var topicGroup in viewModel.TopicGroups.OrderBy(x => x.Name))
        {
            topicDictionary.TryGetValue(topicGroup.Id, out var topics);

            @await Html.PartialAsync("Components/_Panel", new PanelViewModel
            {
                TitleContentFunc = @<h5>@topicGroup.Name</h5>,
                BodyContentFunc = 
                    @<div>
                        @if (topics != null)
                        {
                            @foreach (var topic in topics.OrderBy(x => x.Name))
                            {
                                <div class="badge text-bg-secondary">@topic.Name</div>
                            }
                        }

                        <form action="/superadmin/topics" method="post">
                            @Html.AntiForgeryToken()
                            @Html.Hidden("TopicGroupId", topicGroup.Id.ToString())

                            <div class="input-group mt-3">
                                <input type="text" class="form-control" placeholder="Add topic" aria-label="Add topic" name="Name" />
                                <button class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
            })
        }
    </div>
</section>