<ngb-tabset type="pills" [activeId]="activeTab" (tabChange)="onTabChange($event)">
  <ngb-tab id="settings" title="Settings">
    <ng-template ngbTabContent>
      <app-chapter-settings></app-chapter-settings>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="about" title="About">
    <ng-template ngbTabContent>
      <app-chapter-questions></app-chapter-questions>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="emails" title="Emails">
    <ng-template ngbTabContent>
      <app-chapter-emails></app-chapter-emails>
    </ng-template>
  </ngb-tab>

  <ngb-tab *ngIf="superAdmin" id="payments" title="Payments">
    <ng-template ngbTabContent>
      <app-chapter-payment-settings></app-chapter-payment-settings>
    </ng-template>
  </ngb-tab>
</ngb-tabset>