@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Chapters
@model ChapterTileViewModel
@{
    var chapter = Model.Chapter;
}

<div class="card">
    <div class="card-header d-flex">
        <div class="me-auto">
            <a href="@OdkRoutes2.Groups.Group(chapter)">@chapter.Name</a>
        </div>
        @if (Model.IsOwner || Model.IsAdmin)
        {
            <div>
                @if (!chapter.Approved())
                {
                    <i class="fa-solid fa-triangle-exclamation text-danger" 
                        data-bs-toggle="tooltip" data-bs-title="Pending approval"></i>
                }
                else if (chapter.CanBePublished())
                {
                    <i class="fa-solid fa-triangle-exclamation text-warning" 
                        data-bs-toggle="tooltip" data-bs-title="Pending publication"></i>
                }
            </div>
        }        
    </div>
    <div class="card-body">        
        <p class="card-text">@chapter.Description</p>
    </div>
    @if (Model.IsOwner || Model.IsAdmin)
    {
        <div class="card-footer text-body-secondary">
            <a href="@OdkRoutes2.MemberGroups.Group(chapter.Id)">
                <i class="fa-solid fa-gear"></i> Manage
            </a>
        </div>
    }    
</div>