@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Chapters
@using ODK.Web.Razor.Models.Components
@model ChapterTileViewModel
@{
    var chapter = Model.Chapter;
}

@await Html.PartialAsync("Components/_Card", new CardViewModel
{
    HeaderContentFunc = 
        @<div class="d-flex gap-3">
            <div class="me-auto">
                <a href="@OdkRoutes2.Groups.Group(Model.Platform, chapter)">@chapter.Name</a>
            </div>
            @if (Model.IsOwner || Model.IsAdmin)
            {
                <div>
                    @if (!chapter.Approved())
                    {
                        <i class="fa-solid fa-triangle-exclamation text-danger" 
                            data-bs-toggle="tooltip" data-bs-title="Pending approval"></i>
                    }
                    else if (chapter.CanBePublished())
                    {
                        <i class="fa-solid fa-triangle-exclamation text-warning" 
                            data-bs-toggle="tooltip" data-bs-title="Pending publication"></i>
                    }
                </div>
            }        
        </div>,
    BodyContentFunc = @<p class="card-text">@Model.Texts?.Description</p>,
    FooterContentFunc = 
        @<div>
            @if (Model.IsAdmin || Model.IsOwner)
            {
                <a class="text-body-secondary" href="@OdkRoutes2.MemberGroups.Group(Model.Platform, chapter)">
                    @await Html.PartialAsync("Components/Icons/_Settings") 
                    <span>Manage</span>
                </a>
            }            
        </div>
})
