@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Chapters
@using ODK.Web.Razor.Models.Components
@model ChapterTileViewModel
@{
    var chapter = Model.Chapter;
}

@await Html.PartialAsync("Components/_Card", new CardViewModel
{
    HeaderContentFunc = 
        @<div class="d-flex gap-3">
            <div class="me-auto">
                <a href="@OdkRoutes.Groups.Group(Model.Platform, chapter)">
                    @chapter.GetDisplayName(Model.Platform)
                </a>
            </div>
            @if (Model.IsOwner || Model.IsAdmin)
            {
                <div>
                    @if (!chapter.Approved())
                    {
                        <span data-bs-toggle="tooltip" data-bs-title="Not approved">
                            @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.ExclamationTriangle)
                            {
                                Class = "text-danger"
                            })
                        </span>
                    }
                    else if (chapter.CanBePublished())
                    {
                        <span data-bs-toggle="tooltip" data-bs-title="Not published">
                            @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.ExclamationTriangle)
                            {
                                Class = "text-warning"
                            })
                        </span>
                    }
                </div>
            }        
        </div>,
    BodyContentFunc = @<p class="card-text">@Model.Texts?.Description</p>,
    FooterContentFunc = 
        @<div>
            @if (Model.IsAdmin || Model.IsOwner)
            {
                @await Html.PartialAsync("Chapters/Admin/_ManageChapterLink", new ManageChapterLinkViewModel
                {
                    Chapter = Model.Chapter,
                    Platform = Model.Platform
                })
            }            
        </div>
})
