@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Chapters
@using ODK.Web.Razor.Models.Components
@model ManageChapterLinkViewModel
@{
    var iconViewModel = new IconViewModel(IconType.Settings);
}

<div data-odk-component="_ManageChapterLink">
    <a class="text-body-secondary link-hover d-flex gap-1 align-items-center" 
        href="@OdkRoutes.MemberGroups.Group(Model.Platform, Model.Chapter)">
        @await Html.PartialAsync("Components/_Icon", iconViewModel)
        <span class="link-hover__underline">Manage</span>
    </a>
</div>