@model ODK.Web.Razor.Models.Footer.FooterViewModel

<footer>
    <section class="section--footer">
        <div class="container">
            <div>
                <a href="/">Home</a>
            </div>
            <div>
                <a href="/Privacy">Privacy</a>
            </div>
        </div>
    </section>
</footer>