@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Footer
@model FooterViewModel

<footer>
    <section class="section--footer">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col container">
                    <div>
                        <a href="/">Knitwits International Home</a>
                    </div>
                    <div>
                        <a href="/Privacy">Privacy</a>
                    </div>
                </div>
                @if (Model.Links != null)
                {
                    <div class="col">
                        @await Html.PartialAsync("Components/_SocialMediaLinks", new SocialMediaLinksViewModel
                        {
                            Facebook = Model.Links.FacebookName,
                            Instagram = Model.Links.InstagramName,
                            ShowNames = true,
                            Twitter = Model.Links.TwitterName
                        })
                    </div>
                }                
            </div>
        </div>
    </section>
</footer>