@using ODK.Core.Platforms
@using ODK.Web.Common.Routes
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models.Footer
@using ODK.Web.Razor.Services
@model FooterViewModel
@inject IOdkRoutes OdkRoutes
@inject IRequestStore RequestStore
@{
    if (RequestStore.Platform != PlatformType.Default)
    {
        return;
    }
}

<footer>
    <section class="section--footer">
        <div class="container">
            <div>
                <a href="/">Home</a>
            </div>
            <div>
                <a href="@OdkRoutes.Site.Privacy">Privacy</a>
            </div>
            <div>
                <a href="@OdkRoutes.Site.Contact">Contact</a>
            </div>
            <div>
                <a href="@OdkRoutes.Site.Pricing">Pricing</a>
            </div>
        </div>
    </section>
</footer>