@using ODK.Core.Platforms
@using ODK.Web.Razor.Models.Footer
@model FooterViewModel
@{
    if (Model.Platform != PlatformType.Default)
    {
        return;
    }
}

<footer>
    <section class="section--footer">
        <div class="container">
            <div>
                <a href="/">Home</a>
            </div>
            <div>
                <a href="/privacy">Privacy</a>
            </div>
            <div>
                <a href="/contact">Contact</a>
            </div>
            <div>
                <a href="/pricing">Pricing</a>
            </div>
        </div>
    </section>
</footer>