<div class="sidebar">
  <ng-container *appLoading="!eventViewModels">
    <div class="card sidebar-card" *ngIf="eventViewModels.length">
      <div class="card-header">Upcoming events</div>
      
      <div *ngFor="let viewModel of eventViewModels" class="card-body card-body-sm">
        <h5 class="card-title">
          <app-event-response-icon *ngIf="viewModel.memberResponse" [type]="viewModel.memberResponse.responseType"
            [readOnly]="true">
          </app-event-response-icon>
          <a [routerLink]="getEventLink(viewModel.event)">
            {{viewModel.event.name}}
          </a>
        </h5>
        <h6 class="d-inline-block d-md-block">{{viewModel.event.date | date:'fullDate'}}</h6>
        <span class="d-md-none">&nbsp;|&nbsp;</span>            
        <div class="d-inline-block d-md-block">{{viewModel.venue.name}}</div>
      </div>
    </div>
  </ng-container>    
</div>