@page "/{chapterName}/admin/chapter/subscription/{id:guid}/checkout"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Payments
@model ChapterSubscriptionCheckoutModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Checkout | Subscription | Admin";

    var chapter = Model.Chapter;
    var request = Model.MemberChapterAdminServiceRequest;

    var returnPath = $"/{chapter.ShortName}/admin/chapter/subscription/{Model.PriceId}/confirm?sessionId={{sessionId}}";
    var viewModel = await ChapterAdminService.StartSiteSubscriptionCheckout(
        request, Model.PriceId, returnPath);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Checkout",    
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Icon = IconType.ArrowLeft,
            Text = "Back to subscription",
            Link = Model.AdminRoutes.Subscription(Model.Chapter).Path
        }
    },
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_ChapterSubscriptionCheckoutContent", viewModel)</div>
})

@section scripts
{
    @await Html.PartialAsync("Payments/_PaymentScripts", new PaymentScriptsViewModel
    {
        Providers = [viewModel.PaymentSettings.Provider]
    })
}