@page "/{chapterName}/Admin/Chapter/Subscription"
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Members
@using ODK.Services.Subscriptions
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Admin.Chapters
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Payments
@model ChapterSubscriptionModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Subscription | Admin";

    var request = Model.MemberChapterServiceRequest(Model.Chapter.Id);
    var viewModel = await ChapterAdminService.GetChapterSubscriptionViewModel(request);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Subscription",
    Chapter = Model.Chapter,
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_ChapterSubscriptionContent", viewModel)</div>
})

@section scripts
{
    @{
        var added = new List<Guid>();
    }

    @foreach (var dto in viewModel.SiteSubscriptions.Subscriptions)
    {
        var paymentSettings = viewModel.SiteSubscriptions.SitePaymentSettings
        .First(x => x.Id == dto.Subscription.SitePaymentSettingId);
        if (added.Contains(paymentSettings.Id))
        {
            continue;
        }

        added.Add(paymentSettings.Id);

        @await Html.PartialAsync("Payments/_PaymentScripts", new PaymentScriptsViewModel
        {
            ApiPublicKey = paymentSettings.ApiPublicKey ?? "",
            CurrencyCode = "",
            IsSubscription = true,
            Provider = paymentSettings.Provider
       })
    }
}