@page "/{chapterName}/admin/chapter/subscription/{id:guid}/checkout"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Core.Payments
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Subscriptions
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Payments
@model ChapterSubscriptionCheckoutModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Checkout | Subscription | Admin";

    var request = Model.CreateMemberChapterServiceRequest(Model.Chapter.Id);
    var returnPath = $"/{Model.ChapterName}/admin/chapter/subscription/{Model.PriceId}/confirm?sessionId={{sessionId}}";
    var viewModel = await ChapterAdminService.StartSiteSubscriptionCheckout(
        request, Model.PriceId, returnPath);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Checkout",
    Chapter = Model.Chapter,
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_ChapterSubscriptionCheckoutContent", viewModel)</div>
})

@section scripts
{
    @await Html.PartialAsync("Payments/_PaymentScripts", new PaymentScriptsViewModel
    {
        ApiPublicKey = viewModel.PaymentSettings.ApiPublicKey ?? "",
        CurrencyCode = viewModel.CurrencyCode,
        IsSubscription = true,
        Provider = viewModel.PaymentSettings.Provider ?? PaymentProviderType.None
    })
}