@page "/{chapterName}/Admin/Chapter/Emails"
@using ODK.Core.Chapters
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model EmailsModel
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Email templates | Admin";

    var chapter = await Model.GetChapter();
    var viewModel = new OdkComponentViewModel<Chapter>(Model.ComponentContext, chapter);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Email templates",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_EmailsContent", viewModel)</div>
})