@page "/{chapterName}/admin/chapter/emails/{type}"
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Admin.Chapters
@model EmailModel
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Email | Admin";

    var chapter = Model.Chapter;
    var viewModel = new ChapterEmailContentViewModel(chapter, Model.Email);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Email",
    Breadcrumbs = new[]
    {
        new MenuItem { Link = Model.AdminRoutes.Emails(chapter).Path, Text = "Emails" },
        new MenuItem { Text = Model.Email.Type.ToString() }
    },
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_EmailContent", viewModel)</div>
})