@page "/{chapterName}/admin/chapter/pages"
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Security
@using ODK.Web.Razor.Models.Admin
@model PagesModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Pages | Admin";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await ChapterAdminService.GetChapterPagesViewModel(request);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Pages",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_PagesContent", viewModel)</div>
})