@page "/{chapterName}/Admin/Chapter/Privacy"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model PrivacyModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Privacy | Admin";

    var request = await Model.CreateMemberChapterServiceRequest();
    var viewModel = await ChapterAdminService.GetChapterPrivacyViewModel(request);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Privacy settings",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_PrivacyContent", viewModel)</div>
})