@page "/{chapterName}/Admin/Chapter/Properties/Create"
@using ODK.Core.Chapters
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.Chapters.Admin.Chapters.PropertyCreateModel
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Create property | Admin";
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Create member property",
    Chapter = Model.Chapter,
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.GroupProperties(Model.Platform, Model.Chapter),
            Text = "Member properties"
        },
        new MenuItem { Text = "New" }
    },
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_PropertyCreateContent")</div>
})