@page "/{chapterName}/Admin/Chapter/Questions"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model QuestionsModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Questions | Admin";

    var request = Model.MemberChapterServiceRequest;
    var viewModel = await ChapterAdminService.GetChapterQuestionsViewModel(request);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "FAQ",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_QuestionsContent", viewModel)</div>
})