@page "/{chapterName}/Admin/Chapter/Questions/Create"
@using ODK.Core.Chapters
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model QuestionCreateModel
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Create question | Admin";
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Create question",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = Model.AdminRoutes.Questions(Model.Chapter).Path,
            Text = "Back to FAQ",
            Icon = IconType.ArrowLeft
        }
    }, 
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_QuestionCreateContent")</div>
})