@page "/{chapterName}/Admin/Chapter/Text"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model TextModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Texts | Admin";

    var request = await Model.CreateMemberChapterServiceRequest();
    var viewModel = await ChapterAdminService.GetChapterTextsViewModel(request);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Texts",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_TextContent", viewModel)</div>
})