@page "/my/groups/{chapterId:guid}/questions/new"
@using ODK.Core.Chapters
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model CreateModel
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Create question";

    var chapter = await Model.GetChapter();

    var viewModel = new OdkComponentViewModel<Chapter>(Model.ComponentContext, chapter);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Create question",
    Breadcrumbs = new BreadcrumbsViewModel
    {
        Breadcrumbs = new[]
        {
            new MenuItem
            {
                Link = OdkRoutes.MemberGroups.GroupQuestions(Model.Platform, chapter),
                Text = "Back to FAQ",
                Icon = IconType.ArrowLeft
            }
        }
    },
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_QuestionCreateContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})