@page "/my/groups/{chapterId:guid}/questions"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.My.Groups.Group.Questions.IndexModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "FAQ";

    var viewModel = await ChapterAdminService.GetChapterQuestionsViewModel(Model.AdminServiceRequest);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "FAQ",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_QuestionsContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})