@using ODK.Core.Platforms
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Services
@model AccountMenuViewModel
@inject IRequestStore RequestStore
@{
    var platform = RequestStore.Platform;

    var menuItems = new MenuItem[]
    {
        new MenuItem 
        { 
            Link = OdkRoutes.Account.PersonalDetails(Model.Chapter), 
            Text = "Personal details", 
            Children = new[]
            {
                platform == PlatformType.DrunkenKnitwits
                    ? new MenuItem { Link = OdkRoutes.Account.EmailAddressChange(platform, Model.Chapter), Text = "Email address" }
                    : new MenuItem(),
                platform == PlatformType.DrunkenKnitwits
                    ? new MenuItem { Link = OdkRoutes.Account.Picture(Model.Chapter), Text = "Picture" }
                    : new MenuItem()
            }
        },
        platform == PlatformType.Default 
            ? new MenuItem { Link = OdkRoutes.Account.Location(), Text = "Location" }
            : new MenuItem(),
        new MenuItem { Link = OdkRoutes.Account.Profile(Model.Chapter), Text = "Profile" },
        Model.Chapter == null
            ? new MenuItem { Link = OdkRoutes.Account.Interests(), Text = "My interests" }
            : new MenuItem(),
        new MenuItem { Link = OdkRoutes.Account.Conversations(Model.Chapter), Text = "My conversations" },
        new MenuItem { Link = OdkRoutes.Account.Subscription(platform, Model.Chapter), Text = "My subscription" },
        new MenuItem { Link = OdkRoutes.Account.Payments(Model.Chapter), Text = "My payments" },
        new MenuItem { Link = OdkRoutes.Account.PasswordChange(Model.Chapter), Text = "Password" },
        platform == PlatformType.DrunkenKnitwits
            ? new MenuItem { Link = OdkRoutes.Account.EmailPreferences(Model.Chapter), Text = "Email preferences" }
            : new MenuItem(),
        new MenuItem { Link = OdkRoutes.Account.Notifications(Model.Chapter), Text = "Notifications" },
        platform == PlatformType.DrunkenKnitwits
            ? new MenuItem()
            : new MenuItem { Link = OdkRoutes.Account.Issues(), Text = "Issues" },
        new MenuItem { Link = OdkRoutes.Account.Delete(Model.Chapter), Text = "Delete account" }
    }.Where(x => !string.IsNullOrEmpty(x.Link)).ToArray();

    var activeMenuItem = menuItems
        .FirstOrDefault(x => string.Equals(x.Link, Model.Active, StringComparison.InvariantCultureIgnoreCase));
}

<div data-odk-component="_AccountMenu">
    @await Html.PartialAsync("Components/_SideMenu", new SideMenuViewModel
    {
        Active = activeMenuItem,
        MenuItems = menuItems,
        Root = true
    })
</div>