@using ODK.Core.Members
@using ODK.Services.Users.ViewModels
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model AccountCreateFormViewModel

@await Html.PartialAsync("Components/_Wizard", new WizardViewModel
{
    Pages = new[]
    {
        new WizardPageViewModel
        {
            Title = "Identity",
            ContentFunc = 
                @<div>
                    @await Html.PartialAsync("Account/_PersonalDetailsForm", new PersonalDetailsFormViewModel())                    
                </div>
        },
        new WizardPageViewModel
        {
            Title = "Location",
            ContentFunc = 
                @<div>
                    @await Html.PartialAsync("Account/_LocationForm", new LocationFormViewModel
                    {
                        TimeZoneId = Member.DefaultTimeZoneId
                    })
                </div>
        },
        new WizardPageViewModel
        {
            Title = "Complete",
            ContentFunc = 
                @<div>
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
        }
    }
})