@using ODK.Core.Members
@using ODK.Services.Users.ViewModels
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Topics
@model AccountCreateFormViewModel

@await Html.PartialAsync("Components/_Wizard", new WizardViewModel
{
    Pages = new[]
    {
        new WizardPageViewModel
        {
            Title = "Identity",
            ContentFunc = 
                @<div>
                    @await Html.PartialAsync("Account/_PersonalDetailsForm", new PersonalDetailsFormViewModel())                    
                    <hr class="mt-0" />
                    @await Html.PartialAsync("Account/_OAuthDetailsForm", new OAuthDetailsFormViewModel())
                    <div class="form-group mb-3">
                        @await Html.PartialAsync("Components/_GoogleLoginButton", new GoogleLoginButtonViewModel
                        {
                            ClientId = Model.GoogleClientId,
                            Text = "Sign up with Google"
                        })
                    </div>                    
                </div>
        },
        new WizardPageViewModel
        {
            Title = "Location",
            ContentFunc = 
                @<div>
                    @await Html.PartialAsync("Account/_LocationForm", new LocationFormViewModel
                    {
                        TimeZoneId = Member.DefaultTimeZoneId
                    })
                </div>
        },
        new WizardPageViewModel
        {
            Title = "Interests",
            ContentFunc = 
                @<div class="mb-3">
                    <p>
                        We use your interests to help you find groups relevant to you
                    </p>
                    @await Html.PartialAsync("Topics/_TopicPicker", new TopicPickerViewModel
                    {
                        Addable = true,
                        TopicGroups = Model.TopicGroups,
                        Topics = Model.Topics
                    })
                </div>
        },
        new WizardPageViewModel
        {
            Title = "Complete",
            ContentFunc = 
                @<div>
                    <div class="d-none mb-3" data-oauth-show>
                        <p>
                            Your account will be ready to use and we will send you a welcome email.
                        </p>
                        <p>
                            Thank you for signing up!
                        </p>
                    </div>
                    <div class="mb-3" data-oauth-hide>
                        <p>
                            We will send you an email with an activation link to check that you own the email address you have provided.
                        </p>
                        <p>
                            After you follow the activation link your account will be ready to use.
                        </p>
                        <p>
                            Thank you for signing up!
                        </p>
                    </div>

                    <button type="button" class="btn btn-primary w-100" data-submit="parent">
                        <span>Sign up</span>
                        @await Html.PartialAsync("Components/Icons/_Rocket")
                    </button>
                </div>
        }
    }
})