@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Components
@inject IOdkRoutes OdkRoutes
@{
    var menuItems = new[]
    {
        new MenuItem { Link = OdkRoutes.Account.PersonalDetails(), Text = "Personal details", },
        new MenuItem { Link = OdkRoutes.Account.Picture(null), Text = "Picture" },
        new MenuItem { Link = OdkRoutes.Account.EmailPreferences(null), Text = "Emails" }
    };
}

<div data-odk-component="_AccountPersonalDetailsMenu">
    @await Html.PartialAsync("Components/_Tabs", new TabsViewModel
    {
        MenuItems = menuItems
    })
</div>