@model ODK.Web.Razor.Models.Account.ActivateFormViewModel

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Password, new { @class = "form-label" })
    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Password)
</div>
