@using ODK.Core.Chapters
@using ODK.Services.Chapters
@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Extensions
@model ChapterJoinPageViewModel
@{
    var memberId = User.MemberIdOrDefault();
}

@if (!string.IsNullOrEmpty(Model.Texts?.RegisterText))
{
    <p>
        @Html.Raw(Model.Texts.RegisterText)
    </p>
}

<form method="post" action="/@Model.Chapter.Name/Account/Join" enctype="multipart/form-data">
    @*@Html.AntiForgeryToken()*@
    
    @if (memberId == null)
    {
        @await Html.PartialAsync("Account/_PersonalDetailsForm", new PersonalDetailsFormViewModel
        {
            Chapter = Model.Chapter
        });
    }    

    @await Html.PartialAsync("Account/_ChapterProfileForm", Model.Profile)
    
    <button type="submit" class="btn btn-primary">Create</button>
</form>