@using ODK.Core.Members
@using ODK.Services.Users.ViewModels
@using ODK.Web.Razor.Models.Account
@model ChapterAccountViewModel

<form method="post" action="/account/email/change">
    @Html.AntiForgeryToken()        
    
    @await Html.PartialAsync("Account/_ChangeEmailForm", new ChangeEmailFormViewModel
    {
        Current = Model.CurrentMember.EmailAddress
    })

    <button type="submit" class="btn btn-primary">Update</button>
</form>