@using ODK.Core.Extensions
@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Members
@model ChapterAccountPageViewModel
@{
    var dateJoined = Model.CurrentMember.MemberChapter(Model.Chapter.Id).CreatedUtc;
}

<div class="row row-cols-2">
    <div class="col">
        @await Html.PartialAsync("Account/_AccountMenu", new AccountMenuViewModel
        {
            ChapterName = Model.Chapter.Name
        })
    </div>

    <div class="col">
        <div class="form-group text-end">
            <div class="d-inline-block">
                <div class="d-flex justify-content-end">
                    @await Html.PartialAsync("Members/_MemberImage", new MemberImageViewModel
                    {
                        ChapterName = Model.Chapter.Name,
                        Member = Model.CurrentMember
                    })
                </div>                
                
                <div class="d-flex justify-content-end">
                    <div class="d-flex">
                        <button class="btn btn-link" type="button" data-bs-toggle="modal" data-bs-target="#change-picture-modal">
                            Change picture
                        </button>                                                

                        <form class="d-flex align-items-center" method="post" action="@OdkRoutes.Account.PictureRotate(Model.Chapter.Name)">
                            <button class="btn-icon" data-bs-toggle="tooltip" data-bs-title="Rotate right">
                                <i class="fas fa-undo flip-horizontal"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Components/_Modal", new ModalViewModel
{
    Id = "change-picture-modal",
    Title = "Change picture",
    Size = "modal-lg",
    Body =
    @<div>
        <form method="post" action="@OdkRoutes.Account.PictureUpload(Model.Chapter.Name)" enctype="multipart/form-data">
            @await Html.PartialAsync("Account/_PictureUpload", new PictureUploadViewModel
            {
                ChapterName = Model.Chapter.Name,
                CropHeight = Model.Avatar?.CropHeight,
                CropWidth = Model.Avatar?.CropWidth,
                CropX = Model.Avatar?.CropX,
                CropY = Model.Avatar?.CropY
            })

            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
})

<form method="post" action="/@Model.Chapter.Name/Account/Profile">
    @Html.AntiForgeryToken()

    @await Html.PartialAsync("Account/_PersonalDetailsForm", Model.PersonalDetails)

    @await Html.PartialAsync("Account/_ChapterProfileForm", Model.ChapterProfile)

    <div class="form-group mb-3">
        <label class="form-label">Date joined</label>
        <div class="form-control-plaintext">
            <span>@TimeZoneEntityExtensions.ToLocalTime(Model.Chapter, dateJoined).ToString("d MMMM yyyy")</span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>