@using ODK.Web.Razor.Models.Account

<form method="post" action="/Account/Password/Change">
    @await Html.PartialAsync("Account/_ChangePasswordForm", new ChangePasswordFormViewModel())
    <button type="submit" class="btn btn-primary">Update</button>
</form>