@using ODK.Core.Members
@using ODK.Services.Users.ViewModels
@using ODK.Web.Razor.Models.Account
@model MemberEmailPreferencesPageViewModel
@{
    var preferencesDictionary = Model.Preferences
        .ToDictionary(x => x.Type);

    var types = new[]
    {
        MemberEmailPreferenceType.Events,
        MemberEmailPreferenceType.EventMessages,
        MemberEmailPreferenceType.ConversationMessages,
        MemberEmailPreferenceType.ChapterMessages
    };

    var preferenceViewModels = types
        .Select(x => new EmailPreferenceFormViewModel
        {
            Enabled = preferencesDictionary.ContainsKey(x) ? !preferencesDictionary[x].Disabled : true,
            Type = x
        })
        .ToList();
}

<p>Choose whether or not you want to receive the following:</p>

<form action="/account/emails" method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("Account/_EmailPreferencesForm", new EmailPreferencesFormViewModel
    {
        Preferences = preferenceViewModels
    })
    <button class="btn btn-primary">Update</button>
</form>