@model ODK.Web.Razor.Models.Account.ForgottenPasswordFormViewModel

<p>
    Enter your registered email address below to receive a link that will enable you to reset your password. The link will remain active for 30 minutes.
</p>

<form method="post" action="@(Model.Chapter != null ? $"/{Model.Chapter.Id}" : "")/Account/Password/Forgotten">
    @*@Html.AntiForgeryToken()*@
    
    <div class="form-group mb-3 required">
        @Html.LabelFor(x => x.EmailAddress, new { @class = "form-label" })
        @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.EmailAddress, null)
    </div>

    <button class="btn btn-primary">Submit</button>
</form>