@using ODK.Services.Users.ViewModels

<form method="post" action="/Account/Join" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    
    @await Html.PartialAsync("Account/_ProfileForm", new ProfileFormSubmitViewModel())

    <button type="submit" class="btn btn-primary">Sign up</button>
</form>