@model ODK.Web.Razor.Models.Account.ResetPasswordFormViewModel

<form method="post">
    @Html.HiddenFor(x => x.Token)
    <div class="form-group mb-3 required">
        @Html.LabelFor(x => x.NewPassword, new { @class = "form-label" })
        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.NewPassword)
    </div>
    <button class="btn btn-primary">Reset</button>
</form>