@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Members
@model SitePicturePageViewModel
@{
    var dateJoined = Model.CurrentMember.CreatedUtc;
}

<div class="d-flex">
    <div class="me-auto">
        @await Html.PartialAsync("Account/_AccountMenu", new AccountMenuViewModel
        {
            Chapter = null
        })
    </div>

    <div class="form-group text-end">
        <div class="d-inline-block">
            <div class="d-flex justify-content-center">
                @await Html.PartialAsync("Members/_MemberAvatar", new MemberAvatarViewModel
               {                   
                   Avatar = Model.Avatar,
                   Member = Model.CurrentMember
               })
            </div>

            <div class="d-flex mt-3">
                <div class="d-flex gap-2">
                    <button class="btn btn-link p-0" type="button" data-bs-toggle="modal" data-bs-target="#change-picture-modal">
                        Change
                    </button>

                    <form class="d-flex align-items-center" method="post" action="/account/picture/rotate">
                        <button class="btn-icon" data-bs-toggle="tooltip" data-bs-title="Rotate right">
                            <i class="fas fa-undo flip-horizontal"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Components/_Modal", new ModalViewModel
{
    Id = "change-picture-modal",
    Title = "Change picture",
    Size = "modal-lg",
    Body =
    @<div>
        <form method="post" action="/account/picture/change" enctype="multipart/form-data">
            @await Html.PartialAsync("Account/_PictureUpload", new PictureUploadViewModel())

            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
})
