@using ODK.Web.Razor.Models.Account
<div class="row">
    <div class="col-lg-6">
        @await Html.PartialAsync("Account/_ForgottenPasswordForm", new ForgottenPasswordFormViewModel())
    </div>
</div>