<app-body title="My Profile">
    <div class="row">
        <div class="col-6">
            <div *ngIf="links">
                <a [routerLink]="links.subscription">My subscription</a>
            </div>
            <div>
                <a [routerLink]="links.changePassword">Change password</a>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group text-right">
                <app-profile-picture></app-profile-picture>
            </div>
        </div>
    </div>
    
    <app-profile-form></app-profile-form>
</app-body>