<app-body>
  <ng-container *appLoading="!profile">
    <ngb-alert *ngIf="successMessage" type="success">
      {{successMessage}}
    </ngb-alert>
    
    <div class="row">
      <div class="col-6" *ngIf="links">
        <div>
          <a [routerLink]="links.subscription">My subscription</a>
        </div>
        <div>
          <a [routerLink]="links.changePassword">Change password</a>
        </div>
        <div>
          <a [routerLink]="links.updateEmailAddress">Update email address</a>
        </div>
        <div>
          <a [routerLink]="links.emails">Email opt-in</a>
        </div>
        <div>
          <a [routerLink]="links.delete">Delete my account</a>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group text-right">
          <app-profile-picture></app-profile-picture>
        </div>
      </div>
    </div>

    <app-profile-form [chapterId]="chapterId" [formCallback]="formCallback" [profile]="profile" 
      (formSubmit)="onFormSubmit($event)">      
    </app-profile-form>
  </ng-container>    
</app-body>