<ng-container *ngIf="authenticated === true">
  <div ngbDropdown placement="bottom-right" class="account-links" display="dynamic">
    <div class="text-light account-links__user" ngbDropdownToggle>
      <i class="fas fa-user fa-2x"></i>
    </div>
    <div ngbDropdownMenu role="menu" *ngIf="links">
      <a class="dropdown-item" [routerLink]="links.profile">My profile</a>
      <a class="dropdown-item" [routerLink]="links.chapter">{{chapter.name}}</a>
      <a class="dropdown-item" [routerLink]="links.logout">Sign Out</a>
      <ng-container *ngIf="links.admin">
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="links.admin.home">{{chapter.name}} admin</a>
        <a class="dropdown-item" [routerLink]="links.admin.eventCreate">Create event</a>
      </ng-container>      
    </div>
  </div>
</ng-container>

<div *ngIf="authenticated === false" class="anonymous-links">
  <a class="btn btn-primary anonymous-link" [routerLink]="loginLink" [queryParams]="loginQueryParams">Sign in</a>
  <a *ngIf="activeChapter" class="btn btn-success anonymous-link" [routerLink]="joinLink">Join</a>
</div>