<div [formGroup]="formGroup" class="form-control form-control-custom" 
  [class.is-invalid]="isInvalid" [class.is-valid]="isValid">
  <ckeditor *ngIf="!sourceMode" [editor]="Editor" [id]="viewModel.id" [formControlName]="viewModel.id" [required]="required"
    (ready)="onReady($event)" (change)="onChange()">
  </ckeditor>  

  <textarea *ngIf="sourceMode" [attr.rows]="15"
      [attr.required]="required ? 'required' : null"
      class="form-control"
      [id]="viewModel.id" [name]="viewModel.id" [formControlName]="viewModel.id"
      (blur)="onValidate()">
  </textarea>

  <div>
    <button class="btn btn-link" type="button" (click)="onToggleMode()">
      {{sourceMode ? 'Hide source' : 'View source'}}
    </button>
  </div>
</div>