<footer>
  <section class="section--footer bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col container">
          <div>
            <a [routerLink]="links.home">Knitwits International Home</a>            
          </div>                    
          <div>
            <a [routerLink]="links.privacy">Privacy</a>
          </div>
        </div>
        <div class="col">        
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </section>
</footer>