@page "/my/groups/{id:guid}/payments/account"
@using ODK.Services.Chapters
@model ODK.Web.Razor.Pages.My.Groups.Group.Payments.AccountModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Account | Payments";

    var request = Model.AdminServiceRequest;
    var viewModel = await ChapterAdminService.GetChapterPaymentAccountViewModel(request);
}

<h2>Payment account</h2>

@if (string.IsNullOrEmpty(viewModel.ExternalId))
{
    <form method="post">
        <button class="btn btn-primary">Create</button>
    </form>
}

@if (!string.IsNullOrEmpty(viewModel.OnboardingUrl))
{
    <a href="@viewModel.OnboardingUrl">
        @viewModel.OnboardingUrl
    </a>
}