@page "/my/groups/{chapterId:guid}/members/properties/new"
@using ODK.Core.Chapters
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model CreateModel
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Create profile question";
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Create profile question",    
    Breadcrumbs = new BreadcrumbsViewModel
    {
        Breadcrumbs = new[]
        {
            new MenuItem 
            { 
                Link = Model.OdkRoutes.GroupAdmin.MemberProperties(Model.Chapter).Path,
                Text = "Back to profile questions",
                Icon = IconType.ArrowLeft
            }
        }
    },
    BodyContentFunc = 
        @<div>
            @await Html.PartialAsync("Admin/Chapter/_PropertyCreateContent")
        </div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})
