@page "/my/groups/{chapterId:guid}/members/properties/new"
@using ODK.Core.Chapters
@using ODK.Services.Chapters
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model CreateModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Create profile question";

    var chapter = await ChapterAdminService.GetChapter(Model.AdminServiceRequest);

    var viewModel = new OdkComponentViewModel<Chapter>(Model.ComponentContext, chapter);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Create profile question",    
    Breadcrumbs = new BreadcrumbsViewModel
    {
        Breadcrumbs = new[]
        {
            new MenuItem 
            { 
                Link = OdkRoutes.MemberGroups.MemberProperties(Model.Platform, chapter), 
                Text = "Back to profile questions",
                Icon = IconType.ArrowLeft
            }
        }
    },
    BodyContentFunc = 
        @<div>
            @await Html.PartialAsync("Admin/Chapter/_PropertyCreateContent", viewModel)
        </div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})
