<ng-container *appLoading="!providers">
  <p>
    <a [routerLink]="links.createProvider" class="btn btn-primary">Create</a>
  </p>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Provider</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let provider of providers">
        <td>
          <a [routerLink]="getChapterEmailProviderLink(provider)">{{provider.smtpServer}}</a>
        </td>
        <td>
          <button class="btn-icon text-danger" (click)="onDeleteProvider(provider)" ngbTooltip="Delete">
            <i class="fas fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>