<ng-container *appLoading="!members">
  <div class="row no-gutters"
    [class.row-cols-md-3]="cols === 4" [class.row-cols-4]="cols === 4"
    [class.row-cols-md-6]="cols === 3" [class.row-cols-3]="cols === 3"
    [class.row-cols-lg-4]="cols === 2" [class.row-cols-2]="cols === 2">        
    <div *ngFor="let member of members" [class.col]="cols > 0">
      <app-list-member [size]="size" [link]="getMemberLink(member)" [member]="member" [maxWidth]="maxWidth">                
      </app-list-member>
    </div>
  </div>
</ng-container>