@using ODK.Core.Chapters
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin.Members
@model ChapterAdminMember

<h2>@Model.Member.FullName</h2>
<form method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("Admin/Members/_AdminMemberForm", new AdminMemberFormViewModel
    {
        AdminEmailAddress = Model.AdminEmailAddress,
        Name = Model.Member.FullName,
        ReceiveContactEmails = Model.ReceiveContactEmails,
        ReceiveEventCommentEmails = Model.ReceiveEventCommentEmails,
        ReceiveNewMemberEmails = Model.ReceiveNewMemberEmails,
        SendNewMemberEmails = Model.SendNewMemberEmails
    })
    <button class="btn btn-primary">Update</button>
</form>
