@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin.Members
@model ChapterAdminMemberDto

<form method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("Admin/Members/_AdminMemberForm", new AdminMemberFormViewModel
    {
        AdminEmailAddress = Model.AdminMember.AdminEmailAddress,
        Name = Model.Member.FullName,
        ReceiveContactEmails = Model.AdminMember.ReceiveContactEmails,
        ReceiveEventCommentEmails = Model.AdminMember.ReceiveEventCommentEmails,
        ReceiveNewMemberEmails = Model.AdminMember.ReceiveNewMemberEmails,
        SendNewMemberEmails = Model.AdminMember.SendNewMemberEmails
    })
    <button class="btn btn-primary">Update</button>
</form>
