@using ODK.Core.Chapters
@using ODK.Services.Chapters
@using ODK.Services.Members.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Admin.Members
@using ODK.Web.Razor.Models.Components
@model AdminMemberAdminPageViewModel

<form method="post">
    @*@Html.AntiForgeryToken()*@
    <fieldset disabled="@(Model.ReadOnly ? "" : null)">
        @await Html.PartialAsync("Admin/Members/_AdminMemberForm", new AdminMemberFormViewModel
        {
            AdminEmailAddress = Model.AdminMember.AdminEmailAddress,
            CanEditRole = Model.CanEditRole,
            Name = Model.AdminMember.Member.FullName,
            ReadOnly = Model.ReadOnly,
            ReceiveContactEmails = Model.AdminMember.ReceiveContactEmails,
            ReceiveEventCommentEmails = Model.AdminMember.ReceiveEventCommentEmails,
            ReceiveNewMemberEmails = Model.AdminMember.ReceiveNewMemberEmails,
            Role = Model.AdminMember.Role,
            RoleOptions = Model.RoleOptions
        })
    </fieldset>

    @if (!Model.ReadOnly)
    {
        <button class="btn btn-primary">Update</button>
    }    
</form>