@using ODK.Web.Razor.Models.Admin.Members
@model ODK.Core.Chapters.ChapterAdminMember

<form method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("Admin/Members/_AdminMemberForm", new AdminMemberFormViewModel
    {
        AdminEmailAddress = Model.AdminEmailAddress,
        Name = Model.FullName,
        ReceiveContactEmails = Model.ReceiveContactEmails,
        ReceiveNewMemberEmails = Model.ReceiveNewMemberEmails,
        SendNewMemberEmails = Model.SendNewMemberEmails
    })
    <button class="btn btn-primary">Update</button>
</form>
