@using ODK.Core.Utils
@using ODK.Services.Members.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@model MemberApprovalsAdminPageViewModel
@inject IOdkRoutes OdkRoutes

@if (Model.MembershipSettings?.ApproveNewMembers != true)
{
    <p>
        <span>Members don't require approval at the moment.</span>
        @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
        {
            Route = OdkRoutes.GroupAdmin.MembershipSettings(Model.Chapter),
            Text = "Membership settings"
        })
    </p>

    if (Model.Pending.Count == 0)
    {
        return;
    }
}

<section class="section">
    @if (Model.Pending.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Member</th>
                        <th>Joined</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var member in Model.Pending.OrderBy(x => x.FullName))
                    {
                        <tr>
                            <td>
                                @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
                                {
                                    Route = OdkRoutes.GroupAdmin.Member(Model.Chapter, member.Id),
                                    Text = member.FullName
                                })
                            </td>
                            <td>
                                @member.MemberChapter(Model.Chapter.Id)?.CreatedUtc.ToFriendlyDateString(Model.Chapter.TimeZone)
                            </td>
                            <td>
                                <form action="/groups/@Model.Chapter.Id/members/@member.Id/approve" method="post">
                                    @*@Html.AntiForgeryToken()*@
                                    <button class="btn btn-success">Approve</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>There are no members waiting for approval</p>
    }
</section>