@using ODK.Core.Features
@using ODK.Services.Members.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin.Members
@using ODK.Web.Razor.Models.Components
@model SubscriptionCreateAdminPageViewModel

<section class="section" data-odk-component="_ChapterSubscriptionCreateContent">
    @await Html.PartialAsync("Components/_RestrictedFeature", new RestrictedFeatureViewModel(Model.OwnerSubscription)
    {
        Chapter = Model.Chapter,
        Feature = SiteFeatureType.MemberSubscriptions,
        ContentFunc = 
            @<div>
                @if (!Model.HasPaymentAccount && !Model.CurrentMember.SiteAdmin)
                {
                    var paymentAccountUrl = OdkRoutes.Payments.PaymentAccount(Model.Platform, Model.Chapter);
                    <div class="alert alert-danger">
                        You must set up a 
                        <a href="@paymentAccountUrl">payment account</a>
                        before you can create a subscription.
                    </div>
                }
                else
                {
                    <form method="post">
                        @*@Html.AntiForgeryToken()*@
                        @await Html.PartialAsync("Admin/Members/_SubscriptionForm", new SubscriptionFormViewModel
                        {
                            Currency = Model.Currency,
                            OwnerSubscription = Model.OwnerSubscription,
                            SupportsRecurringPayments = Model.SupportsRecurringPayments
                        })
                        <button class="btn btn-primary">Create</button>
                    </form>
                }                
            </div>
    })
</section>