@using ODK.Services.Members.ViewModels
@model MemberPaymentsAdminPageViewModel
@{
    var payments = Model.Payments
        .OrderByDescending(x => x.Payment.PaidUtc);
}

@await Html.PartialAsync("Admin/Members/_MemberAdminTabs", Model)

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Reference</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dto in payments)
            {
                var (payment, currency) = (dto.Payment, dto.Currency);

                if (payment.PaidUtc == null)
                {
                    continue;
                }

                <tr>
                    <td>
                        @Model.Chapter.ToChapterTime(payment.PaidUtc.Value).ToString("yyyy-MM-dd HH:mm:ss")
                    </td>
                    <td>
                        @currency.ToAmountString(payment.Amount)
                    </td>
                    <td>
                        @payment.Reference
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>