@using ODK.Services.Members.ViewModels
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Members
@model MemberImageAdminPageViewModel

@await Html.PartialAsync("Admin/Members/_MemberBreadcrumbs", Model)

@await Html.PartialAsync("Admin/Members/_MemberAdminTabs", Model)

<section class="section--admin">
    <h3>Picture</h3>
    @await Html.PartialAsync("Members/_MemberImage", new MemberImageViewModel
    {
        Member = Model.Member
    })
</section>
<section class="section--admin">
    <h3>Avatar</h3>
    @await Html.PartialAsync("Members/_MemberAvatar", new MemberAvatarViewModel
    {
        Member = Model.Member
    })
</section>
<section class="section--admin">
    <h3>Fix</h3>
    <form action="/groups/@Model.Chapter.Id/members/@Model.Member.Id/picture" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @await Html.PartialAsync("Account/_PictureUpload", new PictureUploadViewModel
        {
            CropHeight = Model.Avatar?.CropHeight,
            CropWidth = Model.Avatar?.CropWidth,
            CropX = Model.Avatar?.CropX,
            CropY = Model.Avatar?.CropY,
            MemberImage = Model.Image
        })
        <button class="btn btn-primary">Update</button>
    </form>
</section>