@using ODK.Core.Members
@using ODK.Services
@using ODK.Services.Members
@using ODK.Services.Members.ViewModels
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin.Members
@model MemberAdminPageViewModel

@await Html.PartialAsync("Admin/Members/_MemberAdminTabs", Model)

<form method="post">
    @*@Html.AntiForgeryToken()*@
    @await Html.PartialAsync("Admin/Members/_MemberForm", new MemberFormViewModel
    {
        SubscriptionExpiryDate = Model.Subscription?.ExpiresUtc,
        SubscriptionType = Model.Subscription?.Type
    })
    <div class="d-flex">
        <button type="submit" class="btn btn-primary me-auto">Update</button>
        <a class="btn btn-danger" href="@OdkRoutes.MemberGroups.MemberDelete(Model.Platform, Model.Chapter, Model.Member.Id)">
            Delete
        </a>
    </div>
</form>