@using ODK.Services.Members.ViewModels
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Members
@model MemberImageAdminPageViewModel

@await Html.PartialAsync("Admin/Members/_MemberBreadcrumbs", Model)
@await Html.PartialAsync("Admin/Members/_MemberAdminTabs", Model)

<section class="section--admin">
    <h3>Picture</h3>
    @await Html.PartialAsync("Members/_MemberAvatar", new MemberAvatarViewModel
    {
        Member = Model.Member
    })
</section>
<section class="section--admin">
    <h3>Upload</h3>
    <div class="alert alert-warning">
        Only use for fixing squished images
    </div>
    <form action="/groups/@Model.Chapter.Id/members/@Model.Member.Id/picture" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group mb-3">
            @await Html.PartialAsync("Account/_PictureUpload", new PictureUploadViewModel())
        </div>
        <button class="btn btn-primary">Update</button>
    </form>
</section>