@using ODK.Core.Members
@using ODK.Services
@using ODK.Services.Members
@using ODK.Services.Members.ViewModels
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin.Members
@model MemberAdminPageViewModel

@await Html.PartialAsync("Admin/Members/_MemberBreadcrumbs", Model)

@await Html.PartialAsync("Admin/Members/_MemberAdminTabs", new MemberAdminTabsViewModel
{
    Chapter = Model.Chapter,
    Member = Model.Member,
    Platform = Model.Platform
})

<form method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("Admin/Members/_MemberForm", new MemberFormViewModel
    {
        SubscriptionExpiryDate = Model.Subscription?.ExpiresUtc,
        SubscriptionType = Model.Subscription?.Type
    })
    <div class="d-flex">
        <button type="submit" class="btn btn-primary me-auto">Update</button>
        <button type="button" class="btn btn-danger"
                data-submit="#member-delete-form"
                data-submit-confirm="Are you sure you want to delete this member?">
            Delete
        </button>
    </div>
</form>

<form method="post" action="/groups/@Model.Chapter.Id/members/@Model.Member.Id/delete"
      id="member-delete-form">
</form>