@using ODK.Web.Razor.Models.Admin.Members
@model ODK.Web.Razor.Models.Admin.Members.SubscriptionEditViewModel

<form method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("Admin/Members/_SubscriptionForm", new SubscriptionFormViewModel
    {
        Amount = Model.Subscription.Amount,
        ChapterId = Model.Chapter.Id,
        Description = Model.Subscription.Description,
        DurationMonths = Model.Subscription.Months,
        Name = Model.Subscription.Name,
        Title = Model.Subscription.Title,
        Type = Model.Subscription.Type
    })
    <button class="btn btn-primary">Update</button>
</form>