@using ODK.Core.Features
@using ODK.Core.Members
@using ODK.Services.Members.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin.Members
@using ODK.Web.Razor.Models.Components
@model SubscriptionCreateAdminPageViewModel

@await Html.PartialAsync("Components/_Breadcrumbs", new BreadcrumbsViewModel
{
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.MembersSubscriptions(Model.Platform, Model.Chapter),
            Text = "Subscriptions"
        },
        new MenuItem { Text = "New" }
    }
})

<section class="section">
    @await Html.PartialAsync("Components/_RestrictedFeature", new RestrictedFeatureViewModel(Model.OwnerSubscription)
    {
        Chapter = Model.Chapter,
        Feature = SiteFeatureType.MemberSubscriptions,
        ContentFunc = 
            @<div>
                @if (Model.PaymentSettings?.CurrencyId == null)
                {
                    <div class="alert alert-warning">
                        You must update your 
                        <a href="@OdkRoutes.MemberGroups.GroupPayments(Model.Platform, Model.Chapter)">payment settings</a> 
                        before you can create subscriptions
                    </div>
                    return;
                }

                <form method="post">
                    @Html.AntiForgeryToken()
                    @await Html.PartialAsync("Admin/Members/_SubscriptionForm", new SubscriptionFormViewModel
                    {
                        OwnerSubscription = Model.OwnerSubscription,
                        PaymentSettings = Model.PaymentSettings,
                        Type = SubscriptionType.Full    
                    })
                    <button class="btn btn-primary">Create</button>
                </form>
            </div>
    })
</section>