@using ODK.Services.Members.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin.Members
@using ODK.Web.Razor.Models.Components
@model SubscriptionAdminPageViewModel

<form method="post">
    @*@Html.AntiForgeryToken()*@
    @await Html.PartialAsync("Admin/Members/_SubscriptionForm", new SubscriptionFormViewModel
    {
        Amount = Model.Subscription.Amount,
        Description = Model.Subscription.Description,
        DurationMonths = Model.Subscription.Months,
        Enabled = !Model.Subscription.Disabled,
        Id = Model.Subscription.Id,
        Name = Model.Subscription.Name,
        OwnerSubscription = Model.OwnerSubscription,
        PaymentSettings = Model.PaymentSettings,
        Recurring = Model.Subscription.Recurring,
        SupportsRecurringPayments = Model.SupportsRecurringPayments,
        Title = Model.Subscription.Title
    })
    <button class="btn btn-primary">Update</button>
</form>