<main>
    <img class="img--hero" src="/assets/img/home-hero.jpg" />

    <app-section [hero]="true" theme="dark" title="The Drunken Knitifesto">                                                                                                                                                                        
        <p>
            We are the Oxford Drunken Knitwits, and we are knit-aholics. 
            Sip by sip and stitch by stitch, we continue to pursue drunken, 
            hand-cramping knit-thood, whereby all Knitwits have the holy grail of drunken knitting to show off to our friends: a hand-crafted item whose place, 
            time, and method of construction cannot entirely be recalled. 
            If you want to follow us on our path, we can show you the way...
        </p>   
    </app-section>

    <app-section [hero]="true">
        <app-three-tenets></app-three-tenets>
    </app-section>
    
    <app-section [hero]="true" theme="light" title="About the Drunken Knitwits">                                         
        <p>As the Romans used to say...</p>
        <p style="font-size: 1.2em; font-weight: bold;">"Veniimus, bibimus, knitimus"</p>
        <p>("We came, we drank, we knit")</p>
        <p>
            Most of our members will agree that the Drunken Knitwits are hands-down the best knitting clubs in existence today, and probably ever. 
            The first chapter was established in Oxford, UK in 2012 to fill a desperate need for old-fashioned drunken knitting get-togethers. 
            Break-out chapters have been popping up ever since and now we're in 3 continents, 
            <span *ngIf="countries">{{countries.length}}</span> countries, and <span *ngIf="chapters">{{chapters.length}}</span> cities. 
            There's no looking back! Whether you're a knitter who needs to add a social aspect to your hobby, someone who's always wanted to learn to knit, 
            or someone who's new to town and wants to take on a new hobby while making friends, then the Drunken Knitwits are the people you’ve been looking for.
        </p> 
    </app-section>
    
    <img class="img--hero" src="/assets/img/home-timeline.png" />

    <app-section [hero]="true" theme="dark">
        <div class="small">-</div>
        <div class="small">Warnings and Disclaimers:</div>
        <p>&nbsp;</p>
        <div class="small">1. You may have to unpick some knitting mistakes after attending a DK event; we suggest bringing simple projects to avoid this hassle.</div>
        <div class="small">2. We use the term "knit" roughly; if you prefer crochet, that's cool.</div>
        <div class="small">3. Drinking is optional; crafting is not.</div>                                                   
    </app-section>                
</main>