@inject IMemberService MemberService
@using ODK.Core.Members
@using ODK.Services
@using ODK.Services.Members
@using ODK.Web.Razor.Models.Members
@model ODK.Web.Razor.Models.Chapters.ChapterContentViewModel

@if (Model.Member == null || Model.Member.ChapterId != Model.Chapter.Id)
{
    <h3>Welcome!</h3>
    @if (!string.IsNullOrEmpty(Model.Chapter.WelcomeText))
    {
        @Html.Raw(Model.Chapter.WelcomeText)
    }
}
else
{
    VersionedServiceResult<IReadOnlyCollection<Member>> latestMembers = await MemberService.GetLatestMembers(null, 
        Model.Member.Id, Model.Chapter.Id);

    MemberListViewModel memberListViewModel = new MemberListViewModel(Model.Chapter, latestMembers.Value.Select(x => new ListMemberViewModel(Model.Chapter, x)))
    {
        Cols = 2
    };

    <h3>Latest members</h3>
    
    @await Html.PartialAsync("Members/_MemberList", memberListViewModel)
}
                
@*<div *ngIf="!instagramImages || instagramImages.length > 0" class="mt-3">
    <h3>Latest from Instagram</h3>
    <app-social-media-image-list *appLoading="!instagramImages" [images]="instagramImages">
    </app-social-media-image-list>
    <div *ngIf="links && links.instagram" class="d-flex justify-content-end">
        <i class="fab fa-instagram mr-1"></i><a [attr.href]="links.instagram" target="_blank">{{links.instagramName}}</a>
    </div>
</div>*@