@using ODK.Web.Razor.Models.About
@using ODK.Web.Razor.Models.Chapters
@model AboutContentViewModel

@if (!string.IsNullOrEmpty(Model.Texts?.Description))
{        
    <section class="mb-4">
        @await Html.PartialAsync("Components/_Paragraphs", Model.Texts?.Description)
    </section>
}

<h3>Frequently asked questions</h3>

@await Html.PartialAsync("Chapters/_Questions", new ChapterQuestionsViewModel
{
    Chapter = Model.Chapter,
    Questions = Model.Questions,
    IsAdmin = false    
})

<p class="mt-3">
    Still have questions? Feel free to <a href="/@Model.Chapter.ShortName/Contact">get in touch</a> before joining.
</p>