@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Razor.Models.Members
@using ODK.Web.Razor.Models.SocialMedia
@model ChapterHomePageViewModel

@if (Model.CurrentMember?.IsMemberOf(Model.Chapter.Id) != true)
{    
    <h3>Welcome!</h3>
    @if (!string.IsNullOrEmpty(Model.Texts?.WelcomeText))
    {
        @Html.Raw(Model.Texts?.WelcomeText)
    }
}
else
{    
    <h3>Latest members</h3>
    
    @await Html.PartialAsync("Members/_MemberList", new MemberListViewModel
    {
        Chapter = Model.Chapter,
        Cols = 2,
        Members = Model.LatestMembers
            .Select(x => new ListMemberViewModel
            {
                Chapter = Model.Chapter,
                Member = x,
                Platform = Model.Platform
            })
            .ToArray(),
        Platform = Model.Platform
    })
}
                
@if (Model.InstagramPosts.Count > 0)
{
    <div class="mt-3">
        <h3>Latest from Instagram</h3>
        <div class="row row-cols-2 row-cols-lg-4 g-0">
            @foreach (var post in Model.InstagramPosts)
            {
                <div class="col">
                    @await Html.PartialAsync("Components/_InstagramPost", 
                        new InstagramPostViewModel
                        {
                            Caption = post.Caption, 
                            Chapter = Model.Chapter, 
                            ExternalId = post.ExternalId,
                            InstagramPostId = post.Id
                        })
                </div>
            }
        </div>

        @if (!string.IsNullOrEmpty(Model.Links?.InstagramName))
        {
            <div class="d-flex align-content-center">
                <div>
                    @await Html.PartialAsync("Components/_InstagramLink", Model.Links.InstagramName)
                </div>
            </div>
        }        
    </div>
}