@using ODK.Services.Chapters.ViewModels
@model IEnumerable<ChapterWithDistanceViewModel>

<div data-odk-component="_ChapterTiles">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        @foreach (var group in Model)
        {
            <div class="col mb-3">
                @await Html.PartialAsync("Chapters/_ChapterWithLocationTile", group)
            </div>
        }
    </div>
</div>