@using ODK.Core.Chapters
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Razor.Models.Events
@model ChapterHomePageViewModel

<div class="sidebar">
    @if (Model.Events.Count > 0)
    {
        <div class="card sidebar-card">
            <div class="card-header">Upcoming events</div>

            @foreach (var @event in Model.Events)
            {
                var viewModel = new ListEventViewModel
                {
                    Chapter = Model.Chapter,
                    Event = @event,
                    Platform = Model.Platform,
                    TimeZone = 
                        Model.CurrentMember?.TimeZone ?? 
                        Model.Chapter.TimeZone ?? 
                        TimeZoneInfo.FindSystemTimeZoneById(Chapter.DefaultTimeZoneId)
                };

                <div class="card-body card-body-sm">
                    <h6 class="card-title">
                        @await Html.PartialAsync("Events/_ListEventTitle", viewModel)
                    </h6>
                    <div class="small">
                        @await Html.PartialAsync("Events/_ListEventBody", viewModel)
                    </div>
                </div>
            }
        </div>
    }
</div>

