@using ODK.Core.Chapters
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Events
@model ChapterHomePageViewModel

<div class="sidebar" data-odk-component="_ChapterSidebar">
    @if (Model.Events.Count > 0)
    {
        <div class="card sidebar-card">
            <div class="card-header">Upcoming events</div>

            @foreach (var @event in Model.Events)
            {
                var viewModel = new ListEventViewModel
                {
                    Chapter = Model.Chapter,
                    Event = @event,
                    Platform = Model.Platform,
                    TimeZone = 
                        Model.CurrentMember?.TimeZone ?? 
                        Model.Chapter.TimeZone ?? 
                        Chapter.DefaultTimeZone
                };

                <div class="card-body card-body-sm">
                    <h6 class="card-title">
                        @await Html.PartialAsync("Events/_ListEventTitle", viewModel)
                    </h6>
                    <div class="small">
                        @await Html.PartialAsync("Events/_ListEventBody", viewModel)
                    </div>
                </div>
            }
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.WhatsAppUrl))
    {
        <div class="card sidebar-card">
            <div class="card-header">
                <span>
                    @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.WhatsApp))
                </span>
                <span>WhatsApp</span>
            </div>

            <div class="card-body card-body-sm">
                <a href="@Model.WhatsAppUrl">Join group</a>
            </div>
        </div>
    }
</div>