@using ODK.Core.Chapters
@using ODK.Web.Razor.Models.Chapters
@model ChapterTilesViewModel
@{
    if (Model.Chapters.Count == 0)
    {
        return;
    }
}

<div class="d-flex">
    @foreach (var chapter in Model.Chapters.OrderBy(x => x.Chapter.Name))
    {
        @await Html.PartialAsync("Chapters/_ChapterTile", chapter)
    }
</div>