@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Routes
@model ChapterWithDistanceViewModel

<div class="card">
    <div class="card-header">
        <div class="d-flex">
            <div class="me-auto">
                <a href="@OdkRoutes2.Groups.Group(Model.Chapter)">@Model.Chapter.Name</a>
            </div>
            <div class="small">
                @await Html.PartialAsync("Components/_Location", Model.Location.Name)
            </div>
        </div>
    </div>    
    <div class="card-body">        
        @if (!string.IsNullOrEmpty(Model.Texts?.Description))
        {
            <p class="card-text">@Model.Texts?.Description</p>
        }        
    </div>    
</div>