.member-tile {
	border: none;
	margin: 5px;
	padding: 5px;
  text-align: center;
  
  .card-img-top {
    background-color: #eee;
    border-radius: $border-radius;
    max-height: 150px;
    width: inherit;
  }

  &:hover {
    opacity: 0.5;
  }
}

.member-tile-sm {
  padding: 0;
  margin: 2px;
}