@page "/superadmin/impersonate"
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Authentication
@using ODK.Web.Razor.Models.SuperAdmin
@attribute [Authorize(Roles = OdkRoles.SuperAdmin)]
@model ImpersonateModel
@{
    Layout = "_SiteAdminLayout";   
}

<h2>Impersonate</h2>

<form method="post">
    @await Html.PartialAsync("Superadmin/_ImpersonateForm", new ImpersonateFormViewModel())

    <button class="btn btn-primary">Log in</button>
</form>