@page "/my/groups/{chapterId:guid}/events/venues/{venueId:guid}/events"
@using ODK.Services.Venues
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model EventsModel
@inject IVenueAdminService VenueAdminService
@{
    Layout = "_GroupAdminLayout";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await VenueAdminService.GetVenueEventsViewModel(request, Model.VenueId);

    Model.Title = viewModel.Venue.Name;
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = viewModel.Venue.Name,
    Breadcrumbs = new BreadcrumbsViewModel
    {
        Breadcrumbs = new[]
        {
            new MenuItem
            {
                Link = Model.OdkRoutes.GroupAdmin.Venues(Model.Chapter).Path,
                Text = "Back to venues",
                Icon = IconType.ArrowLeft
            }
        }
    },
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Venues/_VenueEventsContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})
