@page "/my/groups/{chapterId:guid}/events/venues/{venueId:guid}"
@using ODK.Services.Venues
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model VenueModel
@inject IVenueAdminService VenueAdminService
@{
    Layout = "_GroupAdminLayout";

    var viewModel = await VenueAdminService.GetVenueViewModel(Model.MemberChapterServiceRequest, Model.VenueId);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = viewModel.Venue.Name,
    Breadcrumbs = new BreadcrumbsViewModel
    {
        Breadcrumbs = new[]
        {
            new MenuItem
            {
                Link = Model.OdkRoutes.GroupAdmin.Venues(Model.Chapter),
                Text = "Back to venues",
                Icon = IconType.ArrowLeft
            }
        }
    },
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Venues/_VenueContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})

@section scripts
{
    @await Html.PartialAsync("Components/Scripts/_GoogleLocation")
}