@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Services
@inject IRequestStore RequestStore
@{
    Layout = "_HomeLayout";

    var platform = RequestStore.Platform;        
    var chapter = RequestStore.Chapter;

    var customTheme = "";

    if (!string.IsNullOrEmpty(chapter.ThemeBackground))
    {
        customTheme += $"--theme-bg: {chapter.ThemeBackground};";
    }

    if (!string.IsNullOrEmpty(chapter.ThemeColor))
    {
        customTheme += $"--theme-color: {chapter.ThemeColor};";
    }
}

@section styles
{
    @await RenderSectionAsync("styles", required: false)
}

<div style="@customTheme">
    @await Html.PartialAsync("Components/_Body", new BodyViewModel
    {
        Title = chapter.GetDisplayName(platform),
        ContentFunc = _ => RenderBody()
    })
</div>

@section scripts
{
    <script src="~/js/odk.admin.js" asp-append-version="true"></script>
    <script src="~/js/odk.lists.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
}
