@using ODK.Core.Platforms
@using ODK.Services.Caching
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Header
@using ODK.Web.Razor.Pages.Chapters
@using ODK.Web.Razor.Services
@inject IRequestCache RequestCache
@inject IRequestStore RequestStore
@{
    Layout = "_Layout";

    var platform = RequestStore.Platform;
    var componentContext = RequestStore.ComponentContext;
}

@RenderBody()

@section meta
{
    @await RenderSectionAsync("meta", required: false)
}

@section styles
{
    @await RenderSectionAsync("styles", required: false)
}

@section scripts
{
    @await RenderSectionAsync("scripts", required: false)
}

@section header
{
    @await Html.PartialAsync("Header/_HomeHeader", componentContext)

    @if (componentContext.Platform == PlatformType.DrunkenKnitwits)
    {
        var chapterContext = new ChapterPageContext(RequestCache, Context);
        var member = await chapterContext.GetMemberAsync(componentContext.CurrentMemberId);

        <div class="mb-1 d-none d-md-block">
            @await Html.PartialAsync("Header/_Navbar", new NavbarViewModel(componentContext)
            {
                Breakpoint = "md",
                Color = "dark",
                Compact = false,
                CssClass = null,
                Member = member,
                MenuItems = 
                [
                    [new MenuItem { Hidden = true, Text = "" }]
                ]
            })
        </div>
    }

    @await RenderSectionAsync("header", required: false)
}

@section footer
{
    @await Html.PartialAsync("Footer/_HomeFooter", componentContext)
}