@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ODK.Core.Chapters
@using ODK.Core.Platforms
@using ODK.Services.Caching
@using ODK.Services.Platforms
@using ODK.Web.Razor.Pages.Chapters
@inject IPlatformProvider PlatformProvider
@inject IRequestCache RequestCache
@{
    var platform = PlatformProvider.GetPlatform();
    var context = new ChapterPageContext(RequestCache, Context);
    var chapter = await context.GetChapterAsync();
    var title = platform switch
    {
        PlatformType.DrunkenKnitwits => "Drunken Knitwits",
        _ => "SITE NAME"
    };

    if (chapter != null)
    {
        title = $"{chapter.Name} {title}";
    }

    var pageTitle = ViewData["Title"] as string;
    if (!string.IsNullOrEmpty(pageTitle))
    {
        title = $"{pageTitle} | {title}";
    }    
}

<!DOCTYPE html>
<html lang="en" data-theme-root data-platform="@(platform == PlatformType.DrunkenKnitwits ? "odk" : null)">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title</title>    

    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">        
    
    <script src="~/js/odk.global.js"></script>
    <script src="~/js/odk.themes.js"></script>

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/aspnet-client-validation/dist/aspnet-validation.css" />

    @await RenderSectionAsync("preStyles", required: false)
    
    @if (platform == PlatformType.DrunkenKnitwits)
    {
        <link rel="stylesheet" href="~/css/odk.css" asp-append-version="true" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    }

    @await RenderSectionAsync("styles", required: false)
</head>
<body>   
    @await Html.PartialAsync("Header/_SiteHeader")

    @await RenderSectionAsync("header")

    @RenderBody()

    @await RenderSectionAsync("footer", required: false)
    
    @await Html.PartialAsync("Feedback/_Notifications")

    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/vanillajs-datepicker/dist/js/datepicker-full.js"></script>
    <script src="~/lib/aspnet-client-validation/dist/aspnet-validation.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/odk.maps.js"></script>
    <script src="~/js/odk.forms.js"></script>
    <script src="~/js/odk.lists.js"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>