@using ODK.Services.Caching
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Footer
@using ODK.Web.Razor.Models.Header
@using ODK.Web.Razor.Pages.Chapters
@using ODK.Web.Razor.Services
@inject IChapterService ChapterService
@inject IRequestCache RequestCache
@inject IRequestStore RequestStore
@{
    Layout = "_Layout";

    var chapterContext = new ChapterPageContext(RequestCache, Context);
    var chapter = await chapterContext.GetChapterAsync(RequestStore.Platform);
    if (chapter == null)
    {
        return;
    }

    var member = await chapterContext.GetMemberAsync(RequestStore.CurrentMemberIdOrDefault);
    var componentContext = RequestStore.ComponentContext;

    var pages = await ChapterService.GetChapterPages(chapter.Id);

    var customStyle = "";
    if (!string.IsNullOrEmpty(chapter.ThemeBackground))
    {
        customStyle += $"--theme-bg: {chapter.ThemeBackground};";
    }

    if (!string.IsNullOrEmpty(chapter.ThemeColor))
    {
        customStyle += $"--theme-color: {chapter.ThemeColor};";
    }
}

@section styles
{
    @await RenderSectionAsync("styles", required: false)
}

@section header
{
@{
        var viewModel = new ChapterHeaderViewModel(componentContext)
        {
            Chapter = chapter,
            Member = member,
            Pages = pages
        };
    }

    @await Html.PartialAsync("Header/_ChapterHeader", viewModel)
}

<div class="chapter" style="@customStyle">
    @RenderBody()
</div>

@section footer
{
    @await Html.PartialAsync("Footer/_ChapterFooter", new FooterViewModel(componentContext)
    {
        Chapter = chapter
    })
}

@section scripts
{
    @await RenderSectionAsync("scripts", required: false)
}
