@using ODK.Core.Chapters
@using ODK.Core.Members
@using ODK.Services.Caching
@using ODK.Web.Razor.Models.Footer
@using ODK.Web.Razor.Models.Header
@using ODK.Web.Razor.Pages.Chapters
@inject IRequestCache RequestCache
@{
    Layout = "_Layout";

    var chapterContext = new ChapterPageContext(RequestCache, Context);
    var chapter = await chapterContext.GetChapterAsync();
    if (chapter == null)
    {
        return;
    }

    var member = await chapterContext.GetMemberAsync();    
}

@section styles
{
    @await RenderSectionAsync("styles", required: false)
}

@section header
{
    @await Html.PartialAsync("Header/_ChapterHeader", new ChapterHeaderViewModel(chapter, member))
}

<div class="chapter chapter-theme--@chapter.Name.ToLowerInvariant()">
    @RenderBody()
</div>

@section footer
{
    @await Html.PartialAsync("Footer/_ChapterFooter", new FooterViewModel
    {
        Chapter = chapter
    })
}

@section scripts
{
    @await RenderSectionAsync("scripts", required: false)
}
