@using ODK.Services.Chapters
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models.Footer
@using ODK.Web.Razor.Models.Header
@using ODK.Web.Razor.Pages.Chapters
@using ODK.Web.Razor.Services
@inject IChapterService ChapterService
@inject IRequestStore RequestStore
@{
    Layout = "_Layout";

    var chapter = RequestStore.ChapterOrDefault;
    if (chapter == null)
    {
        return;
    }

    var member = RequestStore.CurrentMemberOrDefault;

    var viewModel = await ChapterService.GetChapterLayoutViewModel(chapter.Id);
}

@section styles
{
    @await RenderSectionAsync("styles", required: false)
}

@section header
{
    @await Html.PartialAsync("Header/_ChapterHeader", new ChapterHeaderViewModel
    {
        Chapter = chapter,
        Member = member,
        Pages = viewModel.Pages
    })
}

<div class="chapter">
    @RenderBody()
</div>

@section footer
{
    @await Html.PartialAsync("Footer/_ChapterFooter", new FooterViewModel
    {
        Chapter = chapter,
        Links = viewModel.Links
    })
}

@section scripts
{
    @await RenderSectionAsync("scripts", required: false)
}
