@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Footer
@using ODK.Web.Razor.Models.Header
@using ODK.Web.Razor.Pages.Chapters
@using ODK.Web.Razor.Services
@inject IChapterService ChapterService
@inject IRequestStore RequestStore
@{
    Layout = "_Layout";

    var chapter = await RequestStore.GetChapterOrDefault();
    if (chapter == null)
    {
        return;
    }

    var member = await RequestStore.GetCurrentMemberOrDefault();
    var componentContext = RequestStore.ComponentContext;

    var viewModel = await ChapterService.GetChapterLayoutViewModel(chapter.Id);
}

@section styles
{
    @await RenderSectionAsync("styles", required: false)
}

@section header
{
    @await Html.PartialAsync("Header/_ChapterHeader", new ChapterHeaderViewModel(componentContext)
    {
        Chapter = chapter,
        Member = member,
        Pages = viewModel.Pages
    })
}

<div class="chapter">
    @RenderBody()
</div>

@section footer
{
    @await Html.PartialAsync("Footer/_ChapterFooter", new FooterViewModel(componentContext)
    {
        Chapter = chapter,
        Links = viewModel.Links
    })
}

@section scripts
{
    @await RenderSectionAsync("scripts", required: false)
}
