@page "/my/groups/{id:guid}/events/new"
@using ODK.Services.Events
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model CreateModel
@inject IEventAdminService EventAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Create event";

    var viewModel = await EventAdminService.GetEventCreateViewModel(Model.AdminServiceRequest);
    viewModel.VenueId = Model.VenueId;
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Create event",
    Breadcrumbs = new BreadcrumbsViewModel
    {
        Breadcrumbs = new[]
        {
            new MenuItem
            {
                Link = OdkRoutes.MemberGroups.Events(Model.Platform, viewModel.Chapter),
                Text = "Back to events",
                Icon = IconType.ArrowLeft
            }
        }
    },
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Events/_EventCreateContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu", new AdminSideMenuViewModel
    {
        Chapter = viewModel.Chapter
    })
})