<ng-container *appLoading="!responses">  
  
  <ng-container *ngIf="responses.length > 0">
    <h3>Responses</h3>    
    <ng-container *ngFor="let memberGroup of memberGroups">
      <div *ngIf="memberGroup.members.length" class="mb-3">
        <h5>{{memberGroup.title}}</h5>
        <app-member-list size="xs" [chapter]="chapter" [members]="memberGroup.members" [isAdmin]="true">          
        </app-member-list>
      </div>
    </ng-container>  
  </ng-container>

  <app-event-invitee-email></app-event-invitee-email>
</ng-container>