@page "/{chapterName}/admin/siteadmin/payments"
@using ODK.Core.Chapters
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model PaymentSettingsModel
@inject IChapterSiteAdminService ChapterSiteAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Payments | SiteAdmin";

    var request = Model.MemberChapterServiceRequest;
    var viewModel = await ChapterSiteAdminService.GetChapterPaymentSettingsViewModel(request);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    ContentFunc = @<div>@await Html.PartialAsync("Chapters/SiteAdmin/_ChapterPaymentSettingsContent", viewModel)</div>
})