@page "/{chapterName}/admin/siteadmin/redirect"
@using ODK.Web.Razor.Models.Admin
@model RedirectModel
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Redirect | SiteAdmin";

    var chapter = Model.Chapter;
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    ContentFunc = @<div>@await Html.PartialAsync("Chapters/SiteAdmin/_RedirectContent", chapter)</div>
})