@page "/my/groups/{chapterId:guid}/events/venues"
@using ODK.Services.Venues
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model IndexModel
@inject IVenueAdminService VenueAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Venues";

    var viewModel = await VenueAdminService.GetVenuesViewModel(Model.MemberChapterServiceRequest);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Venues",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Venues/_VenuesContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})