@using ODK.Services.Events.ViewModels
@using ODK.Web.Razor.Models.Events
@model EventCheckoutPageViewModel

@await Html.PartialAsync("Events/_EventHeader", new EventHeaderViewModel
{
    Chapter = Model.Chapter,
    Event = Model.Event,
    Venue = Model.Venue
})

<section class="section">
    <div id="checkout"
         data-stripe="@Model.PaymentSettings.ApiPublicKey"
         data-stripe-checkout="@Model.ClientSecret">
        <!-- Checkout will insert the payment form here -->
    </div>
</section>