@using ODK.Core.Chapters
@using ODK.Services.Events
@using ODK.Services.Events.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Events
@model EventsPageViewModel
@inject IOdkRoutes OdkRoutes

@await Html.PartialAsync("Components/_AdminBar", new AdminBarViewModel
{
    AdminLink = OdkRoutes.GroupAdmin.Events(Model.Chapter).Path,
    AdminLinkText = "Edit",
    Chapter = Model.Chapter,
    CurrentMember = Model.CurrentMember
})

@if (Model.Events.Count > 0)
{
    @await Html.PartialAsync("Events/_EventList", new EventListViewModel
    {
        Chapter = Model.Chapter,
        Class = "row row-cols-sm-2 row-cols-md-3 row-cols-lg-4",
        Events = Model.Events,
        FullWidth = true,
        Platform = Model.Platform,
        TimeZone = Model.Chapter.TimeZone ?? Chapter.DefaultTimeZone
    })
}
else
{
    if (Model.CurrentMember?.IsMemberOf(Model.Chapter.Id) == true)
    {
        <p>There are no upcoming events</p>
    }
    else
    {
        <p>
            There are no upcoming public events.
            
            @if (Model.CurrentMember == null)
            {
                var loginUrl = $"{OdkRoutes.Account.Login(Model.Chapter)}?returnUrl={OdkRoutes.Groups.Events(Model.Chapter)}";
                <a href="@loginUrl">
                    Sign in
                </a>
            }            
        </p>
    }
}