@using ODK.Core.Chapters
@using ODK.Services.Events
@using ODK.Services.Events.ViewModels
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Events
@model EventsPageViewModel

@await Html.PartialAsync("Components/_AdminBar", new AdminBarViewModel
{
    AdminLink = $"/{Model.Chapter.Name}/Admin/Events",
    AdminLinkText = "Edit",
    Chapter = Model.Chapter,
    CurrentMember = Model.CurrentMember
})

@if (Model.Events.Count > 0)
{
    @await Html.PartialAsync("Events/_EventList", new EventListViewModel
    {
        ChapterName = Model.Chapter.Name,
        Events = Model.Events,
        TimeZone = Model.Chapter.TimeZone ?? TimeZoneInfo.FindSystemTimeZoneById(Chapter.DefaultTimeZoneId)
    })
}
else
{
    if (Model.CurrentMember?.IsMemberOf(Model.Chapter.Id) == true)
    {
        <p>There are no upcoming events</p>
    }
    else
    {
        <p>
            There are no upcoming public events.
            <a href="/@Model.Chapter.Name/Account/Login?returnUrl=/@Model.Chapter.Name/Events">Sign in</a>
        </p>
    }
}