@using ODK.Services.Events
@using ODK.Web.Razor.Models.Events
@model EventListViewModel

<div class="row">
    @foreach (var @event in Model.Events)
    {
        <div class="col-12 mb-3 @(Model.FullWidth ? null : "col-md-4")">
            @await Html.PartialAsync("Events/_ListEvent2", new ListEventViewModel
            {
                Chapter = Model.Chapter,
                Event = @event,
                ForceDisplayYear = Model.ForceDisplayYear,
                Platform = Model.Platform,
                TimeZone = Model.TimeZone
            })
        </div>
    }
</div>