@using ODK.Web.Razor.Models.Events
@model EventCommentFormViewModel
@{
}

<div class="form-group mb-3">
    @Html.TextAreaFor(x => x.Text, new { @class = "form-control", placeholder = "Add comment" })
    @Html.ValidationMessageFor(x => x.Text)
</div>
