@using ODK.Web.Razor.Models.Members
@model ODK.Web.Razor.Models.Events.EventSidebarAttendeesViewModel
@{
    if (Model.Members.Count == 0)
    {
        return;
    }

    var members = Model.Members
        .Select(x => new ListMemberViewModel
        {
            Chapter = Model.Chapter,
            Member = x,
            Size = "xs"
        })
        .ToArray();
}

<div class="card sidebar-card">
    <div class="card-header">@Model.Title</div>
    <div class="card-body card-body-sm">        
        @await Html.PartialAsync("Members/_MemberList", new MemberListViewModel
        {
            Chapter = Model.Chapter,
            Cols = 4,
            Members = members,
            Size = "xs"
        })
    </div>
</div>