@using ODK.Services.Events
@using ODK.Web.Razor.Models.Events
@model ODK.Web.Razor.Models.Events.EventListViewModel

@foreach (var response in Model.Events.OrderBy(x => x.Date))
{
    <div class="list-item">
        @await Html.PartialAsync("Events/_ListEvent", new ListEventViewModel(Model.Chapter, response))
    </div>
}