@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Events
@model EventResponseIconViewModel

@if (Model.CurrentResponse > 0)
{    
    var icon = Model.Icon;

    if (!Model.ReadOnly)
    {
        @*@Html.AntiForgeryToken()*@
        @Html.HiddenFor(x => x.ResponseType)
    }

    <button type="@(Model.ReadOnly ? "button" : "submit")"
            class="btn-icon                    
                   event-response-option event-response-option--@Model.CurrentResponse.ToString()?.ToLowerInvariant() 
                   @((Model.Active || Model.ReadOnly) ? "active" : null)">
        @if (icon != null)
        {
            <span data-bs-toggle="tooltip" data-bs-title="@Model.Tooltip">
                @await Html.PartialAsync("Components/_Icon", new IconViewModel(icon.Value)
                {
                    Class = $"icon--event-response {(Model.ReadOnly ? "icon--event-response--sm" : null)}"
                })
            </span>
        }
    </button>
}