@using ODK.Services.Events
@using ODK.Web.Razor.Models.Events
@model EventListViewModel
@{
    var events = Model.Events.OrderBy(x => x.Date);
}

<div class="d-flex flex-column gap-3">
    @foreach (var @event in events)
    {
        @await Html.PartialAsync("Events/_ListEvent2", new ListEventViewModel
        {
            Chapter = Model.Chapter,
            Event = @event,
            Platform = Model.Platform,
            TimeZone = Model.TimeZone
        })
    }
</div>