@using ODK.Core.Events
@using ODK.Core.Utils
@using ODK.Web.Razor.Models.Events
@model EventStatusViewModel

@if (Model.Event.RsvpDisabled)
{
    <div class="badge text-bg-warning w-100">
        RSVP disabled
    </div>
    return;
}

@if (Model.Event.RsvpDeadlinePassed)
{
    <div class="badge text-bg-danger w-100">
        RSVP deadline passed
    </div>
    return;
}

@if (Model.Event.RsvpDeadlineUtc != null)
{
    <div class="badge text-bg-secondary w-100">
        RSVP deadline: @Model.Event.RsvpDeadlineUtc.Value.ToFriendlyDateTimeString(Model.Chapter.TimeZone)
    </div>
}

@if (Model.SpacesLeft != null && Model.WaitlistLength == 0)
{
    <div>
        Spaces left: @Model.SpacesLeft / @Model.Event.AttendeeLimit
    </div>
}