@using ODK.Core.Utils
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Events

@model EventResponseSummaryViewModel

@if (Model.Summary == null || Model.Summary.Yes == 0)
{
    return;
}

<div class="d-flex align-items-center gap-2 small">
    @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Members))
    <span>
        @Model.Summary.Yes
        @StringUtils.Pluralise(Model.Summary.Yes, "Attendee")
    </span>
</div>