@using ODK.Services.Events
@using ODK.Web.Razor.Models.Events
@model EventListViewModel
@{
    var events = Model.Events.OrderBy(x => x.Date);
}
@foreach (var @event in events)
{
    <div class="list-item">
        @await Html.PartialAsync("Events/_ListEvent", new ListEventViewModel
        {
            Chapter = Model.Chapter,
            Event = @event,
            Platform = Model.Platform,
            TimeZone = Model.TimeZone
        })
    </div>
}