@using ODK.Services.Events
@using ODK.Web.Razor.Models.Events
@model ODK.Web.Razor.Models.Events.EventListViewModel

@foreach (EventResponseViewModel eventResponse in Model.EventResponses.OrderBy(x => x.Date))
{
    <div class="list-item">
        @await Html.PartialAsync("Events/_ListEvent", new ListEventViewModel(Model.Chapter, eventResponse))
    </div>
}