@using ODK.Services.Events
@using ODK.Web.Razor.Models.Events
@model ODK.Web.Razor.Models.Events.EventListViewModel
@{
    var events = Model.EventResponses
        .OrderBy(x => x.Date);
}
@foreach (var @event in events)
{
    <div class="list-item">
        @await Html.PartialAsync("Events/_ListEvent", new ListEventViewModel(Model.Chapter, @event))
    </div>
}