@using ODK.Web.Razor.Models.Events
@model ListEventViewModel

<div class="card">
    <div class="card-header">
        @await Html.PartialAsync("Events/_ListEventTitle", Model)
    </div>
    <div class="card-body">
        @await Html.PartialAsync("Events/_ListEventBody", Model)
    </div>        
</div>