@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Events
@model ListEventViewModel

<div class="card h-100">
    <div class="card-header">
        @await Html.PartialAsync("Events/_ListEventTitle", Model)
    </div>
    <div class="card-body d-flex flex-column gap-1">
        @await Html.PartialAsync("Events/_ListEventBody", Model)
    </div>  
    
    @if (Model.Event.Ticketed)
    {
        <div class="card-footer">
            <div class="d-flex align-items-center gap-2">
                @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Ticket))
                <span>Ticketed</span>
            </div>
        </div>        
    }
</div>