@using ODK.Core.Utils
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Events
@model ListEventViewModel

<div class="card card--event">
    <div class="card-header">
        <div class="d-flex">
            <div class="me-auto">
                @await Html.PartialAsync("Events/_EventResponseIcon", new EventResponseIconViewModel
                {
                    ReadOnly = true,
                    ResponseType = Model.Event.Response
                })
    
                <a href="@OdkRoutes.Events.Event(Model.Platform, Model.Chapter, Model.Event.EventId)" class="@(Model.Event.Response > 0 ? "ms-1" : null)">
                    @Model.Event.EventName
                </a>
            </div>
            @if (Model.Event.Ticketed)
            {
                <div>
                    <i class="fa-solid fa-ticket" data-bs-toggle="tooltip" data-bs-title="Ticketed"></i>
                </div>
            }
        </div>
    </div>
    <div class="card-body">
        <div>
            @Model.Event.Date.ToFriendlyDateString(Model.TimeZone)
        </div>
        <div>
            @await Html.PartialAsync("Components/_Location", Model.Event.VenueName)
        </div>
    </div>        
</div>