@using ODK.Core.Events
@using ODK.Core.Utils
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Events
@model ListEventViewModel
@{
    var localTime = Event.ToLocalTime(Model.Event.Date, Model.Chapter.TimeZone);
}

<div class="d-flex align-items-center gap-2">
    @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Calendar))
    <span>
        <span>@localTime.ToFriendlyDateString(Model.Chapter.TimeZone, forceIncludeYear: Model.ForceDisplayYear)</span>
        <span>@Event.ToLocalTimeString(Model.Event.Date, Model.Event.EndTime, Model.Chapter.TimeZone)</span>
    </span>
</div>

@if (Model.Event.VenueName != null)
{
    <div>
        @await Html.PartialAsync("Components/_Location", Model.Event.VenueName)
    </div>
}

@if (Model.Event.ResponseSummary != null)
{
    <div class="mt-3">
        @await Html.PartialAsync("Events/_EventResponseSummary", new EventResponseSummaryViewModel
        {
            MemberResponse = Model.Event.Response,
            Summary = Model.Event.ResponseSummary
        })
    </div>
}