<app-body *ngIf="event" [title]="event.name">
    <app-page-with-sidebar>
        <ng-container app-main>
            <h2>{{event.location}}</h2>
            <h2>{{event.date | date:'fullDate'}}</h2>
            <h3 *ngIf="event.time">{{event.time}}</h3>
            <p *ngIf="event.description">{{event.description}}</p>
        </ng-container>

        <ng-container app-sidebar>
            <app-event-sidebar [eventId]="eventId"></app-event-sidebar>
        </ng-container>
    </app-page-with-sidebar>    
</app-body>