/*mimic BS4-style card header*/
.accordion-button {
    background-color: rgba(0,0,0,.03);
}

.accordion--transition-0 {
    --bs-accordion-transition: none;
    .collapsing {
        transition: none;
    }
}
