@import "odk/_badges";

.badge {
    z-index: 1;

    &.badge-sm {
        font-size: 0.6em;
    }
}

a.badge {
    &.text-bg-secondary {
        border: 1px solid var(--bs-secondary);

        &:hover {
            background-color: transparent !important;
        }
    }
}