.dropdown {
    .dropdown-header {
        cursor: default;
        color: var(--bs-body-color);
    }

    .card,
    .dropdown-menu {
        background-color: var(--odk-bg-level-1);
    }

    .dropdown-item {
        &:hover {
            background-color: var(--odk-bg-level-1-hover);
        }
    }
    // nested
    .dropdown.dropstart .dropdown-menu[data-bs-popper] {
        margin-right: 0;
    }
}

.dropdown-item {
    &:hover {
        .card {
            background-color: var(--bs-dropdown-link-hover-bg);
        }
    }
}

.dropdown-item--header {
    --bs-dropdown-header-padding-x: var(--bs-dropdown-item-padding-x);
    --bs-dropdown-header-padding-y: var(--bs-dropdown-item-padding-y);

    display: flex;
    justify-content: end;
    
    font-weight: 700;
    font-size: 1rem;
}

.dropdown-item--icon {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        display: flex;
        justify-content: center;
        width: 20px;
    }
}