.dropdown-menu-end {
    text-align: right;
}

.dropdown-item--icon {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        display: flex;
        justify-content: center;
        width: 20px;
    }
}