:root {
    --bg-section-header: #FF0000;
    --color-section-header: #FFF;
}

.section--header,
.section--footer {
    padding: 1rem 0;
}

.section--header {
	color: var(--color-section-header);
    background-color: var(--bg-section-header);

    h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }
}
