.site-logo {
    height: 40px;
}

.section--header,
.section--footer {
    padding: 1rem 0;
}

.section--header {
    --bg-section-header: var(--theme-bg, #FF0000);
    --color-section-header: var(--theme-color, #FFF);
    color: var(--color-section-header);
    background-color: var(--bg-section-header);

    h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }
}

@include media-breakpoint-up(md) {
    .site-nav {
        flex-basis: auto !important;
        align-self: stretch;
        display: flex;
        align-items: stretch;

        .navbar-nav {
            display: flex;
            align-items: stretch;

            .nav-item {
                display: flex;
                align-items: stretch;

                .nav-link {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}