$navbar-dark-separator: rgba(255, 255, 255, .5);

@mixin nav-item-separator($color) {
    .nav-item:not(:first-child) {
        border-left: 1px solid $color;
    }
}

@mixin nav-link-vertical-padding() {
  .nav-link {
    padding-top: .1rem;
    padding-bottom: .1rem;
  }
}

.navbar {
    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-link {
        &.active {
            font-weight: 700;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.2)
        }
    }

    @include media-breakpoint-up(md) {
        &.navbar-dark {
            @include nav-item-separator($navbar-dark-separator);
        }

        &.navbar-light {
            @include nav-item-separator(rgba(0, 0, 0, 0.5));
        }
    }
}

@include media-breakpoint-up(sm) {
  .navbar-expand-sm {
    .navbar-nav {       
      @include nav-link-vertical-padding();

      .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;        
      }      
    }

    &:not(.navbar-compact) {
      .navbar-nav {
        .nav-link {
          @include media-breakpoint-up(md) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }
        }        
      }      
    }
  }  
}

@include media-breakpoint-up(lg) {
  .navbar-expand-lg {
    .navbar-nav {
      @include nav-link-vertical-padding();      
    }
  }	
}

.navbar--home {
    .nav-item {
        text-transform: uppercase;
    }

    .navbar {
        align-items: start;

        .navbar-nav {
            width: 100%;

            .nav-item {
                border-left: none;

                &:not(:first-child) {
                    border-top: 1px solid $navbar-dark-separator;
                }
            }

            .nav-link {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }
    }
}

.navbar--group {
    background-color: var(--odk-bg-level-2);
    .navbar-nav {
        display: flex;
        gap: 1rem;
    }

    .nav-item {
        padding: 0;

        .nav-link {
            padding: 0 !important;
            border-bottom: 2px solid transparent;

            &.active,
            &:hover {
                background-color: transparent;
                border-bottom-color: var(--bs-body-color);
            }
        }
    }
}

.account-links--right {
    right: 0;
    position: absolute;
    padding: 1rem;

    .dropdown-menu {
        min-width: inherit;
    }
}

.account-links__user {    
  font-size: 1.6rem;
  display: flex;
  opacity: 0.5;  

  &:after {
    // hide dropdown caret
    display: none;
  }

  &:hover {
    opacity: 0.7;
  }
}

.chapter {
  @include media-breakpoint-up(sm) {
    .account-links--right {
      position: absolute;
    }

    .account-links__user {
      font-size: 1.7rem;
    }
  }          
}

.anonymous-links {
    display: flex;
    position: absolute;
    right: $grid-gutter-width / 2;
    
    .anonymous-link {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;

        &:not(:first-child) {
            margin-left: 0.25rem;
        }
    }
}