.notification-items {
    max-height: 80dvh;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.offcanvas--notifications {
    --bs-offcanvas-width: 500px;

    .offcanvas-body {
        // move padding into the notification items so that the link highlights are flush
        padding-left: 0;
        padding-right: 0;
    }
}

.notification-item {
    --odk-notification-item-padding-y: 1rem;
    --odk-notification-item-padding-x: 1rem;
    padding: 0;
    cursor: default;

    .notification-row {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .notification-col {
        flex-grow: 1;
    }

    .notification-col-icon {
        margin-left: auto;
        padding-right: var(--odk-notification-item-padding-x);
        align-self: stretch;
        display: flex;
        align-items: center;
    }

    .notification-icon {
        align-self: center;
        opacity: 0.5;
    }

    .notification-link {
        color: var(--bs-body-color);

        &:hover {
            & * {
                background-color: var(--odk-bg-level-1-hover) !important;
            }

            .notification-icon {
                opacity: 1;
            }
        }
    }

    .notification-header {
        margin-top: var(--odk-notification-item-padding-y);
        padding-left: var(--bs-offcanvas-padding-x);
    }

    .notification-title {
        margin-right: 0.5rem;
    }

    .btn-close {
        padding: 0;
        font-size: 0.75em;
    }

    .notification-text {
        padding: var(--odk-notification-item-padding-y) var(--odk-notification-item-padding-x);

        p {
            margin-bottom: 0.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}