.offcanvas-subtitle {
    padding-left: var(--bs-offcanvas-padding-x);
    padding-right: var(--bs-offcanvas-padding-x);
}

.offcanvas {
    --bs-offcanvas-width: 500px;
    --bs-offcanvas-zindex: #{$zindex-toast + 1};

    hr {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    &.has-footer {
        --odk-footer-fade-height: 120px;
        // add a faded gradient above the footer to show the body scrolling behind it
        .offcanvas-body {
            margin-bottom: calc(-1 * var(--odk-footer-fade-height));
        }

        .offcanvas-footer {
            z-index: 1;

            &:before {
                content: '';
                display: block;
                height: var(--odk-footer-fade-height);
                background: linear-gradient(to bottom, transparent, var(--bs-body-bg));
                pointer-events: none;
            }
        }
    }
}

.offcanvas-flush {
    .offcanvas-body {
        // move padding into the items so that the link highlights are flush
        padding-left: 0;
        padding-right: 0;
    }

    .offcanvas-flush-item {
        padding-left: var(--bs-offcanvas-padding-x);
        padding-right: var(--bs-offcanvas-padding-x);
    }
}