.panel {
    background-color: var(--odk-bg-level-1);
    padding: 1rem;

    .panel-header {
        display: flex;
        align-items: end;
    }

    .panel-title {
        display: inline-block;
        border-bottom: 1px solid var(--bs-body-color);

        & > * {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .panel-title-end {
        margin-left: auto;
    }

    .panel-title,
    .panel-title-end {
        padding-bottom: 0.5rem;
    }

    .panel-body {
        margin-top: 1rem;
    }
    // panel children
    .card-header,
    .card-footer {
        background-color: var(--odk-bg-level-2-hover);
    }

    .card-body,
    .list-group-item {
        background-color: var(--odk-bg-level-2);
    }
}
