.section {
    background: var(--bs-body-bg);
    color: var(--bs-body-color);
}

.mt-section {
    margin-top: 2rem;
}

.section--main {
    padding-top: 30px;
    padding-bottom: 90px;
}

.section--header,
.section--footer {
    padding: 1rem 0;
}

.section--header {
    h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }
}

.section--hero {
    background-position-y: 0;
    padding: 50px 20px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.section--hero__content {
    font-size: 1.4rem;
    max-width: 760px;

    h1 {
        font-size: 3rem;

        &:not(:first-child) {
            margin-top: 4rem;
        }
    }
}

.section--chapters {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section--dark {
}

.section--light {
}

.section--grey {
    background-color: hsla(0,0%,88%,.6);
}

.section--admin {
    margin-bottom: 3rem;
}