:root {
    --odk-social-media-facebook: #4267B2;
    --odk-social-media-instagram: #D83175;
    --odk-social-media-twitter: #000;
}

.social-media-image-tile {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;

    img {
        max-height: 150px;
    }

    &:hover {
        opacity: 0.5;
    }
}

.social-media-icon--facebook {
    color: var(--odk-social-media-facebook) !important;
}

.social-media-icon--instagram {
    color: var(--odk-social-media-instagram) !important;
}

.social-media-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    i {
        display: flex;
        justify-content: center;
        color: var(--bs-body-color);

        &:hover {
            opacity: 0.6;
        }
    }
}