.tab-content {
    margin-top: 30px;
}

.nav-tabs {
    .nav-item {
        margin-top: 1px; /* vertical margin if tabs overflow */
    }

    .nav-link {
        background-color: transparent;
        border: $nav-tabs-border-width solid var(--bs-border-color);
        border-bottom-color: transparent;
        border-radius: 0;
        color: var(--bs-body-color);
        margin-right: 0.2rem;

        &:hover {
            border-bottom-color: transparent;
        }

        &.active {
            background-color: var(--bs-nav-tabs-link-active-bg);
            border-bottom-color: transparent;
            border-top-color: var(--bs-primary);
            cursor: default;
        }

        &.active {
            border-top-width: 2px;
        }
    }
}
