.chapter-theme--oxford {
  .section--header {
    background-color: #e03034;
  }
}

.chapter-theme--manchester {
    .section--header {
        background-color: #F3D402;
        color: #212529;
    }
}