.chapter-theme--dublin {
    --bg-section-header: #23DA40;
    --color-section-header: #000;
}

.chapter-theme--manchester {
    --bg-section-header: #F3D402;
    --color-section-header: #000;
}

.chapter-theme--oxford {
    --bg-section-header: #e03034;
}
