.border-transparent {
    border-color: transparent;
}

.flip-horizontal {
    transform: scaleX(-1);
}

.text-body {
    color: var(--bs-body-color);
}

@include media-breakpoint-down(md) {
    .hide-below-md {
        display: none !important;
    }
}