$odk-bg-light: #e9ecef;
$odk-bg-dark: #212529;

:root {
    --odk-bg-light: #{darken($body-bg, 5%)};
}

[data-bs-theme="dark"] {
    --odk-bg-light: #{lighten($body-bg-dark, 5%)};
}

@import "odk/_variables";