@using ODK.Services.Recaptcha
@inject IRecaptchaService RecaptchaService;
@{
    var key = RecaptchaService.GetSiteKey();
}

<div data-recaptcha-sitekey="@key"></div>
<script src="https://www.google.com/recaptcha/api.js?render=@key"></script>
<script src="~/js/odk.recaptcha.js" asp-append-version="true"></script>