<ng-container *ngIf="authenticated === true">
    <div ngbDropdown placement="bottom-right" class="account-links" display="dynamic">
        <div class="text-light account-links__user" ngbDropdownToggle>
            <i class="fas fa-user fa-2x"></i>
        </div>
        <div ngbDropdownMenu role="menu" *ngIf="links">
            <a class="dropdown-item" [routerLink]="links.profile">My profile</a>
            <a class="dropdown-item" [routerLink]="links.chapter">{{chapter.name}}</a>
            <a class="dropdown-item" href="/umbraco/surface/account/logout">Sign Out</a>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="authenticated === false">
    <a class="btn btn-primary" [routerLink]="loginLink">
        Sign in
    </a>
</ng-container>