<ng-container *ngIf="groups">
  <nav class="navbar" 
      [class.navbar-dark]="!color || color === 'dark'"
      [class.bg-dark]="!color || color === 'dark'"
      [class.navbar-light]="color === 'light'"
      [class.bg-light]="color === 'light'"
      [class.navbar-expand-sm]="breakpoint === 'sm'" 
      [class.navbar-expand-lg]="breakpoint === 'lg'"
      [class.navbar-compact]="compact">
    <div class="position-relative nav-container" [class.container]="!fluid" [class.container-fluid]="fluid">
      <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="collapsed" class="collapse navbar-collapse flex-column">
        <ul *ngFor="let group of groups" class="navbar-nav">
          <li *ngFor="let menuItem of group" class="nav-item">
            <a *ngIf="menuItem.link" class="nav-link" 
              [routerLink]="menuItem.link" [routerLinkActiveOptions]="{ exact: menuItem.matchExactRoute }"
              routerLinkActive="active"
              (click)="collapse()">
              {{menuItem.text}}
            </a>
            <a *ngIf="menuItem.externalLink" class="nav-link" 
              [attr.href]="menuItem.externalLink" target="_blank">
              {{menuItem.text}}
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="!hideAccountMenu" class="nav-account-menu">
        <app-account-menu></app-account-menu>
      </div>
    </div>
  </nav>
</ng-container>