@using ODK.Core.Utils
@using ODK.Services.Chapters
@using ODK.Web.Common.Routes
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Services
@inject IChapterService ChapterService
@inject IOdkRoutes OdkRoutes
@inject IRequestStore RequestStore
@{
    var platform = RequestStore.Platform;
    var memberId = RequestStore.CurrentMemberIdOrDefault;

    var ownedChapters = memberId != null 
        ? await ChapterService.GetChaptersByOwnerId(memberId.Value)
        : [];

    var chaptersPendingPublication = ownedChapters
        .Where(x => x.CanBePublished())
        .ToArray();
}

@if (chaptersPendingPublication.Length > 0)
{    
    <div class="page-alert alert alert-warning">
        You have 
        @chaptersPendingPublication.Length 
        @StringUtils.Pluralise(chaptersPendingPublication.Length, "group") 
        waiting to be published.
        <a href="@OdkRoutes.GroupAdmin.Index()">My groups</a>
    </div>
}