@using ODK.Services.Authentication
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Components
@model AdminBarViewModel

@if (!User.IsInRole(OdkRoles.Admin) || Model.CurrentMember?.IsMemberOf(Model.Chapter.Id) != true)
{
    return;    
}

<div class="mb-3 button-container">
    <a href="@Model.AdminLink" class="btn btn-outline-secondary">
        @if (Model.AdminLinkText == "Edit")
        {
            @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Edit))
        }
        
        @Model.AdminLinkText
    </a>

    @if (Model.Toolbar != null)
    {
        @Model.Toolbar.Invoke(null)
    }
</div>