@using ODK.Services.Authorization
@using ODK.Services.Caching
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Pages.Chapters
@model ODK.Web.Razor.Models.Components.BodyWithSidebarViewModel

<main>
    @await Html.PartialAsync("Components/_PageTitle", new PageTitleViewModel
    {
        Content = Model.TitleContent,
        Title = Model.Title
    })

    <div class="container page-alerts">
        @if (!Model.HideSubscriptionAlert)
        {
            @await Html.PartialAsync("Members/_SubscriptionAlert")
        }

        @await Html.PartialAsync("Site/_SiteAlerts")
    </div>

    <section class="section--main">
        <div class="container">
            @if (Model.Breadcrumbs != null)
            {
                @await Html.PartialAsync("Components/_Breadcrumbs", new BreadcrumbsViewModel(Model.Breadcrumbs))
            }
            
            @await Html.PartialAsync("Feedback/_Feedback")

            <div class="row">
                <div class="col-lg-9 col-md-8 order-2 order-md-1">
                    @if (Model.Content != null)
                    {
                        @Model.Content
                    }
                </div>
                <div class="col-lg-3 col-md-4 order-1 order-md-2">
                    @if (Model.SidebarContent != null)
                    {
                        @Model.SidebarContent
                    }
                </div>
            </div>
        </div>
    </section>
</main>
