@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Models.Components.BreadcrumbsViewModel
@{
    if (Model.Breadcrumbs.Count == 0)
    {
        return;
    }
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (MenuItem breadcrumb in Model.Breadcrumbs)
        {
            <li class="breadcrumb-item @(breadcrumb.Active ? "active" : null)">
                @if (breadcrumb.Active)
                {
                    @if (breadcrumb.Icon != null)
                    {
                        @await Html.PartialAsync("Components/_Icon", new IconViewModel(breadcrumb.Icon.Value))
                    }

                    @:item.Text
                }
                else
                {
                    <a href="@breadcrumb.Link">
                        @if (breadcrumb.Icon != null)
                        {
                            @await Html.PartialAsync("Components/_Icon", new IconViewModel(breadcrumb.Icon.Value))
                        }

                        @breadcrumb.Text
                    </a>
                }
            </li>
        }
    </ol>
</nav>