@using ODK.Web.Razor.Extensions
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Feedback
@{
    if (!TempData.TryGetIntValue("FeedbackCount", out var feedbackCount))
    {
        return;
    }

    var models = new List<FeedbackViewModel>();
    for (var i = 0; i < feedbackCount; i++)
    {
        var results = new[]
        {
            TempData.TryGetEnumValue<FeedbackType>($"Feedback[{i}].Type", out var type),
            TempData.TryGetStringValue($"Feedback[{i}].Message", out var message)
        };

        if (results.Any(x => !x) || string.IsNullOrEmpty(message))
        {
            continue;
        }

        models.Add(new FeedbackViewModel(message, type));
    }

    if (models.Count == 0)
    {
        return;
    }
}

@*d-none is removed by attach-to*@
<div class="toasts d-none" data-bs-theme="" data-theme-contrast data-attach-to="[data-toast-anchor]">
    @foreach (var model in models)
    {
        IconType icon;
        string iconClass;

        switch (model.Type)
        {
            case FeedbackType.Success:
                (icon, iconClass) = (IconType.CheckCircle, "text-success");
                break;
            case FeedbackType.Warning:
                (icon, iconClass) = (IconType.ExclamationTriangle, "text-warning");
                break;
            case FeedbackType.Error:
                (icon, iconClass) = (IconType.TimesCircle, "text-danger");
                break;
            default:
                continue;
        }

        @await Html.PartialAsync("Components/_Toast", new ToastViewModel
        {
            KeepOpen = true,
            Header = 
                @<div class="d-flex gap-1">
                    <span>
                        @await Html.PartialAsync("Components/_Icon", new IconViewModel(icon)
                        {
                            Class = iconClass
                        })
                    </span>
                    <span class="flex-grow-1">
                        @(model.Message)
                    </span>                
                </div>
        })
    }
</div>