@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Feedback
@{
    if (!int.TryParse(TempData["FeedbackCount"]?.ToString(), out int feedbackCount))
    {
        // return;
    }

    var models = new List<FeedbackViewModel>();
    for (var i = 0; i < feedbackCount; i++)
    {
        var typeName = TempData[$"Feedback[{i}].Type"]?.ToString();
        if (!Enum.TryParse<FeedbackType>(typeName, ignoreCase: true, out var type))
        {
            continue;
        }

        var message = TempData[$"Feedback[{i}].Message"]?.ToString();
        if (string.IsNullOrEmpty(message))
        {
            continue;
        }

        models.Add(new FeedbackViewModel(message, type));
    }

    models.Add(new FeedbackViewModel("Test success message", FeedbackType.Success));

    if (models.Count == 0)
    {
        return;
    }
}

@*d-none is removed when setting the theme*@
<div class="toasts d-none" data-bs-theme="" data-theme-contrast data-attach-to="[data-toast-anchor]">
    @foreach (var model in models)
    {
        IconType icon;
        string iconClass;

        switch (model.Type)
        {
            case FeedbackType.Success:
                icon = IconType.CheckCircle;
                iconClass = "text-success";
                break;
            case FeedbackType.Warning:
                icon = IconType.ExclamationTriangle;
                iconClass = "text-warning";
                break;
            case FeedbackType.Error:
                icon = IconType.TimesCircle;
                iconClass = "text-danger";
                break;
            default:
                continue;
        }

        @await Html.PartialAsync("Components/_Toast", new ToastViewModel
        {
            KeepOpen = true,
            Header = 
                @<div class="d-flex gap-1">
                    <span>
                        @await Html.PartialAsync("Components/_Icon", new IconViewModel(icon)
                        {
                            Class = iconClass
                        })
                    </span>
                    <span class="flex-grow-1">
                        @(model.Message)
                    </span>                
                </div>
        })
    }
</div>