@using ODK.Web.Razor.Models.Components
@model GoogleLoginButtonViewModel

<div data-google-oauth data-google-clientid="@Model.ClientId">
    <input type="hidden" name="token" data-google-token />
    <button type="button" class="btn btn-outline-primary d-flex align-items-center w-100">
        @await Html.PartialAsync("Components/Icons/_Google")
        <div class="flex-grow-1 d-flex justify-content-center">
            @Model.Text
        </div>
    </button>
    <div class="d-none" data-google-button></div>
</div>