@using ODK.Services.Authentication.OAuth
@using ODK.Web.Razor.Models.Components
@model GoogleLoginButtonViewModel

<div data-oauth-button="@OAuthProviderType.Google" data-google-clientid="@Model.ClientId">    
    <button type="button" class="btn btn-outline-primary d-flex align-items-center w-100">
        @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Google))
        <div class="flex-grow-1 d-flex justify-content-center">
            @Model.Text
        </div>
    </button>
    <div class="d-none" data-google-button></div>
</div>