@using ODK.Services.SocialMedia.ViewModels
@model InstagramPostViewModel
@{
    var imageId = Model.InstagramImageIds.First();
}

<div class="social-media-image-tile">
    <a href="@Model.Url" target="_blank" data-bs-toggle="tooltip" data-bs-title="@Model.Caption">
        
        <img src="/Instagram/Images/@imageId" alt="@Model.Caption" />
    </a>    
</div>