@model ODK.Web.Razor.Models.SocialMedia.InstagramPostViewModel
@{
    string url = $"https://www.instagram.com/p/{Model.ExternalId}/?img_index=1";
}

<div class="social-media-image-tile">
    <a href="@url" target="_blank" data-bs-toggle="tooltip" data-bs-title="@Model.Caption">
        <img src="/@Model.Chapter.ShortName/Instagram/Images/@Model.InstagramPostId" alt="@Model.Caption" />
    </a>    
</div>