@using ODK.Web.Razor.Models.Components
@model string

@await Html.PartialAsync("Components/Icons/_Instagram", new IconViewModel
{
    Class = "mr-1"
})

<a href="https://www.instagram.com/@Model" target="_blank">
    @Model
</a>