@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Components
@model string

<div class="d-flex align-items-center gap-2">
    @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.LocationPin))
    <span>@Model</span>
</div>