@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model LocationPickerViewModel

<div class="input-group" data-location-container>
    <span class="input-group-text">
        <span data-bs-toggle="tooltip" data-bs-title="Location">
            @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.LocationPin))
        </span>       
    </span>

    <div class="dropdown flex-grow-1">
        @Html.TextBoxFor(x => x.LocationName, new
        {
            @class = "form-control",
            data_location = "",
            data_bs_toggle = "dropdown"
        })

        <ul class="dropdown-menu google-places-suggestions" data-location-options></ul>
    </div> 

    @Html.HiddenFor(x => x.Lat, new { data_location_lat = "" })
    @Html.HiddenFor(x => x.Long, new { data_location_long = "" })
</div>