@using ODK.Web.Razor.Models.Components
@model ModalViewModel

<div class="modal" tabindex="-1" id="@Model.Id">
    <div class="modal-dialog @Model.Size">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Model.Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Model.Body.Invoke(null)
            </div>
        </div>
    </div>
</div>