@using ODK.Web.Razor.Models.Components
@model PageTitleViewModel
@{
    if (string.IsNullOrEmpty(Model.Title) && Model.Content == null)
    {
        return;
    }
}

<section class="section--header">
    <div class="container">
        <div class="row @(Model.WidthClass != null ? "justify-content-center" : null)">
            <div class="@(Model.WidthClass ?? "col-12")">
                @if (Model.Content != null)
                {
                    @Model.Content
                }
                else
                {
                    <h1>@Model.Title</h1>
                }
            </div>
        </div>        
    </div>
</section>