@using ODK.Web.Razor.Models.Components
@model PageTitleViewModel
@{
    if (string.IsNullOrEmpty(Model.Title) && Model.Content == null)
    {
        return;
    }
}

<section class="section--header">
    <div class="container">
        @if (Model.Content != null)
        {
            @Model.Content
        }
        else
        {
            <h1>@Model.Title</h1>
        }
    </div>
</section>