@using ODK.Web.Common.Components
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Components
@model SideMenuViewModel
@{
    var active = Model.Active != null
        ? Model.Active
        : Model.MenuItems.Active(Context.Request.Path);

    var closestActive = active == null && Model.Root
        ? Model.MenuItems.Closest(Context.Request.Path)
        : null;

    if (active == null)
    {
        active = closestActive;
    }
}

<ul class="side-menu">
    @foreach (var menuItem in Model.MenuItems)
    {
        var showChildren = active != null && active.DescendantOf(menuItem);

        <li>
            <a class="nav-link text-nowrap @(menuItem == active ? "active" : "")" href="@menuItem.Link">
                @menuItem.Text
            </a>

            @if (showChildren)
            {
                @await Html.PartialAsync("Components/_SideMenu", new SideMenuViewModel
                {
                    Active = closestActive,
                    MenuItems = menuItem.Children ?? [],
                    Root = false
                })
            }
        </li>
    }
</ul>