@using ODK.Web.Common.Components
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Components
@model TabsViewModel
@{
    var activeMenuItem = Model.MenuItems
        .FirstOrDefault(x => x.Active);

    if (activeMenuItem == null)
    {
        activeMenuItem = Model.MenuItems
            .FirstOrDefault(x => Context.ForPath(x.Link, exactMatch: true));
    }
}

<ul class="nav nav-underline my-3 @Model.Class">
    @foreach (var menuItem in Model.MenuItems)
    {
        var active = menuItem.Link == activeMenuItem?.Link;

        <li class="nav-item">
            <a class="nav-link @(active ? "active" : null)" href="@menuItem.Link">
                @menuItem.Text
            </a>
        </li>
    }    
</ul>