@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Components
@model string

<span data-bs-toggle="tooltip" data-bs-title="@Model">
    @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.QuestionCircle)
    {
        Class = "ms-1 icon--help"
    })
</span>