@using ODK.Web.Razor.Models.Components
@model TwoColLeftMenuViewModel

<div class="d-md-flex">
    <div>
        @if (Model.MenuContentFunc != null)
        {
            @Model.MenuContentFunc.Invoke(null)
        }
        else if (Model.MenuContent != null)
        {
            @Model.MenuContent
        }
    </div>
    <div class="ps-md-5 pt-5 pt-md-0 flex-grow-1">        
        @Model.BodyContentFunc.Invoke(null)
    </div>
</div>