@using ODK.Web.Razor.Models.Components
@model TwoColLeftMenuViewModel

<div class="d-block d-md-flex">
    <div class="d-none d-md-block">
        @await Model.MenuContentFunc.Invoke(null)
    </div>
    <div class="ps-md-5 flex-grow-1">
        <div class="d-flex">
            <h2 class="me-auto">@Model.Title</h2>
            <button class="navbar-toggler d-md-none mb-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#side-menu-nav" aria-controls="side-menu-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="d-md-none collapse" id="side-menu-nav">
            @await Model.MenuContentFunc.Invoke(null)
        </div>
        <div class="mt-3">
            @Model.BodyContentFunc.Invoke(null)
        </div>        
    </div>
</div>