@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Components
@model UpgradeButtonViewModel

<a href="@OdkRoutes.Account.Subscription(Model.Platform, Model.Chapter)" class="btn btn-outline-primary">
    @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Unlock))
    <span>Upgrade to unlock</span>
</a>