@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Components
@model UpgradeButtonViewModel

<a href="@OdkRoutes.Account.Subscription(Model.Platform, Model.Chapter)" class="btn btn-outline-primary">
    <i class="fa-solid fa-unlock"></i>
    <span>Upgrade to unlock</span>
</a>