<ng-container *appLoading="!invites">

  <div *ngIf="sendForm" class="mb-3">
    <app-form [form]="sendForm" (formSubmit)="onSendFormSubmit()">      
    </app-form>
  </div>  

  <div *ngIf="sendTestForm" class="mb-3">
    <app-form [form]="sendTestForm" (formSubmit)="onSendTestFormSubmit()">      
    </app-form>    
  </div>  
  
  <ngb-alert *ngIf="sent" type="success" (close)="onSentAlertClose()">
    Email sent
  </ngb-alert>

  <ng-container *ngIf="invites.sentDate">
    <p>
      {{invites.sent}} invites were sent on {{invites.sentDate | date:'fullDate' }}
    </p>      
  </ng-container>  
  
  <app-event-responses></app-event-responses>
</ng-container>