<ng-container *appLoading="!properties">
  <p>
    <a class="btn btn-primary" [routerLink]="links.create">Create property</a>
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Label</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of properties">
        <td><a [routerLink]="getPropertyLink(property)">{{property.label}}</a></td>
        <td>{{property.name}}</td>
        <td>
          <button class="btn-icon text-danger" (click)="onDeleteProperty(property)" ngbTooltip="Delete">
            <i class="fas fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
