@using ODK.Core.Chapters
@using ODK.Core.Utils
@using ODK.Services.Chapters
@using ODK.Services.Chapters.ViewModels
@using ODK.Services.Members
@using ODK.Services.Subscriptions
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin.Chapters
@using ODK.Web.Razor.Models.Payments
@using ODK.Web.Razor.Models.Pricing
@model ChapterSubscriptionAdminPageViewModel
@{
    var subscription = Model.SiteSubscriptions.CurrentMemberSubscription;
}

<section class="section">
    <h4>Current subscription</h4>
    @if (subscription != null)
    {
        var nextPaymentDate = subscription.ExpiresUtc != null
        ? subscription.ExpiresUtc.Value.ToFriendlyDateString(Model.Chapter.TimeZone)
        : "-";
        <p>
            @subscription.SiteSubscription.Name
        </p>
        <div class="form-group">
            <label for="next-payment-date" class="form-label">Next payment date</label>
            <input id="next-payment-date" type="text" readonly class="form-control-plaintext" value="@nextPaymentDate">
        </div>
    }
    else
    {
        <p>None</p>
    }
</section>

<section class="section">
    <h4>Change subscription</h4>
    @await Html.PartialAsync("Pricing/_PricingContent", new PricingContentViewModel
    {
        CheckoutUrl = OdkRoutes.MemberGroups.GroupSubscriptionCheckout(Model.Platform, Model.Chapter, "{price.id}"),
        CheckoutUrlPriceIdPlaceholder = "{price.id}",
        SiteSubscriptions = Model.SiteSubscriptions
    })
</section>