@using ODK.Core.Chapters
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin.Chapters
@model ODK.Core.Chapters.Chapter
@inject IChapterService ChapterService
@{
    var links = await ChapterService.GetChapterLinks(Model.Id);    
}

<h2>Social media links</h2>
<form method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("Admin/Chapter/_LinksForm", new ChapterLinksFormViewModel
    {
        Facebook = links?.FacebookName,
        Instagram = links?.InstagramName,
        Twitter = links?.TwitterName
    })
    <button class="btn btn-primary">Update</button>
</form>