@using ODK.Core.Chapters
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.SiteAdmin
@model ChapterLocationAdminPageViewModel

<section class="section--admin">        
    <form action="/groups/@Model.Chapter.Id/location" method="post">        
        @*@Html.AntiForgeryToken()*@                
        @if (Model.Country != null)
        {
            <div class="form-group mb-3">
                <label for="Country" class="form-label">Country</label>
                <input id="Country" type="text" readonly class="form-control-plaintext" value="@Model.Country.Name" />
            </div>
        }

        @if (Model.Chapter.TimeZone != null)
        {
            <div class="form-group mb-3">
                <label for="TimeZone" class="form-label">Time zone</label>
                <input id="TimeZone" type="text" readonly class="form-control-plaintext" value="@Model.Chapter.TimeZone.DisplayName" />
            </div>
        }

        @await Html.PartialAsync("Admin/Chapter/_LocationForm", new ChapterLocationFormViewModel
        {
            Lat = Model.Location?.LatLong.Lat,
            Long = Model.Location?.LatLong.Long,
            LocationName = Model.Location?.Name ?? string.Empty
        })

        <div class="mt-3">
            <button class="btn btn-primary">Update</button>
        </div>
    </form>

    @if (Model.Location?.LatLong != null)
    {
        <div class="mt-3">
            @await Html.PartialAsync("Components/_GoogleMap", new GoogleMapViewModel
            {
                LatLong = Model.Location.LatLong,
                QuerySource = "#" + Html.IdFor(x => x.LocationName)
            })
        </div>
    }    
</section>