@using ODK.Core.Chapters
@using ODK.Core.Extensions
@using ODK.Core.Utils
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model ChapterMessagesAdminPageViewModel

<p>Contact messages sent by unknown users</p>

@await Html.PartialAsync("Admin/Chapter/_MessagesTabs", Model)

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Time</th>
                <th>From</th>
                <th>Message</th>
                <th>Replied</th>
                <th></th>
                <th class="tcol-narrow"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model.Messages.OrderByDescending(x => x.CreatedUtc))
            {
                <tr>
                    <td>@message.CreatedUtc.ToFriendlyDateTimeString(Model.Chapter.TimeZone)</td>
                    <td>@message.FromAddress</td>
                    <td>@message.Message</td>
                    <td>
                        @if (message.RepliedUtc != null)
                        {
                            @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.CheckCircle)
                            {
                                Class = "text-success"
                                        })
                                        }
                    </td>
                    <td>
                        <a href="@OdkRoutes.MemberGroups.GroupMessage(Model.Platform, Model.Chapter, message.Id)">View</a>
                    </td>
                    <td>
                        <form method="post" action="/groups/@Model.Chapter.Id/messages/@message.Id/delete">
                            @*@Html.AntiForgeryToken()*@
                            <button data-bs-toggle="tooltip" data-bs-title="Delete" class="btn-icon text-danger"
                                    onclick="return confirm('Are you sure you want to delete this message?');">
                                @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Times))
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>