@using ODK.Core.Chapters
@using ODK.Core.Extensions
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Extensions
@model ChapterMessagesAdminPageViewModel

<h2>Messages</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Time</th>
        <th>From</th>
        <th>Message</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var message in Model.Messages.OrderByDescending(x => x.CreatedUtc))
    {
        <tr>
            <td>@TimeZoneEntityExtensions.ToLocalTime(Model.Chapter, message.CreatedUtc).ToString("dd/MM/yyyy HH:mm")</td>
            <td>@message.FromAddress</td>
            <td>@message.Message</td>
            <td>
                <form method="post" action="/groups/@Model.Chapter.Id/messages/@message.Id/delete">
                    @Html.AntiForgeryToken()
                    <button data-bs-toggle="tooltip" data-bs-title="Delete" class="btn-icon text-danger"
                            onclick="return confirm('Are you sure you want to delete this message?');">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>