@using ODK.Core.Chapters
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Admin.Chapters
@model ChapterPrivacyAdminPageViewModel

<form action="/groups/@Model.Chapter.Id/privacy" method="post">
    @*@Html.AntiForgeryToken()*@
    @await Html.PartialAsync("Admin/Chapter/_PrivacyForm", new ChapterPrivacySettingsFormViewModel
    {
        Conversations = Model.PrivacySettings.Visibility(ChapterFeatureType.Conversations),
        EventResponseVisibility = Model.PrivacySettings.Visibility(ChapterFeatureType.EventResponses),
        EventVisibility = Model.PrivacySettings.Visibility(ChapterFeatureType.Events),
        MemberVisibility = Model.PrivacySettings.Visibility(ChapterFeatureType.Members),
        VenueVisibility = Model.PrivacySettings.Visibility(ChapterFeatureType.Venues)
    })
    <button class="btn btn-primary">Update</button>
</form>