@using ODK.Core.DataTypes
@using ODK.Core.Platforms
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Admin.Chapters
@using ODK.Web.Razor.Models.Components
@model ODK.Core.Chapters.Chapter
@inject IPlatformProvider PlatformProvider
@{
    var platform = PlatformProvider.GetPlatform();
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.GroupProperties(platform, Model),
            Text = "Member properties"
        },
        new MenuItem { Text = "New" }
    },
    Title = "Create member property",
    ContentFunc = 
        @<div>
            <form method="post">
                @Html.AntiForgeryToken()
                @await Html.PartialAsync("Admin/Chapter/_PropertyForm", new ChapterPropertyFormViewModel
                {
                    DataType = DataType.Text,
                    DataTypeEnabled = true
                })
                <button class="btn btn-primary">Create</button>
            </form>
        </div>
})