@using ODK.Core.Chapters
@using ODK.Core.Platforms
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@model ChapterQuestionsAdminPageViewModel

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "FAQ",
    ContentFunc = 
        @<div>
            @if (Model.Platform == PlatformType.DrunkenKnitwits)
            {
                <p>
                    The questions below are shown on the About page.
                </p>
            }

            <p>
                <a href="@OdkRoutes.MemberGroups.GroupQuestionCreate(Model.Platform, Model.Chapter)" 
                    class="btn btn-primary">
                    Create question
                </a>
            </p>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var question in Model.Questions.OrderBy(x => x.DisplayOrder))
                        {
                            <tr>
                                <td>
                                    <a href="@OdkRoutes.MemberGroups.GroupQuestion(Model.Platform, Model.Chapter, question.Id)">@question.Name</a>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <form method="post" action="/groups/@Model.Chapter.Id/questions/@question.Id/move/up">
                                            @*@Html.AntiForgeryToken()*@
                                            <button data-bs-toggle="tooltip" data-bs-title="Move up" class="btn btn-icon text-secondary">
                                                <i class="fas fa-arrow-circle-up"></i>
                                            </button>
                                        </form>
                                        <form method="post" action="/groups/@Model.Chapter.Id/questions/@question.Id/move/down">
                                            @*@Html.AntiForgeryToken()*@
                                            <button data-bs-toggle="tooltip" data-bs-title="Move down" class="btn btn-icon text-secondary">
                                                <i class="fas fa-arrow-circle-down"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                                <td>
                                    <form method="post" action="/groups/@Model.Chapter.Id/questions/@question.Id/delete">
                                        @*@Html.AntiForgeryToken()*@
                                        <button data-bs-toggle="tooltip" data-bs-title="Delete" class="btn-icon text-danger"
                                                onclick="return confirm('Are you sure you want to delete this question?');">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
})
