@using ODK.Web.Razor.Models.Admin.Chapters
@model ODK.Core.Chapters.ChapterQuestion

<form method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("Admin/Chapter/_QuestionForm", new ChapterQuestionFormViewModel
    {
        Answer = Model.Answer,
        Question = Model.Name
    })
    <button class="btn btn-primary">Update</button>
</form>