@using ODK.Core.Platforms
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Admin.Chapters
@using ODK.Web.Razor.Models.Components
@model ChapterQuestionAdminPageViewModel

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.GroupQuestions(Model.Platform, Model.Chapter),
            Text = "FAQ"
        },
        new MenuItem { Text = Model.Question.Name }
    },
    Title = "Edit question",
    ContentFunc = 
        @<div>
            <form method="post">
                @await Html.PartialAsync("Admin/Chapter/_QuestionForm", new ChapterQuestionFormViewModel
                {
                    Answer = Model.Question.Answer,
                    Question = Model.Question.Name
                })
                <button class="btn btn-primary">Update</button>
            </form>
        </div>
})
