@using ODK.Core.Platforms
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Admin.Chapters
@using ODK.Web.Razor.Models.Components
@model ChapterQuestionAdminPageViewModel

<form method="post" action="/admin/groups/@Model.Chapter.Id/questions/@Model.Question.Id">
    @*@Html.AntiForgeryToken()*@
    @await Html.PartialAsync("Admin/Chapter/_QuestionForm", new ChapterQuestionFormViewModel
    {
        Answer = Model.Question.Answer,
        Question = Model.Question.Name
    })
    <button class="btn btn-primary">Update</button>
</form>