@using ODK.Core.Chapters
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Admin.Chapters
@model ChapterTextsAdminPageViewModel

<form method="post" action="/groups/@Model.Chapter.Id/texts">
    @*@Html.AntiForgeryToken()*@

    @await Html.PartialAsync("Admin/Chapter/_TextForm", new ChapterTextsFormViewModel
    {
        Description = Model.Texts?.Description,
        RegisterMessage = Model.Texts?.RegisterText,
        WelcomeMessage = Model.Texts?.WelcomeText
    })
    <button class="btn btn-primary">Update</button>
</form>