@using ODK.Core.Chapters
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin.Chapters
@model ODK.Core.Chapters.Chapter
@inject IChapterService ChapterService
@{
    var texts = await ChapterService.GetChapterTexts(Model.Id);
}

<form method="post" action="/@Model.Name/Admin/Chapter/Text">
    @Html.AntiForgeryToken()

    @await Html.PartialAsync("Admin/Chapter/_TextForm", new ChapterTextsFormViewModel
    {
        RegisterMessage = texts.RegisterText,
        WelcomeMessage = texts.WelcomeText
    })
    <button class="btn btn-primary">Update</button>
</form>