@using ODK.Core.Chapters
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin.Chapters
@model ODK.Core.Chapters.Chapter
@inject IChapterAdminService ChapterAdminService
@{
    var memberId = User.MemberId();
    var serviceRequest = new AdminServiceRequest(Model.Id, memberId);
    var texts = await ChapterAdminService.GetChapterTexts(serviceRequest);
}

<form method="post" action="/@Model.Name/Admin/Chapter/Text">
    @Html.AntiForgeryToken()

    @await Html.PartialAsync("Admin/Chapter/_TextForm", new ChapterTextsFormViewModel
    {
        Description = texts?.Description,
        RegisterMessage = texts?.RegisterText,
        WelcomeMessage = texts?.WelcomeText
    })
    <button class="btn btn-primary">Update</button>
</form>