@page "/my/groups/{id:guid}/conversations"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model IndexModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Conversations";

    var viewModel = await ChapterAdminService.GetChapterConversationsViewModel(Model.AdminServiceRequest, readByChapter: false);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Conversations",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/Conversations/_ConversationsContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu", new AdminSideMenuViewModel
    {
        Chapter = viewModel.Chapter
    })
})