@using ODK.Core.Subscriptions
@using ODK.Services.Subscriptions.ViewModels
@using ODK.Web.Razor.Models.Pricing
@model SiteSubscriptionsViewModel
@{
    var subscriptions = Model
        .Subscriptions
        .OrderBy(subscription => subscription.Prices.Min(x => x.Amount))
        .ToArray();

    var currency = Model.Currency 
        ?? Model.Currencies.FirstOrDefault() 
        ?? Model.Subscriptions.SelectMany(x => x.Prices).Select(x => x.Currency).FirstOrDefault();
    if (currency == null || Model.PaymentSettings?.Provider == null)
    {
        return;
    }
}

<div class="row gap-3">
    @foreach (var subscriptionViewModel in subscriptions)
    {
        var subscription = subscriptionViewModel.Subscription;
        var prices = subscriptionViewModel.Prices.Where(x => x.CurrencyId == currency.Id);

        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@subscription.Name</h5>
                    <div class="card-text d-flex flex-column flex-grow-1">
                        @Html.Raw(subscription.Description)

                        @if (Model.CurrentMemberSubscription?.SiteSubscriptionId == subscription.Id)
                        {
                            <div class="mt-auto">
                                <i class="fa-solid fa-star text-warning"></i>
                                <span>Current plan</span>
                            </div>
                        }
                        else
                        {                            
                            <div class="d-flex flex-column gap-3 mt-auto">
                                @if (prices.Any(x => x.IsPaid) &&
                                    Model.CurrentMemberSubscription?.SiteSubscriptionPrice?.IsPaid == true)
                                {
                                    <p>
                                        Purchasing this subscription will cancel your existing subscription.
                                    </p>
                                }

                                @foreach (var price in prices.OrderBy(x => x.Amount))
                                {
                                    if (price.ExternalId == null)
                                    {
                                        continue;
                                    }

                                    @await Html.PartialAsync("Pricing/_SubscriptionPrice", new SiteSubscriptionPriceViewModel
                                    {
                                        Amount = price.Amount,
                                        Currency = currency,
                                        Frequency = price.Frequency,
                                        ExternalId = price.ExternalId,
                                        Provider = Model.PaymentSettings.Provider.Value,
                                        SiteSubscription = subscription,
                                        SiteSubscriptionPriceId = price.Id
                                    })   
                                }                        
                            </div>
                        }
                    </div>
                </div>            
            </div>
        </div>
    }
</div>