@using ODK.Deploy.Web.Mvc.Models.Home;
@using ODK.Deploy.Web.Mvc.Requests.Home;
@model IndexViewModel
@{
    ViewData["Title"] = "Servers";
}

<h1>Servers</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Server</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var server in Model.Servers)
        {
            <tr>
                <td>
                    @Html.ActionLink(@server.Name, "Server", null, new ServerPathRequest { Name = server.Name })
                </td>
            </tr>
        }
    </tbody>
</table>