<app-footer>
  <ng-container *ngIf="links">
    <div *ngIf="links.instagram">
      <i class="fab fa-instagram mr-1"></i>
      <a [attr.href]="links.instagram" target="_blank">{{links.instagramName}}</a>
    </div>

    <div *ngIf="links.facebook">
      <i class="fab fa-facebook-f mr-1"></i>
      <a [attr.href]="links.facebook" target="_blank">{{links.facebookName}}</a>
    </div>

    <div *ngIf="links.twitter">
      <i class="fab fa-twitter mr-1"></i>
      <a [attr.href]="links.twitter" target="_blank">{{links.twitterName}}</a>
    </div>
  </ng-container>    
</app-footer>