@using ODK.Core.Utils
@using ODK.Core.Venues
@using ODK.Services.Events.ViewModels
@using ODK.Web.Common.Routes
@model EventAdminPageViewModelBase

<h5>@Model.Event.Date.EventDate()</h5>
<h5 class="d-flex justify-content-between">
    <a href="@OdkRoutes2.MemberGroups.Venue(Model.Platform, Model.Chapter, Model.Venue)">@Model.Venue.Name</a>
</h5>

<a href="@OdkRoutes2.Groups.Event(Model.Platform, Model.Chapter, Model.Event.Id)">
    <i class="fas fa-home"></i> View in site
</a>