@using ODK.Core.Utils
@using ODK.Services
@using ODK.Services.Events
@using ODK.Services.Events.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Admin.Events
@using ODK.Web.Razor.Models.Components
@model EventCreateAdminPageViewModel
@{
    var hostOptions = Model.AdminMembers
        .Select(x => new SelectListItem
        {
            Value = x.MemberId.ToString(),
            Text = x.Member.FullName
        })
        .ToArray();
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.Events(Model.Platform, Model.Chapter),
            Text = "Events"
        },
        new MenuItem { Text = "New" }
    },
    Title = "Create event",
    ContentFunc = 
        @<div>
            <form method="post">
                @Html.AntiForgeryToken()
    
                @await Html.PartialAsync("Admin/Events/Event/_EventForm", new EventFormViewModel
                {
                    Chapter = Model.Chapter,
                    Date = Model.Date,
                    Description = Model.EventSettings?.DefaultDescription,
                    EndTime = TimeSpanUtils.ToString(Model.EventSettings?.DefaultEndTime),
                    HostOptions = hostOptions,
                    OwnerSubscription = Model.OwnerSubscription,
                    PaymentSettings = Model.PaymentSettings,
                    Platform = Model.Platform,
                    Venue = Model.VenueId ?? default,
                    Venues = Model.Venues
                })
    
                <div class="button-container">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="submit" class="btn btn-secondary" name="draft" value="true">Save as draft</button>
                </div>
            </form>
        </div>
})
