@using ODK.Core.Utils
@using ODK.Core.Venues
@using ODK.Services.Venues
@model ODK.Web.Razor.Models.Admin.Events.EventViewModel
@inject IVenueService VenueService
@{
    Venue? venue = await VenueService.GetVenueAsync(Model.CurrentMember, Model.Event);
}

<h5>@Model.Event.Date.EventDate()</h5>
<h5 class="d-flex justify-content-between">
    <a href="/@Model.Chapter.Name/Admin/Events/Venues/@venue!.Id">@venue.Name</a>
</h5>

<a href="/@Model.Chapter.Name/Events/@Model.Event.Id">
    <i class="fas fa-home"></i> View in site
</a>