@using ODK.Core.Members
@using ODK.Web.Razor.Models.Admin.Events
@model ODK.Web.Razor.Models.Admin.Events.EventViewModel
@{
    var hostOptions = Model.ChapterAdminMembers?.Members
        .Select(x => new SelectListItem
        {
            Value = x.Id.ToString(),
            Text = x.FullName
        })
        .ToArray() ?? [];
}

@await Html.PartialAsync("Admin/Events/_EventHeader", Model)

@await Html.PartialAsync("Admin/Events/_EventAdminTabs", Model)

@if (Model.Event.PublishedUtc == null)
{
    <form action="/@Model.Chapter.Name/Admin/Events/@Model.Event.Id/Publish" method="post">
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">
                <i class="fa-solid fa-upload"></i>
                Publish
            </button>
        </div>
    </form>
}

<form method="post" action="/@Model.Chapter.Name/Admin/Events/@Model.Event.Id">
    @Html.AntiForgeryToken()    
    @await Html.PartialAsync("Admin/Events/_EventForm", new EventFormViewModel
    {
        ChapterId = Model.Chapter.Id,
        CurrentMemberId = Model.CurrentMember.Id,
        Date = Model.Event.Date,
        Description = Model.Event.Description,
        Hosts = Model.Hosts?.Select(x => x.MemberId).ToList() ?? [],
        HostOptions = hostOptions,
        ImageUrl = Model.Event.ImageUrl,
        Name = Model.Event.Name,
        Public = Model.Event.IsPublic,
        Time = Model.Event.Time,
        Venue = Model.Event.VenueId
    })
    
    <div class="d-flex">
        <button type="submit" class="btn btn-primary me-auto">Update</button>
        <button type="button" class="btn btn-danger"
                data-submit="#event-delete-form"
                data-submit-confirm="Are you sure you want to delete this event?">
            Delete
        </button>
    </div>
</form>

<form method="post" action="/@Model.Chapter.Name/Admin/Events/@Model.Event.Id/Delete"
      id="event-delete-form">
</form>