@using ODK.Services.Chapters
@using ODK.Services.Events
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin.Events
@using ODK.Web.Razor.Models.Components
@model ODK.Core.Chapters.Chapter
@inject IChapterAdminService ChapterAdminService
@inject IEventAdminService EventAdminService
@{
    var memberId = User.MemberId();

    var settings = await ChapterAdminService.GetChapterEventSettings(memberId, Model.Id);
    var nextEventDate = await EventAdminService.GetNextAvailableEventDate(memberId, Model);
    var chapterAdminMembers = await ChapterAdminService.GetChapterAdminMemberDtos(memberId, Model.Id);

    if (nextEventDate == null)
    {
        nextEventDate = DateTime.Today;
    }

    var hostOptions = chapterAdminMembers.Members
        .Select(x => new SelectListItem
                {
                    Value = x.Id.ToString(),
                    Text = x.FullName
                })
        .ToArray();
}

<h2>Create new event</h2>

<form method="post" action="/@Model.Name/Admin/Events/Create">
    @Html.AntiForgeryToken()
    
    @await Html.PartialAsync("Admin/Events/_EventForm", new EventFormViewModel
    {
        ChapterId = Model.Id,
        CurrentMemberId = memberId,
        Date = nextEventDate.Value,
        Description = settings?.DefaultDescription,
        HostOptions = hostOptions
    })
    
    <div class="button-container">
        <button type="submit" class="btn btn-primary">Create</button>
        <button type="submit" class="btn btn-secondary" name="draft" value="true">Save as draft</button>
        @await Html.PartialAsync("Components/_FeatureTooltip",
            new FeatureTooltipViewModel
            {
                CurrentMemberId = memberId,
                Name = "Events.SaveDraft"
            })
    </div>
</form>