@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Events
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin.Events
@using ODK.Web.Razor.Models.Members
@model EventViewModel
@inject IChapterAdminService ChapterAdminService
@inject IEventAdminService EventAdminService

@await Html.PartialAsync("Admin/Events/_EventHeader")
@await Html.PartialAsync("Admin/Events/_EventAdminTabs")

@{
    if (Model.Event.TicketSettings == null)
    {
        return;
    }

    var memberId = User.MemberId();
    var request = new AdminServiceRequest(Model.Chapter.Id, memberId);
    var ticketPurchases = await EventAdminService.GetEventTicketPurchases(request, Model.Event.Id);
    var chapterPaymentSettings = await ChapterAdminService.GetChapterPaymentSettings(request);

    if (chapterPaymentSettings == null)
    {
        <div class="alert alert-danger">
            Chapter payment settings not set up
        </div>

        return;
    }
}

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Member</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var ticketPurchase in ticketPurchases.OrderBy(x => x.Member.FullName))
        {
            <tr>
                <td width="30px" class="px-0">
                    @await Html.PartialAsync("Members/_MemberAvatar", new MemberAvatarViewModel
                    {
                        ChapterName = Model.Chapter.Name,
                        Member = ticketPurchase.Member,
                        MaxWidth = 30
                    })
                </td>
                <td>
                    <a href="/@Model.Chapter.Name/Admin/Members/@ticketPurchase.MemberId">@ticketPurchase.Member.FullName</a>
                </td>
                <td>
                    @chapterPaymentSettings.Currency.ToAmountString(ticketPurchase.TotalPaid)

                    @if (ticketPurchase.TotalPaid < Model.Event.TicketSettings.Cost)
                    {
                        var remaining = Model.Event.TicketSettings.Cost - ticketPurchase.TotalPaid;
                        @:(Remaining: @chapterPaymentSettings.Currency.ToAmountString(remaining))
                    }
                </td>
            </tr>
        }
    </tbody>
</table>