@using ODK.Core.Utils
@using ODK.Services
@using ODK.Services.Events
@using ODK.Services.Events.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin.Events
@using ODK.Web.Razor.Models.Components
@model EventCreateAdminPageViewModel
@{
    var hostOptions = Model.AdminMembers
        .Select(x => new SelectListItem
        {
            Value = x.MemberId.ToString(),
            Text = x.Member.FullName
        })
        .ToArray();
}

@await Html.PartialAsync("Components/_Breadcrumbs", new BreadcrumbsViewModel
{
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = OdkRoutes2.MemberGroups.Events(Model.Platform, Model.Chapter),
            Text = "Events"
        },
        new MenuItem { Text = "New" }
    }
})

<h2>Create event</h2>

<form method="post">
    @Html.AntiForgeryToken()
    
    @await Html.PartialAsync("Admin/Events/_EventForm", new EventFormViewModel
    {
        Chapter = Model.Chapter,
        Date = Model.Date,
        Description = Model.EventSettings?.DefaultDescription,
        EndTime = TimeSpanUtils.ToString(Model.EventSettings?.DefaultEndTime),
        HostOptions = hostOptions,
        OwnerSubscription = Model.OwnerSubscription,
        PaymentSettings = Model.PaymentSettings,
        Platform = Model.Platform,
        Venue = Model.VenueId ?? default,
        Venues = Model.Venues
    })
    
    <div class="button-container">
        <button type="submit" class="btn btn-primary">Create</button>
        <button type="submit" class="btn btn-secondary" name="draft" value="true">Save as draft</button>
    </div>
</form>