@using ODK.Core.Events
@using ODK.Services.Events.ViewModels
@using ODK.Web.Razor.Models.Events
@using ODK.Web.Razor.Models.Members
@model EventAttendeesAdminPageViewModel
@{
    var responseDictionary = Model.Responses
        .ToDictionary(x => x.MemberId, x => x.Type);
}

@await Html.PartialAsync("Admin/Events/_EventBreadcrumbs", Model)
@await Html.PartialAsync("Admin/Events/_EventHeader")
@await Html.PartialAsync("Admin/Events/_EventAdminTabs")

<div class="row row-cols-3 row-cols-md-6">
    @foreach (var member in Model.Members.OrderBy(x => x.FullName))
    {
        responseDictionary.TryGetValue(member.Id, out var response);

        <div class="col text-center overlay-container mb-3">
            <div class="d-flex align-items-end justify-content-center">
                @await Html.PartialAsync("Members/_MemberAvatar", new MemberAvatarViewModel
                {
                    ChapterName = Model.Chapter.Name,
                    Member = member
                })
            </div>
            <div>
                <a href="/@Model.Chapter.Name/Admin/Members/@member.Id">@member.FullName</a>
            </div>
            <div class="d-flex justify-content-center">
                <form method="post" action="/@Model.Chapter.Name/Admin/Events/@Model.Event.Id/Attendees/@member.Id">
                    @await Html.PartialAsync("Events/_EventResponseIcon", new EventResponseIconViewModel
                    {
                        Active = response == EventResponseType.Yes,
                        ResponseType = EventResponseType.Yes,
                        ReadOnly = false
                    })
                </form>

                <form method="post" action="/@Model.Chapter.Name/Admin/Events/@Model.Event.Id/Attendees/@member.Id">
                    @await Html.PartialAsync("Events/_EventResponseIcon", new EventResponseIconViewModel
                    {
                        Active = response == EventResponseType.Maybe,
                        ResponseType = EventResponseType.Maybe,
                        ReadOnly = false
                    })
                </form>

                <form method="post" action="/@Model.Chapter.Name/Admin/Events/@Model.Event.Id/Attendees/@member.Id">
                    @await Html.PartialAsync("Events/_EventResponseIcon", new EventResponseIconViewModel
                    {
                        Active = response == EventResponseType.No,
                        ResponseType = EventResponseType.No,
                        ReadOnly = false
                    })
                </form>
            </div>
        </div>
    }
</div>