@using ODK.Core.Events
@using ODK.Core.Utils
@using ODK.Core.Venues
@using ODK.Services.Chapters
@using ODK.Services.Events
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin.Chapters
@using ODK.Web.Razor.Models.Admin.Events
@model ODK.Core.Chapters.Chapter
@inject IChapterAdminService ChapterAdminService
@{
    var memberId = User.MemberId();

    var settings = await ChapterAdminService.GetChapterEventSettings(memberId, Model.Id);
}

<h2>Event settings</h2>
<form method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("Admin/Events/_SettingsForm", new EventSettingsFormViewModel
    {
        DefaultDayOfWeek = settings?.DefaultDayOfWeek,
        DefaultDescription = settings?.DefaultDescription,
        DefaultScheduledEmailDayOfWeek = settings?.DefaultScheduledEmailDayOfWeek,
        DefaultScheduledEmailTimeOfDay = settings?.DefaultScheduledEmailTimeOfDay,
        DisableComments = settings?.DisableComments ?? false
    })
    <button class="btn btn-primary">Update</button>
</form>