@using ODK.Core.Chapters
@using ODK.Core.Events
@using ODK.Core.Utils
@using ODK.Core.Venues
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Events
@using ODK.Services.Events.ViewModels
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin.Chapters
@using ODK.Web.Razor.Models.Admin.Events
@model EventSettingsAdminPageViewModel

<h2>Event settings</h2>
<form action="/groups/@Model.Chapter.Id/events/settings" method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("Admin/Events/_SettingsForm", new EventSettingsFormViewModel
    {
        DefaultDayOfWeek = Model.Settings?.DefaultDayOfWeek,
        DefaultDescription = Model.Settings?.DefaultDescription,
        DefaultEndTime = TimeSpanUtils.ToString(Model.Settings?.DefaultEndTime),
        DefaultScheduledEmailDayOfWeek = Model.Settings?.DefaultScheduledEmailDayOfWeek,
        DefaultScheduledEmailTimeOfDay = TimeSpanUtils.ToString(Model.Settings?.DefaultScheduledEmailTimeOfDay),
        DefaultStartTime = TimeSpanUtils.ToString(Model.Settings?.DefaultStartTime),
        DisableComments = Model.Settings?.DisableComments ?? false,
        OwnerSubscription = Model.OwnerSubscription
    })
    <button class="btn btn-primary">Update</button>
</form>