<table *appLoading="!emails" class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Custom</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let email of emails">
      <td>
        <a [routerLink]="getEmailLink(email)">{{email.name}}</a>
      </td>
      <td>
        <span *ngIf="!email.id" class="text-muted">Default</span>
        <span *ngIf="email.id">
          <i class="fas fa-check-circle text-success"></i>
        </span>
      </td>
    </tr>
  </tbody>
</table>