@using ODK.Services.Emails
@using ODK.Web.Common.Routes
@using ODK.Web.Common.Services
@inject IEmailAdminService EmailAdminService
@inject IOdkRoutes OdkRoutes
@inject IRequestStore RequestStore
@{
    var emails = await EmailAdminService.GetEmails(RequestStore.MemberServiceRequest);
}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var email in emails.OrderBy(x => x.Type.ToString()))
            {
                <tr>
                    <td>
                        <a href="@OdkRoutes.SiteAdmin.Email(email.Type)">
                            @email.Type
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>