@using ODK.Core.Logging
@using ODK.Services.Logging
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models.Components
@inject ILoggingService LoggingService
@inject IOdkRoutes OdkRoutes
@inject IRequestStore RequestStore
@{
    var errors = await LoggingService.GetErrors(RequestStore.MemberServiceRequest, 1, 1000);
}

<h2>Error log</h2>

<section class="section">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Type</th>
                    <th>Message</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var error in errors)
                {
                    <tr>
                        <td>@error.CreatedUtc.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@error.ExceptionType</td>
                        <td>
                            <a href="@OdkRoutes.SiteAdmin.Error(error.Id)">@error.ExceptionMessage</a>
                        </td>
                        <td>
                            <form method="post" action="/siteadmin/Errors/@error.Id/Delete">
                                @*@Html.AntiForgeryToken()*@
                                <button data-bs-toggle="tooltip" data-bs-title="Delete" class="btn-icon text-danger">
                                    @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Times))
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>