@using ODK.Core.Chapters
@using ODK.Web.Razor.Models.SiteAdmin
@model Chapter

<h2 class="d-none d-md-block">Instagram</h2>

<form method="post" action="/groups/@Model.Id/siteadmin/instagram/scrape">
    @*@Html.AntiForgeryToken()*@
    <button class="btn btn-secondary">Scrape</button>
</form>
<p class="text-muted mt-3">
    Download the latest Instagram images into the database.
    Don't do this too frequently to avoid rate limiting.
</p>