@using ODK.Services.Issues.Models
@using ODK.Services.Issues.ViewModels
@using ODK.Web.Common.Routes
@model IssuesAdminPageViewModel
@inject IOdkRoutes OdkRoutes

<h2>Issues</h2>

<section class="section">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var issue in Model.Issues.OrderByDescending(x => x.CreatedUtc))
                {
                    <tr>
                        <td>
                            <a href="@OdkRoutes.SiteAdmin.Issue(issue.Id)">@issue.Title</a>
                        </td>
                        <td>@issue.Type</td>
                        <td>@issue.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>