@using ODK.Core.Utils
@using ODK.Services.Issues.Models
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.SiteAdmin
@model IssueAdminPageViewModel

@await Html.PartialAsync("Components/_Breadcrumbs", new BreadcrumbsViewModel
{
    Breadcrumbs = new[]
    {
        new MenuItem { Link = "/siteadmin/issues", Text = "Issue" },
        new MenuItem { Text = "Update" }
    }
})

<section class="section">    
    <div class="form-group mb-3">
        <label class="form-label" for="from">From</label>
        <input type="text" readonly class="form-control-plaintext" id="from" value="@Model.Member.FullName">
    </div>

    <div class="form-group mb-3">
        <label class="form-label" for="created">Created</label>
        <input type="text" readonly class="form-control-plaintext" id="created"
               value="@Model.Issue.CreatedUtc.ToFriendlyDateTimeString(Model.CurrentMember.TimeZone)">
    </div>

    @await Html.PartialAsync("SiteAdmin/_IssueFormViewModel", new IssueFormViewModel
    {
        Status = Model.Issue.Status,
        Type = Model.Issue.Type
    })

</section>

<section class="section">
    @await Html.PartialAsync("Components/_Panel", new PanelViewModel
    {
        TitleContentFunc = @<h5>Messages</h5>,
        BodyContentFunc = 
            @<div>
                @await Html.PartialAsync("Components/_Messages", new MessagesViewModel
                {
                    CurrentMember = Model.CurrentMember,
                    Messages = Model.Messages
                        .Select(x => new MessageViewModel
                        {
                            CreatedUtc = x.CreatedUtc,
                            Member = x.Member,
                            Text = x.Text
                        })
                        .ToArray(),
                    TimeZone = Model.CurrentMember.TimeZone
                })
            </div>
    })
</section>

<section class="section">
    @await Html.PartialAsync("Components/_Panel", new PanelViewModel
    {
        TitleContentFunc = @<h5>Reply</h5>,
        BodyContentFunc = 
            @<div>
                <form action="/siteadmin/issues/@Model.Issue.Id/reply" method="post">
                    @Html.AntiForgeryToken()
                    @await Html.PartialAsync("Account/_IssueReplyForm", new IssueReplyFormViewModel())
                    <button class="btn btn-primary">Send</button>
                </form>
            </div>
    })
</section>