@using ODK.Core.Chapters
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Web.Common.Components
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.SiteAdmin
@model OdkComponentViewModel<Chapter>
@inject IChapterAdminService ChapterAdminService
@{
    var serviceRequest = Model.CreateMemberChapterServiceRequest(Model.Value.Id);
    var adminMembers = await ChapterAdminService.GetChapterAdminMembers(serviceRequest);
}

<h2 class="d-none d-md-block">Members</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var adminMember in adminMembers.OrderBy(x => x.Member.FullName))
            {
                <tr>
                    <td>@adminMember.Member.FullName</td>
                    <td>
                        @if (Model.Value.OwnerId == adminMember.MemberId)
                        {
                            @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Star)
                            {
                                Class = "text-warning"
                            })
                        }
                        else
                        {
                            <form action="/groups/@Model.Value.Id/owner" method="post">
                                @Html.Hidden("memberId", adminMember.MemberId)
                                <button class="btn btn-icon" data-bs-toggle="tooltip" data-bs-title="Set as owner">
                                    @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.StarOutline)
                                    {
                                        Class = "text-warning"
                                    })
                                </button>
                            </form>                        
                        }
                    </td>
                    <td>
                        <form action="/groups/@Model.Value.Id/members/@adminMember.MemberId/visibility" method="post">
                            @if (adminMember.Member.Visible(Model.Value.Id))
                            {
                                @Html.Hidden("visible", false)
                                <button class="btn btn-danger btn-sm" type="submit">Hide</button>
                            }
                            else
                            {
                                @Html.Hidden("visible", true)
                                <button class="btn btn-success btn-sm" type="submit">Show</button>
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>