@using ODK.Services.Topics
@using ODK.Services.Topics.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.SiteAdmin
@model TopicsAdminPageViewModel
@inject IOdkRoutes OdkRoutes
@inject ITopicAdminService TopicAdminService
@{
    var topicDictionary = Model.Topics
        .GroupBy(x => x.TopicGroupId)
        .ToDictionary(x => x.Key, x => x.ToArray());
}

@if (Model.NewMemberTopics.Count > 0 || Model.NewChapterTopics.Count > 0)
{
    <h2>New topics</h2>
    <section class="section section--admin">
        <form action="/siteadmin/topics/approve" method="post">
            @*@Html.AntiForgeryToken()*@
            @await Html.PartialAsync("SiteAdmin/_NewTopicsForm", new NewTopicsFormViewModel
            {
                Chapters = Model.NewChapterTopics
                    .OrderBy(x => x.Topic)
                    .Select(x => new NewTopicsFormItemViewModel
                    {
                        NewTopicId = x.Id,
                        Topic = x.Topic,
                        TopicGroup = x.TopicGroup
                    })
                    .ToList(),
                Members = Model.NewMemberTopics
                    .OrderBy(x => x.Topic)
                    .Select(x => new NewTopicsFormItemViewModel
                    {
                        NewTopicId = x.Id,
                        Topic = x.Topic,
                        TopicGroup = x.TopicGroup
                    })
                    .ToList()
            })
            <button class="btn btn-primary">Approve</button>
        </form>
    </section>
}

<h2>Topics</h2>

<section class="section">
    <div class="d-flex flex-column gap-4">
        @foreach (var topicGroup in Model.TopicGroups.OrderBy(x => x.Name))
        {
            topicDictionary.TryGetValue(topicGroup.Id, out var topics);

            @await Html.PartialAsync("Components/_Panel", new PanelViewModel
            {
                TitleContentFunc = @<h5>@topicGroup.Name</h5>,
                BodyContentFunc = 
                    @<div>
                        @if (topics != null)
                        {
                            @foreach (var topic in topics.OrderBy(x => x.Name))
                            {
                                <a class="badge text-bg-secondary" href="@OdkRoutes.SiteAdmin.Topic(topic.Id)">
                                    @topic.Name
                                </a>
                            }
                        }

                        <form action="/siteadmin/topics" method="post">
                            @*@Html.AntiForgeryToken()*@
                            @Html.Hidden("TopicGroupId", topicGroup.Id.ToString())

                            <div class="input-group mt-3">
                                <input type="text" class="form-control" placeholder="Add topic" aria-label="Add topic" name="Name" />
                                <button class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
            })
        }
    </div>
</section>
<section class="mt-3">
    <h3>Add topic group</h3>
    <form action="/siteadmin/topic-groups" method="post">
        @*@Html.AntiForgeryToken()*@
        
        <div class="form-group mb-3">
            <input type="text" class="form-control" name="Name" />            
        </div>

        <button class="btn btn-primary">Add</button>
    </form>
</section>