@using ODK.Services.Settings
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models.SiteAdmin
@inject ISettingsService SettingsService
@inject IRequestStore RequestStore
@{    
    var sitePaymentSettings = await SettingsService.GetSitePaymentSettings(RequestStore.MemberServiceRequest);
}

<h2>Create subscription</h2>

<section class="section">
    <form action="/siteadmin/subscriptions" method="post">
        @*@Html.AntiForgeryToken()*@
        @await Html.PartialAsync("SiteAdmin/_SubscriptionForm", new SiteSubscriptionFormViewModel
        {
            SitePaymentSettings = sitePaymentSettings
        })
        <button class="btn btn-primary">Create</button>
    </form>
</section>