@page "/my/groups/{id:guid}/members/admins/{memberId:guid}"
@using ODK.Services.Members
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model AdminMemberModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Edit admin member";

    var viewModel = await MemberAdminService.GetAdminMemberViewModel(Model.AdminServiceRequest, Model.MemberId);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Admin member",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_AdminMemberContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu", new AdminSideMenuViewModel
    {
        Chapter = viewModel.Chapter
    })
})
