@page "/my/groups/{chapterId:guid}/members/admins/{memberId:guid}"
@using ODK.Services.Members
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model AdminMemberModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Edit admin member";

    var viewModel = await MemberAdminService.GetAdminMemberViewModel(Model.MemberChapterServiceRequest, Model.MemberId);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Admin member",
    Breadcrumbs = new BreadcrumbsViewModel
    {
        Breadcrumbs = new[]
        {
            new MenuItem
            {
                Link = Model.OdkRoutes.GroupAdmin.MemberAdmins(Model.Chapter),
                Text = "Back to admin members",
                Icon = IconType.ArrowLeft
            }
        }
    },
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_AdminMemberContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})
