@page "/{chapterName}/Admin/Members/Admins/{id:guid}"
@using ODK.Services.Members
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@model AdminMemberModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Edit admin member | Admin";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await MemberAdminService.GetAdminMemberViewModel(request, Model.MemberId);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Edit admin member",
    Breadcrumbs = new[]
    {
        new MenuItem 
        { 
            Link = Model.AdminRoutes.AdminMembers(Model.Chapter).Path, 
            Text = "Admins" 
        },
        new MenuItem { Text = viewModel.AdminMember.Member.FullName }
    },
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_AdminMemberContent", viewModel)</div>
})