@page "/{chapterName}/Admin/Members/Admins"
@using ODK.Services
@using ODK.Services.Members
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.Chapters.Admin.Members.AdminMembersModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Admin members | Admin";

    var viewModel = await MemberAdminService.GetAdminMembersAdminPageViewModel(Model.AdminServiceRequest);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Admin members",
    Chapter = Model.Chapter,
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_AdminMembersContent", viewModel)</div>
})