@page "/{chapterName}/Admin/Members/{id:guid}/Events"
@using ODK.Services.Members
@using ODK.Web.Razor.Models.Admin
@model MemberEventsModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Member events | Admin";

    var viewModel = await MemberAdminService.GetMemberEventsViewModel(Model.AdminServiceRequest, Model.MemberId);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Member events",
    Chapter = Model.Chapter,
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_MemberEventsContent", viewModel)</div>
})