@page "/{chapterName}/Admin/Members/{id:guid}"
@using ODK.Services.Members
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Admin.Members
@model MemberModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Edit member | Admin";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await MemberAdminService.GetMemberViewModel(request, Model.MemberId);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Edit member",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = Model.OdkRoutes.GroupAdmin.Members(Model.Chapter),
            Text = "Members"
        },
        new MenuItem { Text = viewModel.Member.GetDisplayName(viewModel.Chapter.Id) }
    },
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_MemberContent", viewModel)</div>
})