@page "/{chapterName}/Admin/Members/Membership"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model MembershipModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Membership settings | Admin";

    var request = Model.MemberChapterServiceRequest;
    var viewModel = await ChapterAdminService.GetMembershipSettingsViewModel(request);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Membership settings",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_MembershipSettingsContent", viewModel)</div>
})