@page "/{chapterName}/Admin/Members/{id:guid}/Payments"
@using ODK.Services.Members
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@model MemberPaymentsModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Member payments | Admin";

    var request = Model.MemberChapterServiceRequest;
    var viewModel = await MemberAdminService.GetMemberPaymentsViewModel(request, Model.MemberId);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Member payments",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = Model.OdkRoutes.GroupAdmin.Members(Model.Chapter),
            Text = "Members"
        },
        new MenuItem { Text = viewModel.Member.GetDisplayName(viewModel.Chapter.Id) }
    },
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_MemberPaymentsContent", viewModel)</div>
})