@page "/{chapterName}/Admin/Members/{id:guid}/Image"
@using ODK.Services.Members
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Admin.Members
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@model ODK.Web.Razor.Pages.Chapters.Admin.Members.MemberImageModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Member image | Admin";

    var viewModel = await MemberAdminService.GetMemberImageViewModel(Model.AdminServiceRequest, Model.MemberId);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Member image",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.Members(Model.Platform, Model.Chapter),
            Text = "Members"
        },
        new MenuItem { Text = viewModel.Member.GetDisplayName(Model.Chapter.Id) }
    },
    Chapter = Model.Chapter,
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_MemberImageContent", viewModel)</div>
})

@section styles
{
    @await Html.PartialAsync("Components/Styles/_Imaging")
}

@section scripts
{
    @await Html.PartialAsync("Components/Scripts/_Imaging")
}