@page "/{chapterName}/admin/members/{id:guid}/delete"
@using ODK.Services.Members
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@model MemberDeleteModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Delete member | Admin";

    var request = await Model.CreateMemberChapterServiceRequest();
    var viewModel = await MemberAdminService.GetMemberDeleteViewModel(request, Model.MemberId);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Delete member",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.Members(Model.Platform, viewModel.Chapter),
            Text = "Members"
        },
        new MenuItem { Text = viewModel.Member.GetDisplayName(viewModel.Chapter.Id) }
    },
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_MemberDeleteContent", viewModel)</div>
})