@page "/{chapterName}/admin/members/{id:guid}/delete"
@using ODK.Services.Members
@using ODK.Web.Razor.Models.Admin
@model MemberDeleteModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Delete member | Admin";

    var viewModel = await MemberAdminService.GetMemberDeleteViewModel(Model.AdminServiceRequest, Model.MemberId);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Delete member",
    Chapter = Model.Chapter,
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_MemberDeleteContent", viewModel)</div>
})