@page "/{chapterName}/Admin/Members/{id:guid}/Conversations"
@using ODK.Services.Members
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@model MemberConversationsModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_OdkChapterAdminLayout";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await MemberAdminService.GetMemberConversationsViewModel(request, Model.MemberId);

    Model.Title = viewModel.Member.GetDisplayName(viewModel.Chapter.Id);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Member conversations",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = Model.AdminRoutes.Members(Model.Chapter).Path,
            Text = "Members"
        },
        new MenuItem { Text = viewModel.Member.GetDisplayName(viewModel.Chapter.Id) }
    },
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_MemberConversationsContent", viewModel)</div>
})