@page "/{chapterName}/Admin/Members/{id:guid}/Conversations"
@using ODK.Services.Members
@using ODK.Web.Razor.Models.Admin
@model MemberConversationsModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_OdkChapterAdminLayout";

    var viewModel = await MemberAdminService.GetMemberConversationsViewModel(Model.AdminServiceRequest, Model.MemberId);

    Model.Title = viewModel.Member.GetDisplayName(viewModel.Chapter.Id);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Member conversations",
    Chapter = Model.Chapter,
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_MemberConversationsContent", viewModel)</div>
})