@page "/{chapterName}/Admin/Members/{id:guid}"
@using ODK.Services.Members
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Admin.Members
@model ODK.Web.Razor.Pages.Chapters.Admin.Members.MemberModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Edit member | Admin";

    var viewModel = await MemberAdminService.GetMemberViewModel(Model.AdminServiceRequest, Model.MemberId);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Edit member",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.Members(Model.Platform, Model.Chapter),
            Text = "Members"
        },
        new MenuItem { Text = viewModel.Member.GetDisplayName(Model.Chapter.Id) }
    },
    Chapter = Model.Chapter,
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_MemberContent", viewModel)</div>
})