@page "/{chapterName}/Admin/Members"
@using ODK.Services
@using ODK.Services.Members
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model MembersModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Members | Admin";

    var request = Model.MemberChapterServiceRequest;
    var viewModel = await MemberAdminService.GetMembersViewModel(request);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Members",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_MembersContent", viewModel)</div>
})