@page "/{chapterName}/Admin/Members/Properties/Create"
@using ODK.Core.Chapters
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model PropertyCreateModel
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Create profile question | Admin";
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Create profile question",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = Model.AdminRoutes.MemberProperties(Model.Chapter).Path,
            Text = "Back to profile questions",
            Icon = IconType.ArrowLeft
        }
    },
    ContentFunc = 
        @<div>
            @await Html.PartialAsync("Admin/Chapter/_PropertyCreateContent")
        </div>
})