@page "/{chapterName}/Admin/Members/Properties"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model PropertiesModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Profile questions | Admin";

    var request = Model.MemberChapterServiceRequest;
    var viewModel = await ChapterAdminService.GetChapterPropertiesViewModel(request);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Profile questions",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_PropertiesContent", viewModel)</div>
})