@page "/{chapterName}/Admin/Members/Email"
@using ODK.Services.Members
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Admin.Members
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@model SendMemberBulkEmailModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Send bulk email | Admin";

    var request = await Model.CreateMemberChapterServiceRequest();
    var viewModel = await MemberAdminService.GetBulkEmailViewModel(request);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Send bulk email",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_BulkEmailContent", viewModel)</div>
})