@page "/{chapterName}/Admin/Members/Subscriptions/{id:guid}"
@using ODK.Services
@using ODK.Services.Members
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Admin.Members
@model SubscriptionEditModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Edit subscription | Admin";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await MemberAdminService.GetMemberSubscriptionViewModel(request, Model.SubscriptionId);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Edit subscription",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = Model.OdkRoutes.GroupAdmin.MembersSubscriptions(Model.Chapter),
            Text = "Back to subscriptions",
            Icon = IconType.ArrowLeft
        }
    },
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_SubscriptionEditContent", viewModel)</div>
})