@using ODK.Services.Authentication
@using ODK.Services.Members
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Members
@model ODK.Web.Razor.Models.Members.MemberContentViewModel
@inject IMemberService MemberService

@await Html.PartialAsync("Components/_AdminBar", new AdminBarViewModel
{
    AdminLink = $"/{Model.Chapter.Name}/Admin/Members/{Model.Member.Id}",
    AdminLinkText = "Edit",
    Chapter = Model.Chapter,
    CurrentMember = Model.CurrentMember
})

<div class="row">
    <div class="col-md-4 text-right order-md-2">
        <div class="d-flex align-items-end justify-content-end">
            @await Html.PartialAsync("Members/_MemberImage", new MemberImageViewModel(Model.Chapter, Model.Member))        
        </div>
    </div>
    <div class="col-md-8 order-md-1">
        @await Html.PartialAsync("Members/_MemberProfile", 
            new MemberProfileViewModel(Model.Member, Model.CurrentMember, Model.Chapter))
    </div>    
</div>