@using ODK.Services.Authentication
@using ODK.Services.Members.ViewModels
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Members
@model MemberPageViewModel  

<div class="mb-3">
    @await Html.PartialAsync("Members/_MemberAvatar", new MemberAvatarViewModel
    {
        Member = Model.Member,
        Version = Model.AvatarVersion
    })
</div>
@await Html.PartialAsync("Members/_MemberProfile", Model)
