@using ODK.Core.Extensions
@using ODK.Core.Members
@using ODK.Services.Authorization
@using ODK.Services.Members
@using ODK.Web.Common.Routes
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models.Members
@using ODK.Web.Razor.Pages.Chapters
@using ODK.Web.Razor.Services
@inject IAuthorizationService AuthorizationService
@inject IMemberService MemberService
@inject IOdkRoutes OdkRoutes
@inject IRequestStore RequestStore
@{
    var (platform, member) = (RequestStore.Platform, RequestStore.CurrentMemberOrDefault);
    if (member == null)
    {
        return;
    }

    var chapter = RequestStore.ChapterOrDefault;
    if (chapter == null)
    {
        return;
    }

    var viewModel = await MemberService.GetMemberSubscriptionAlertViewModel(member.Id, chapter.Id);

    var (membershipSettings, memberSubscription) 
        = (viewModel.ChapterMembershipSettings, viewModel.MemberSubscription);
    if (memberSubscription == null || membershipSettings == null)
    {
        return;
    }

    var status = AuthorizationService.GetSubscriptionStatus(member, memberSubscription, membershipSettings);
    
    var type = memberSubscription.Type == SubscriptionType.Trial ? "trial" : "subscription";
    var action = memberSubscription.Type == SubscriptionType.Trial ? "Purchase membership" : "Renew";
}

@if (status == SubscriptionStatus.Expired || status == SubscriptionStatus.Disabled)
{
    <div class="page-alert alert alert-danger">
        Your @type has expired <a href="@OdkRoutes.Groups.Subscription(chapter)">@action</a>
    </div>
}
else if (status == SubscriptionStatus.Expiring && memberSubscription.ExpiresUtc != null)
{
    var expiresOn = TimeZoneEntityExtensions.ToLocalTime(chapter, memberSubscription.ExpiresUtc.Value).ToString("d MMMM");
    <div class="page-alert alert alert-warning">
        Your @type expires @expiresOn <a href="@OdkRoutes.Groups.Subscription(chapter)">@action</a>
    </div>
}
