@using ODK.Core.Features
@using ODK.Web.Razor.Models.Payments
@model PaymentCommissionTextViewModel

@if (Model.OwnerSubscription?.Features().Any(x => x.RequiresPayments()) == true && 
    Model.ChapterPaymentSettings?.HasApiKey == false &&
    !string.IsNullOrEmpty(Model.ChapterPaymentSettings?.EmailAddress))
{
    <span class="text-muted small">
        All payments sent to your payment email address will incur a 2.5% fee to cover PayPal fees.
        <a href="/contact">Contact us</a> about fee-free payments using the PayPal API.
    </span>
}
