@using ODK.Core.Events
@using ODK.Core.Utils
@using ODK.Services
@using ODK.Services.Events
@using ODK.Services.Venues.ViewModels
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Admin.Events
@using ODK.Web.Razor.Models.Components
@model VenueEventsAdminPageViewModel
@inject IOdkRoutes OdkRoutes

@await Html.PartialAsync("Admin/Venues/_VenueAdminTabs", new VenueAdminTabsViewModel
{
    Chapter = Model.Chapter,
    Platform = Model.Platform,
    Venue = Model.Venue
})

<p>
    @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
    {
        Class = "btn btn-primary",
        QueryString = $"venueId={Model.Venue.Id}",
        Route = OdkRoutes.GroupAdmin.EventCreate(Model.Chapter),
        Text = "Create event"
    })
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var @event in Model.Events.OrderByDescending(x => x.Date))
        {
            <tr>
                <td>
                    @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
                    {
                        Route = OdkRoutes.GroupAdmin.Event(Model.Chapter, @event.Id),
                        Text = @event.GetDisplayName()
                    })
                </td>
                <td>@(@event.Date.EventDate())</td>
            </tr>
        }
        </tbody>
    </table>
</div>