@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin.Venues
@model ODK.Web.Razor.Models.Admin.Venues.VenueViewModel

@await Html.PartialAsync("Admin/Venues/_VenueAdminTabs", Model)

<form method="post" action="/@Model.Chapter.Name/Admin/Events/Venues/@Model.Venue.Id">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("Admin/Venues/_VenueForm", new VenueFormViewModel
    {
        Address = Model.Venue.Address,
        ChapterId = Model.Chapter.Id,
        Lat = Model.Location?.LatLong.Lat,
        LocationName = Model.Location?.Name ?? Model.Venue.MapQuery,
        Long = Model.Location?.LatLong.Long,
        Name = Model.Venue.Name
    })
    
    <button type="submit" class="btn btn-primary">Update</button>
</form>