@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin.Venues
@model VenueCreateViewModel
@{
    var memberId = User.MemberId();    
}

<h2>Create new venue</h2>

<form method="post" action`="/@Model.Chapter.Name/Admin/Events/Venues/Create">
    @Html.AntiForgeryToken()
    
    @await Html.PartialAsync("Admin/Venues/_VenueForm", new VenueFormViewModel
    {
        ChapterId = Model.Chapter.Id,
        Settings = Model.Settings
    })
    
    <button type="submit" class="btn btn-primary">Create</button>
</form>