@using ODK.Services.Venues.ViewModels
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin.Events
@using ODK.Web.Razor.Models.Admin.Venues
@using ODK.Web.Razor.Models.Components
@model VenueAdminPageViewModel

@await Html.PartialAsync("Admin/Venues/_VenueAdminTabs", new VenueAdminTabsViewModel
{
    Chapter = Model.Chapter,
    Platform = Model.Platform,
    Venue = Model.Venue
})

<form method="post">
    @*@Html.AntiForgeryToken()*@
    @await Html.PartialAsync("Admin/Venues/_VenueForm", new VenueFormViewModel
    {
        Address = Model.Venue.Address,
        Lat = Model.Location?.LatLong.Lat,
        LocationName = Model.Location?.Name ?? Model.Venue.MapQuery ?? string.Empty,
        Long = Model.Location?.LatLong.Long,
        Name = Model.Venue.Name
    })
    
    <button type="submit" class="btn btn-primary">Update</button>
</form>