@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin.Events
@model VenueAdminTabsViewModel

<ul class="nav nav-underline my-3">
    <li class="nav-item">
        <a class="nav-link" data-menu-link="exact" href="@OdkRoutes2.MemberGroups.Venue(Model.Platform, Model.Chapter, Model.Venue.Id)">Edit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-menu-link href="@OdkRoutes2.MemberGroups.VenueEvents(Model.Platform, Model.Chapter, Model.Venue.Id)">Events</a>
    </li>
</ul>