@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin.Venues

<h2>Create new venue</h2>

<form method="post">
    @Html.AntiForgeryToken()
    
    @await Html.PartialAsync("Admin/Venues/_VenueForm", new VenueFormViewModel())
    
    <button type="submit" class="btn btn-primary">Create</button>
</form>