@using ODK.Core.Chapters
@using ODK.Core.Platforms
@using ODK.Web.Common.Components
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin.Venues
@using ODK.Web.Razor.Models.Components

<section class="section">
    <form method="post">
        @*@Html.AntiForgeryToken()*@

        @await Html.PartialAsync("Admin/Venues/_VenueForm", new VenueFormViewModel())

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</section>