@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin.Venues
@model ODK.Core.Chapters.Chapter

<h2>Create new venue</h2>

<form method="post" action`="/@Model.Name/Admin/Events/Venues/Create">
    @Html.AntiForgeryToken()
    
    @await Html.PartialAsync("Admin/Venues/_VenueForm", new VenueFormViewModel
    {
        ChapterId = Model.Id
    })
    
    <button type="submit" class="btn btn-primary">Create</button>
</form>