@using ODK.Core.Utils
@using ODK.Services.Chapters.ViewModels
@model GroupHomePageViewModel

<div class="d-flex flex-column gap-1 justify-content-end">
    @if (Model.ChapterLocation != null)
    {
        <div class="text-end">
            @await Html.PartialAsync("Components/_Location", Model.ChapterLocation.Name)
        </div>
    }

    <div class="text-end">
        Going since @Model.Chapter.CreatedUtc.ToFriendlyDateString(Model.CurrentMember?.TimeZone ?? Model.Chapter.TimeZone)
    </div>
    <div class="text-end">
        @await Html.PartialAsync("Components/Icons/_Members")
        @Model.MemberCount @StringUtils.Pluralise(Model.MemberCount, "member")
    </div>
</div>