@page "/{chapterName}/Admin/Events"
@using ODK.Services
@using ODK.Services.Events
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model EventsModel
@inject IEventAdminService EventAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Events | Admin";

    var request = Model.MemberChapterServiceRequest;
    var viewModel = await EventAdminService.GetEventsAdminPageViewModel(request, 1, 1000);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Events",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Events/_EventsContent", viewModel)</div>
})