@page "/{chapterName}/admin/events/{id:guid}/responses"
@using ODK.Services
@using ODK.Services.Events
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Admin.Events
@model EventResponsesModel
@inject IEventAdminService EventAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Event responses | Admin";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await EventAdminService.GetEventAttendeesViewModel(request, Model.Event.Id);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Event responses",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = Model.AdminRoutes.Events(Model.Chapter).Path,
            Text = "Back to events",
            Icon = IconType.ArrowLeft
        }
    },
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Events/Event/_EventResponsesContent", viewModel)</div>
})