@page "/{chapterName}/Admin/Events/{id:guid}/Invites"
@using ODK.Services
@using ODK.Services.Events
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.Chapters.Admin.Events.EventInvitesModel
@inject IEventAdminService EventAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Event invites | Admin";

    var viewModel = await EventAdminService.GetEventInvitesViewModel(Model.AdminServiceRequest, Model.Event.Id);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Event invites",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.Events(Model.Platform, Model.Chapter),
            Text = "Back to events",
            Icon = IconType.ArrowLeft
        }
    },
    Chapter = Model.Chapter,
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Events/Event/_EventInvitesContent", viewModel)</div>
})