@page "/{chapterName}/Admin/Events/Venues/{id:guid}/Events"
@using ODK.Services.Venues
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Admin.Venues
@model ODK.Web.Razor.Pages.Chapters.Admin.Events.VenueEventsModel
@inject IVenueAdminService VenueAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Venue events | Admin";

    var viewModel = await VenueAdminService.GetVenueEventsViewModel(Model.AdminServiceRequest, Model.Venue.Id);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Venue events",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.Venues(Model.Platform, Model.Chapter),
            Text = "Back to venues",
            Icon = IconType.ArrowLeft
        }
    },
    Chapter = viewModel.Chapter,
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Venues/_VenueEventsContent", viewModel)</div>
})