@page "/{chapterName}/Admin/Events/Venues"
@using ODK.Services
@using ODK.Services.Venues
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model VenuesModel
@inject IVenueAdminService VenueAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Venues | Admin";

    var request = await Model.CreateMemberChapterServiceRequest();
    var viewModel = await VenueAdminService.GetVenuesViewModel(request);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Venues",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Venues/_VenuesContent", viewModel)</div>    
})