@page "/{chapterName}/Admin/Events/Venues/{id:guid}"
@using ODK.Services.Venues
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Admin.Events
@using ODK.Web.Razor.Models.Admin.Venues
@model VenueModel
@inject IVenueAdminService VenueAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Edit Venue | Admin";

    var request = await Model.CreateMemberChapterServiceRequest();
    var viewModel = await VenueAdminService.GetVenueViewModel(request, Model.Venue.Id);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Venue",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.Venues(Model.Platform, viewModel.Chapter),
            Text = "Back to venues",
            Icon = IconType.ArrowLeft
        }
    },
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Venues/_VenueContent", viewModel)</div>
})

@section scripts
{
    @await Html.PartialAsync("Components/Scripts/_GoogleLocation")
}