@page "/{chapterName}/Admin/Events/Venues/Create"
@using ODK.Core.Chapters
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@model ODK.Web.Razor.Pages.Chapters.Admin.Events.VenueCreateModel
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Create venue | Admin";

    var viewModel = new OdkComponentViewModel<Chapter>(Model.ComponentContext, Model.Chapter);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Venue events",
    Chapter = Model.Chapter,
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Venues/_VenueCreateContent", viewModel)</div>
})

@section scripts
{
    @await Html.PartialAsync("Components/Scripts/_GoogleLocation")
}