@page "/{chapterName}/admin/superAdmin/emailproviders/create"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@model EmailProviderCreateModel
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Create email provider | SuperAdmin";
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Create email provider",
    Chapter = Model.Chapter,
    Breadcrumbs = new[]
    {
        new MenuItem { Link = $"/{Model.ChapterName}/admin/superadmin/emails", Text = "Emails" },
        new MenuItem { Text = "New provider" }
    },
    ContentFunc = @<div>@await Html.PartialAsync("SuperAdmin/_EmailProviderCreateContent")</div>
})