@page "/{chapterName}/admin/superadmin/emailproviders/{id:guid}"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@model EmailProviderModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Edit email provider | SuperAdmin";

    var provider = await ChapterAdminService.GetChapterEmailProvider(Model.AdminServiceRequest, Model.ChapterEmailProviderId);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Edit email provider",
    Chapter = Model.Chapter,
    Breadcrumbs = new[]
    {
        new MenuItem { Link = $"/{Model.ChapterName}/admin/superadmin/emails", Text = "Emails" },
        new MenuItem { Text = provider.SmtpServer ?? "SMTP" }
    },
    ContentFunc = @<div>@await Html.PartialAsync("SuperAdmin/_EmailProviderContent", provider)</div>
})