@page "/{chapterName}/Admin/SuperAdmin/Instagram"
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model InstagramModel
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Instagram | SuperAdmin";   
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Chapter = Model.Chapter,
    ContentFunc = @<div>@await Html.PartialAsync("SuperAdmin/_InstagramContent", Model.Chapter)</div>
})