@page "/{chapterName}/Admin/SuperAdmin/Instagram"
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model InstagramModel
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Instagram | SuperAdmin";   

    var chapter = await Model.GetChapter();
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    ContentFunc = @<div>@await Html.PartialAsync("SuperAdmin/_InstagramContent", chapter)</div>
})