@page "/{chapterName}/Admin/SuperAdmin/Members"
@using ODK.Core.Chapters
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model MembersModel
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Members | SuperAdmin";

    var chapter = await Model.GetChapter();
    var viewModel = new OdkComponentViewModel<Chapter>(Model.ComponentContext, chapter);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    ContentFunc = @<div>@await Html.PartialAsync("SuperAdmin/_MembersContent", viewModel)</div>
})