@page "/{chapterName}/Admin/SuperAdmin/Payments"
@using ODK.Core.Chapters
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model PaymentSettingsModel
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Payments | SuperAdmin";

    var chapter = await Model.GetChapter();
    var viewModel = new OdkComponentViewModel<Chapter>(Model.ComponentContext, chapter);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    ContentFunc = @<div>@await Html.PartialAsync("Chapters/SuperAdmin/_PaymentsContent", viewModel)</div>
})