@page "/{chapterName}/Admin/SuperAdmin/Redirect"
@using ODK.Web.Razor.Models.Admin
@model RedirectModel
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Redirect | SuperAdmin";

    var chapter = await Model.GetChapter();
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    ContentFunc = @<div>@await Html.PartialAsync("Chapters/SuperAdmin/_RedirectContent", chapter)</div>
})