@page "/my/groups/{chapterId:guid}/members/email"
@using ODK.Services.Members
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model EmailModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Bulk email";

    var viewModel = await MemberAdminService.GetBulkEmailViewModel(Model.MemberChapterServiceRequest);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Bulk email",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_BulkEmailContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})