@page "/my/groups/{chapterId:guid}/members"
@using ODK.Services.Members
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model IndexModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Members | Admin";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await MemberAdminService.GetMembersViewModel(request);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Members",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_MembersContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})