@using ODK.Core.Chapters
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Groups.Profile
@using ODK.Web.Razor.Services
@model GroupSubscriptionPageViewModel
@inject IRequestStore RequestStore
@{
    var context = RequestStore.ComponentContext;
    var chapterSubscriptionViewModel = new OdkComponentViewModel<Chapter>(context, Model.Chapter);
}

<div>
    <section class="section">
        <h3>My subscription</h3>
        @await Html.PartialAsync("Account/_ChapterSubscriptionContent", chapterSubscriptionViewModel)
    </section>
    <section class="section">
        <h3>Leave group</h3>

        @if (Model.Chapter.OwnerId == Model.CurrentMember?.Id)
        {
            <p>You cannot leave groups you own</p>
        }
        else
        {
            <form action="/groups/@Model.Chapter.Id/leave" method="post">
                @*@Html.AntiForgeryToken()*@
                <p>If you leave the group we will delete your data associated with this group, including any subscriptions you currently have.</p>
                <div class="form-group mb-3">
                    <label for="reason" class="form-label">Reason you want to leave this group</label>
                    <textarea id="reason" name="reason" class="form-control"></textarea>
                </div>
                <button class="btn btn-danger" onclick="return confirm('Are you sure you want to leave this group?');">Leave</button>
            </form>
        }
    </section>
</div> 