@using ODK.Services.Chapters.ViewModels
@using ODK.Services.Members.ViewModels
@model SubscriptionsPageViewModel

<section class="section">
    <h3>My subscription</h3>
    @await Html.PartialAsync("Account/_ChapterSubscriptionContent", Model)
</section>