@using ODK.Core.Utils
@using ODK.Core.Venues
@using ODK.Services.Events.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Components
@model EventAdminPageViewModelBase

<h5>@Model.Event.Date.EventDate()</h5>
<h5 class="d-flex justify-content-between">
    <a href="@OdkRoutes.MemberGroups.Venue(Model.Platform, Model.Chapter, Model.Venue.Id)">@Model.Venue.Name</a>
</h5>

<a href="@OdkRoutes.Groups.Event(Model.Platform, Model.Chapter, Model.Event.Id)">
    @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Home)) View in site
</a>