@using ODK.Services.Events.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@model EventAdminPageViewModelBase
@inject IHttpContextAccessor HttpContextAccessor
@inject IOdkRoutes OdkRoutes

@{
    var menuItems = new List<MenuItem>
    {
        new MenuItem { Link = OdkRoutes.GroupAdmin.Event(Model.Chapter, Model.Event.Id), Text = "Edit" },
        new MenuItem { Link = OdkRoutes.GroupAdmin.EventInvites(Model.Chapter, Model.Event.Id), Text = "Invites" },
        new MenuItem { Link = OdkRoutes.GroupAdmin.EventResponses(Model.Chapter, Model.Event.Id), Text = "Responses" }
    };

    if (Model.Event.Ticketed)
    {
        menuItems.Add(new MenuItem { Link = OdkRoutes.GroupAdmin.EventTickets(Model.Chapter, Model.Event.Id), Text = "Tickets" });
    }
}
<ul class="nav nav-underline my-3">
    @foreach (var menuItem in menuItems)
    {
        var active = HttpContextAccessor.ForPath(menuItem.Link, exactMatch: true);

        <li class="nav-item">
            <a class="nav-link @(active ? "active" : null)" href="@menuItem.Link">@menuItem.Text</a>
        </li>
    }
</ul>