@using ODK.Services.Events.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@model EventAdminPageViewModelBase
@inject IHttpContextAccessor HttpContextAccessor
@inject IOdkRoutes OdkRoutes
@{
    var routes = OdkRoutes.GroupAdmin;

    var menuItems = new List<MenuItem>
    {
        new MenuItem { Link = routes.Event(Model.Chapter, Model.Event.Id).Path, Text = "Edit" },
        new MenuItem { Link = routes.EventInvites(Model.Chapter, Model.Event.Id).Path, Text = "Invites" },
        new MenuItem { Link = routes.EventResponses(Model.Chapter, Model.Event.Id).Path, Text = "Responses" },
        new MenuItem { Link = routes.EventComments(Model.Chapter, Model.Event.Id).Path, Text = "Comments" }
    };

    if (Model.Event.Ticketed)
    {
        menuItems.Add(new MenuItem { Link = routes.EventTickets(Model.Chapter, Model.Event.Id).Path, Text = "Tickets" });
    }
}
<ul class="nav nav-underline my-3">
    @foreach (var menuItem in menuItems)
    {
        var active = HttpContextAccessor.ForPath(menuItem.Link, exactMatch: true);

        <li class="nav-item">
            <a class="nav-link @(active ? "active" : null)" href="@menuItem.Link">@menuItem.Text</a>
        </li>
    }
</ul>