@using ODK.Core.Utils
@using ODK.Core.Venues
@using ODK.Services.Events.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Components
@model EventAdminPageViewModelBase

<div class="d-flex flex-column flex-md-row">
    <h5 class="d-flex flex-column flex-md-row me-md-auto gap-2">
        <span>@Model.Event.Date.EventDate()</span>        
        <span class="d-none d-md-block">|</span>
        <span>@Model.Venue.Name</span>
    </h5>
    <a href="@OdkRoutes.Groups.Event(Model.Platform, Model.Chapter, Model.Event.Id)">
        @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Home)) View in site
    </a>
</div>
