@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Events
@using ODK.Services.Events.ViewModels
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Admin.Events
@using ODK.Web.Razor.Models.Members
@model EventTicketsAdminPageViewModel
@inject IOdkRoutes OdkRoutes

@await Html.PartialAsync("Admin/Events/Event/_EventHeader")
@await Html.PartialAsync("Admin/Events/Event/_EventAdminTabs")

@{
    if (Model.Event.TicketSettings == null)
    {
        return;
    }

    var currency = Model.Event.TicketSettings.Currency;
}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="tcol-narrow"></th>
                <th>Member</th>              
                <th>Total Paid</th>
                <th>
                    Remaining
                </th>
            </tr>
        </thead>
        <tbody> 
            @foreach (var payment in Model.Payments)
            {
                
                <tr>
                    <td>
                        <div>
                            @await Html.PartialAsync("Members/_MemberAvatar", new MemberAvatarViewModel
                            {
                                Member = payment.Member,
                                Width = 30
                            })
                        </div>
                    </td>
                    <td>
                        @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
                        {
                            Route = OdkRoutes.GroupAdmin.Member(Model.Chapter, payment.Member.Id),
                            Text = payment.Member.GetDisplayName(Model.Chapter.Id)
                        })
                    </td>                    
                    <td>
                        @currency.ToAmountString(payment.AmountPaid)
                    </td>
                    <td>
                        @if (payment.AmountRemaining > 0)
                        {
                            @currency.ToAmountString(payment.AmountRemaining)
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>