@using ODK.Core.Events
@using ODK.Services.Events
@using ODK.Web.Razor.Models.Admin.Events
@model ODK.Web.Razor.Models.Admin.Events.EventScheduledEmailFormViewModel

<form method="post" action="/groups/@Model.Chapter.Id/events/@Model.EventId/invites/scheduled">
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">        
        <div class="row">
            <div class="col-6">
                @Html.LabelFor(x => x.ScheduledEmailDate, new { @class = "form-label" })
                @Html.TextBoxFor(x => x.ScheduledEmailDate, format: "{0:dd/MM/yyyy HH:mm}", new 
                { 
                    @class = "form-control", 
                    data_datepicker = "",
                    data_datepicker_time = ""
                })
                @Html.ValidationMessageFor(x => x.ScheduledEmailDate)
            </div>
        </div>        
    </div>
    
    <button type="submit" class="btn btn-success">
        Update
    </button>
</form>