.btn-icon {
	background-color: transparent;
  border: none;
  padding: 0;
}

.accordion .btn-link {
  padding: 0;
  text-align: left;
}

.btn-overlay {
  position: absolute;  
}

.btn-overlay--top-right {
  top: 0;
  right: 10px;
}

.btn-overlay--bottom-right {
  bottom: 0;
  right: 10px;
}