.event-response-option {
	font-size: 1.2em;
	height: 50px;
	line-height: 50px;
}

.event-response-option:not(.active) {
	opacity: .5;
}

.event-response-option--yes {
    color: $success;
}

.event-response-option--maybe {
    color: $warning;
}

.event-response-option--no {
    color: $danger;
}

.icon--event-response {
	font-size: 1.2rem;
}