.col-form-label,
.form-control-label {
	font-weight: 700;
}

.form-group.required {
	.form-control-label:after,
	.col-form-label:after {
		content: " *";
		color: $danger;
	}
}

.field-validation-error {
    color: $danger;
}