.form-control-label {
	font-weight: 700;
}

.form-group.required {
  .form-control-label:after,
  .form-check-label:after {
		content: " *";
		color: $danger;
  }  
}

.form-control-custom {
	height: 100%;
	padding: 0;
}