.member-tile {
	border: none;
	margin: 5px;
	padding: 5px;
    text-align: center;
    
    .card-img-top {
        background-color: #eee;
        border-radius: calc(.5rem - 1px);
        max-height: 150px;
        line-height: 150px;
        width: inherit;
    }
}