@page "/my/groups/{chapterId:guid}/members/subscriptions"
@using ODK.Services.Members
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model IndexModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Subscriptions";

    var viewModel = await MemberAdminService.GetMemberSubscriptionsViewModel(Model.MemberChapterServiceRequest);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Subscriptions",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_SubscriptionsContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})