@page "/account"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Members
@using ODK.Services.Users.ViewModels
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Services
@model ODK.Web.Razor.Pages.Account.AccountModel
@inject IRequestStore RequestStore
@{
    Layout = "_HomeLayout";
    Model.Title = "Profile";

    var member = await RequestStore.GetCurrentMember();
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = "/Account",
        Title = "Personal details",
        Content = 
            @<div>
                @await Html.PartialAsync("Account/_AccountPersonalDetailsMenu")

                <section class="section">
                    <form action="/Account/PersonalDetails" method="post">
                        @await Html.PartialAsync("Account/_PersonalDetailsForm", new PersonalDetailsFormViewModel
                        {
                            EmailAddress = member.EmailAddress,
                            FirstName = member.FirstName,
                            LastName = member.LastName
                        })
                        <button class="btn btn-primary">Update</button>
                    </form>
                </section>                
            </div>
    })
})