@page "/account/email/change"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Members
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.Account.ChangeEmailModel
@inject IMemberService MemberService
@{
    Layout = "_AccountLayout";
    Model.Title = "Change email";

    var memberId = User.MemberId();
    var member = await MemberService.GetMember(memberId);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = "/Account/Email/Change",
        Content = 
            @<div>
                <h2>Change email address</h2>
                <section class="section">
                    <form method="post" action="/account/email/change">
                        @await Html.PartialAsync("Account/_ChangeEmailForm", new ChangeEmailFormViewModel
                        {
                            Current = member.EmailAddress
                        })

                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </section>
            </div>
    })
})