@page "/account/password/change"
@attribute [Authorize]
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Account
@using Microsoft.AspNetCore.Authorization
@model ODK.Web.Razor.Pages.Account.ChangePasswordModel
@{
    Layout = "_HomeLayout";
    Model.Title = "Change password";
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = "/Account/Password/Change",
        Title = "Change password",
        Content = 
            @<div>
                <section class="section">
                    @await Html.PartialAsync("Account/_ChangePasswordContent")
                </section>
            </div>
    })
})