@page "/account/conversations"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Members
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Chapters
@using ODK.Web.Razor.Models.Components
@model ConversationsModel
@inject IMemberViewModelService MemberViewModelService
@inject IOdkRoutes OdkRoutes
@{
    Layout = "_HomeLayout";

    var viewModel = await MemberViewModelService.GetMemberConversationsPage(Model.MemberServiceRequest, Model.Archived);
    var title = viewModel.TotalConversationCount > 0 ? "My conversations" : "Start new conversation";
    Model.Title = title;
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = Model.OdkRoutes.Account.Conversations(null),
        Title = title,
        Content =
            @<div>
                <section class="section">
                    @await Html.PartialAsync("Conversations/_ConversationsContent", new ChapterConversationsViewModel
                    {
                        ActiveConversationCount = viewModel.ActiveConversationCount,
                        Archived = Model.Archived,
                        ArchivedConversationCount = viewModel.ArchivedConversationCount,
                        Chapter = null,
                        Chapters = viewModel.Chapters,
                        Conversations = viewModel.Conversations,
                        ConversationsUrlFunc = archived => OdkRoutes.Account.Conversations(chapter: null, archived),
                        ConversationUrlFunc = id => OdkRoutes.Account.Conversation(chapter: null, id),
                        CurrentMember = Model.CurrentMember
                    })
                </section>
            </div>
    })
})