@page "/account/conversations"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Members
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model ConversationsModel
@inject IMemberViewModelService MemberViewModelService
@{
    Layout = "_HomeLayout";
    Model.Title = "My conversations";

    var viewModel = await MemberViewModelService.GetMemberConversationsPage(Model.MemberServiceRequest);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = Model.OdkRoutes.Account.Conversations(null),
        Title = "My conversations",
        Content =
            @<div>
                <section class="section">
                    @await Html.PartialAsync("Account/_ConversationsContent", viewModel)
                </section>
            </div>
    })
})