@page "/account/create"
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model CreateModel
@{
    Layout = "_HomeLayout";
    Model.Title = "Create account";
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Create account",
    WidthClass = "col-12 col-lg-8 col-xl-6",
    ContentFunc = 
        @<div>
            <form method="post" action="/account/create" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @await Html.PartialAsync("Account/_AccountCreateForm", new AccountCreateFormViewModel
                {
                    GoogleClientId = Model.GoogleClientId
                })
            </form>
        </div>
})

@section styles
{
    @await Html.PartialAsync("Components/Styles/_Imaging")
}

@section scripts
{
    @await Html.PartialAsync("Components/Scripts/_Imaging")
    @await Html.PartialAsync("Components/Scripts/_GoogleLocation")    
    @await Html.PartialAsync("Components/Scripts/_OAuth");
    <script src="~/js/odk.wizard.js" asp-append-version="true"></script>
}