@page "/account/create"
@using ODK.Services.Users
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model CreateModel
@inject IAccountViewModelService AccountViewModelService
@{
    Layout = "_AccountLayout";
    Model.Title = "Create account";

    var viewModel = await AccountViewModelService.GetAccountCreatePage();
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    TitleContent = await Html.PartialAsync("Components/_SideMenuPageTitle", "Create account"),
    WidthClass = "col-12 col-lg-8 col-xl-6",
    ContentFunc = 
        @<div>
            <form method="post" action="/account/create" enctype="multipart/form-data">
                @*@Html.AntiForgeryToken()*@
                @await Html.PartialAsync("Account/_AccountCreateForm", new AccountCreateFormViewModel
                {
                    GoogleClientId = viewModel.GoogleClientId,
                    TopicGroups = viewModel.TopicGroups,
                    Topics = viewModel.Topics
                })
            </form>
        </div>
})

@section styles
{
    @await Html.PartialAsync("Components/Styles/_Imaging")
}

@section scripts
{
    @await Html.PartialAsync("Components/Scripts/_Imaging")
    @await Html.PartialAsync("Components/Scripts/_GoogleLocation")    
    @await Html.PartialAsync("Components/Scripts/_OAuth");
    <script src="~/js/odk.wizard.js" asp-append-version="true"></script>
}