@page "/account/delete"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.Account.DeleteModel
@{
    Layout = "_HomeLayout";
    Model.Title = "Delete account";
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = "/Account/Delete",
        Content = 
            @<div>
                <h2>Delete account</h2>
                @await Html.PartialAsync("Account/_DeleteAccountContent")
            </div>
    })
})