@page "/account/password/forgotten"
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Account
@model ForgottenPasswordModel
@{
    Layout = "_AccountLayout";
    Model.Title = "Forgotten password";
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    TitleContent = await Html.PartialAsync("Components/_SideMenuPageTitle", "Forgotten password"),
    Breadcrumbs = new[]
    {
        new MenuItem { Link = "/account/login", Text = "Login" },
        new MenuItem { Text = "Forgotten password" }
    },
    ContentFunc = 
        @<div class="row">
            <div class="col-lg-6">
                @await Html.PartialAsync("Account/_ForgottenPasswordForm", new ForgottenPasswordFormViewModel())
            </div>
        </div>
})