@page "/account/interests"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Members
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model InterestsModel
@inject IMemberViewModelService MemberViewModelService
@{
    Layout = "_HomeLayout";
    Model.Title = "Interests";

    var viewModel = await MemberViewModelService.GetMemberInterestsPage(Model.CurrentMemberId);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = OdkRoutes.Account.Interests(),
        Content =
            @<div>
                <h2>My interests</h2>
                <section class="section">
                    @await Html.PartialAsync("Account/_InterestsContent", viewModel)
                </section>
            </div>
    })
})