@page "/account/interests"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Members
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model InterestsModel
@inject IMemberViewModelService MemberViewModelService
@{
    Layout = "_AccountLayout";
    Model.Title = "Interests";

    var viewModel = await MemberViewModelService.GetMemberInterestsPage(Model.CurrentMember.Id);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = Model.OdkRoutes.Account.Interests(),
        Title = "My interests",
        Content =
            @<div>
                <section class="section">
                    @await Html.PartialAsync("Account/_InterestsContent", viewModel)
                </section>

                @if (viewModel.NewTopics.Count > 0)
                {
                    <section class="section">
                        <h3>New topics</h3>
                        <p>The following topics are pending approval</p>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Topic</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var newTopic in viewModel.NewTopics.OrderBy(x => x.TopicGroup).ThenBy(x => x.Topic))
                                    {
                                        <tr>
                                            <td>@newTopic.TopicGroup</td>
                                            <td>@newTopic.Topic</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </section>                    
                }
            </div>
    })
})