@page "/account/issues"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Issues
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model IssuesModel
@inject IIssueService IssueService
@{
    Layout = "_AccountLayout";
    Model.Title = "Issues";

    var viewModel = await IssueService.GetIssuesPageViewModel(Model.CurrentMemberId);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = OdkRoutes.Account.Issues(),
        Title = "My issues",
        Content =
            @<div>
                <section class="section">                    
                    @await Html.PartialAsync("Account/_IssuesContent", viewModel)
                </section>
            </div>
    })
})