@page "/account/location"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Core.Members
@using ODK.Services.Members
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Services
@model LocationModel
@inject IMemberService MemberService
@{
    Layout = "_AccountLayout";
    Model.Title = "Location";

    var viewModel = await MemberService.GetMemberLocationViewModel(Model.MemberServiceRequest);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = Model.OdkRoutes.Account.Location(),
        Title = "Location",
        Content = 
            @<div>
                <section class="section">
                    <form action="/account/location" method="post">
                        @*@Html.AntiForgeryToken()*@
                        @await Html.PartialAsync("Account/_LocationForm", new LocationFormViewModel
                        {
                            DistanceUnit = viewModel.MemberPreferences?.DistanceUnit?.Id,
                            DistanceUnitOptions = viewModel.DistanceUnits,
                            Lat = viewModel.MemberLocation?.LatLong.Lat,
                            Long = viewModel.MemberLocation?.LatLong.Long,
                            LocationName = viewModel.MemberLocation?.Name ?? string.Empty
                        })
                        <button class="btn btn-primary">Update</button>
                    </form>
                </section>                
            </div>
    })
})

@section scripts
{
    @await Html.PartialAsync("Components/Scripts/_GoogleLocation")
}