@page "/account/location"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Core.Members
@using ODK.Services.Countries
@using ODK.Services.Members
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.Account.LocationModel
@inject ICountryService CountryService
@inject IMemberService MemberService
@{
    Layout = "_HomeLayout";
    Model.Title = "Location";

    var memberId = User.MemberId();

    var distanceUnitOptions = await CountryService.GetDistanceUnits();
    var member = await MemberService.GetMember(memberId);
    var memberPreferences = await MemberService.GetMemberPreferences(memberId);
    var location = await MemberService.GetMemberLocation(memberId);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = OdkRoutes.Account.Location(),
        Content = 
            @<div>
                <h2>Location</h2>

                <section class="section">
                    <form action="/account/location" method="post">
                        @Html.AntiForgeryToken()
                        @await Html.PartialAsync("Account/_LocationForm", new LocationFormViewModel
                        {
                            DistanceUnit = memberPreferences?.DistanceUnit?.Id,
                            DistanceUnitOptions = distanceUnitOptions,
                            Lat = location?.LatLong.Lat,
                            Long = location?.LatLong.Long,
                            Name = location?.Name ?? "",
                            TimeZoneId = member.TimeZone?.Id ?? Member.DefaultTimeZoneId
                        })
                        <button class="btn btn-primary">Update</button>
                    </form>
                </section>                
            </div>
    })
})

@section scripts
{
    @await Html.PartialAsync("Components/Scripts/_GoogleLocation")
}