@page "/account/payments"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Services.Users
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@model PaymentsModel
@inject IAccountViewModelService AccountViewModelService
@{
    Layout = "_AccountLayout";
    Model.Title = "Payments";

    var viewModel = await AccountViewModelService.GetMemberPaymentsPage(Model.CurrentMemberId);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = OdkRoutes.Account.Payments(null),
        Content =
            @<div>
                <h2>My payments</h2>
                <section class="section">
                    @await Html.PartialAsync("Account/_PaymentsContent", viewModel)
                </section>
            </div>
    })
})