@page "/account/subscription/{id:guid}/checkout"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Core.Exceptions
@using ODK.Core.Payments
@using ODK.Core.Platforms
@using ODK.Services.Subscriptions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Payments
@model SubscriptionCheckoutModel
@inject ISiteSubscriptionService SiteSubscriptionService
@inject IOdkRoutes OdkRoutes
@{
    Layout = "_AccountLayout";
    Model.Title = "Subscription checkout";

    if (Model.Platform == PlatformType.DrunkenKnitwits)
    {
        throw new OdkNotFoundException();
    }

    var returnPath = OdkRoutes.Account.SiteSubscriptionConfirm();
    var viewModel = await SiteSubscriptionService.StartSiteSubscriptionCheckout(
        Model.MemberServiceRequest, Model.SubscriptionId, returnPath, chapterId: null);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    HideSubscriptionAlert = true,
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = Model.OdkRoutes.Account.Subscription(null),
        Title = "",
        Content =
            @<div>
                @await Html.PartialAsync("Components/_Breadcrumbs", new BreadcrumbsViewModel
                {
                    Breadcrumbs = new[]
                    {
                        new MenuItem { Text = "My subscription", Link = Model.OdkRoutes.Account.Subscription(null) },
                        new MenuItem { Text = "Checkout" }
                    }
                })
                <section class="section">
                    <div id="checkout"
                         data-stripe="@viewModel.PaymentSettings.ApiPublicKey"
                         data-stripe-checkout="@viewModel.ClientSecret">
                        <!-- Checkout will insert the payment form here -->
                    </div>
                </section>
            </div>
    })
})

@section scripts
{
    @await Html.PartialAsync("Payments/_PaymentScripts", new PaymentScriptsViewModel
    {
        Providers = [viewModel.PaymentSettings.Provider]
    })
}