@page "/account/subscription"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ODK.Core.Exceptions
@using ODK.Core.Platforms
@using ODK.Services.Subscriptions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Payments
@model SubscriptionModel
@inject ISiteSubscriptionService SiteSubscriptionService
@{
    Layout = "_AccountLayout";
    Model.Title = "Subscription";

    if (Model.Platform == PlatformType.DrunkenKnitwits)
    {
        throw new OdkNotFoundException();
    }

    var viewModel = await SiteSubscriptionService.GetSiteSubscriptionsViewModel(
        Model.ServiceRequest, Model.CurrentMemberIdOrDefault, chapterId: null);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Account",
    Content = await Html.PartialAsync("Account/_SiteAccountLayout", new SiteAccountLayoutViewModel
    {
        Active = Model.OdkRoutes.Account.Subscription(null),
        Title = "My subscription",
        Content =
            @<div>
                <section class="section">
                    @await Html.PartialAsync("Account/_SiteSubscriptionContent", viewModel)
                </section>
            </div>
    })
})