<app-body [breadcrumbs]="breadcrumbs">
  <p *ngIf="status === 'requested'">
    <ngb-alert type="success" [dismissible]="false">
      An email has been sent to the email address you provided. 
      Please complete your update by following the link in the email.
    </ngb-alert>
  </p>
  <p *ngIf="status === 'confirming'">
    <ngb-alert type="warning" [dismissible]="false">
      Updating email address...
    </ngb-alert>
  </p>
  <p *ngIf="status === 'updated'">
    <ngb-alert type="success" (close)="onAlertClose()">
      Email address updated
    </ngb-alert>
  </p>
  <p *ngIf="status === 'confirmationError'">
    <ngb-alert *ngFor="let message of errorMessages" type="danger" [dismissible]="false">
      {{message}}
    </ngb-alert>
  </p>

  <ng-container *ngIf="!status || status === 'updated' || status === 'confirmationError'">
    <app-form *appLoading="!form" [form]="form" (formSubmit)="onFormSubmit()"></app-form>
  </ng-container>
</app-body>