@page "/my/groups/{id:guid}"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model IndexModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_GroupAdminLayout";

    var viewModel = await ChapterAdminService.GetChapterAdminPageViewModel(Model.AdminServiceRequest);

    Model.Title = viewModel.Chapter.GetDisplayName(Model.Platform);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Admin",
    BodyContentFunc = @<div>@await Html.PartialAsync("Groups/_GroupEditContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu", new AdminSideMenuViewModel
    {
        Chapter = viewModel.Chapter
    })
})