@page "/my/groups/{chapterId:guid}/location"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model LocationModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Location";

    var viewModel = await ChapterAdminService.GetChapterLocationViewModel(Model.AdminServiceRequest);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Location",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_LocationContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})

@section scripts
{
    @await Html.PartialAsync("Components/Scripts/_GoogleLocation")
}