@page "/my/groups/{chapterId:guid}/privacy"
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Security
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.My.Groups.Group.PrivacyModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Privacy";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await ChapterAdminService.GetChapterPrivacyViewModel(request);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Privacy",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_PrivacyContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})