@page "/my/groups/{chapterId:guid}/topics"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model TopicsModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Topics";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await ChapterAdminService.GetChapterTopicsViewModel(request);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Topics",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_TopicsContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})