<ul class="nav nav-tabs my-3">
    <li class="nav-item">
        <a class="nav-link" data-menu-link="exact" href="/@Model.Chapter.Name/Admin/Events/@Model.Event.Id">Edit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-menu-link href="/@Model.Chapter.Name/Admin/Events/@Model.Event.Id/Invites">Invites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-menu-link href="/@Model.Chapter.Name/Admin/Events/@Model.Event.Id/Attendees">Attendees</a>
    </li>
</ul>