@page "/Contact"
@using ODK.Services.Settings
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Contact
@model ODK.Web.Razor.Pages.ContactModel
@inject ISettingsService SettingsService
@{
    Layout = "_HomeLayout";
    Model.Title = "Contact";

    var settings = await SettingsService.GetSiteSettings();
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Content = await Html.PartialAsync("Contact/_ContactContent", new ContactContentViewModel()),
    Title = "Contact us"
})

@section scripts
{
    <div data-recaptcha-sitekey="@settings.RecaptchaSiteKey"></div>
    <script src="https://www.google.com/recaptcha/api.js?render=@settings.RecaptchaSiteKey"></script>
    <script src="~/js/odk.recaptcha.js"></script>
}