@page "/"
@using ODK.Core.Platforms
@using ODK.Services.Chapters
@model IndexModel
@inject IChapterService ChapterService
@{
    Layout = "_HomeLayout";
    Model.Path = "/";
}

@if (Model.Platform == PlatformType.DrunkenKnitwits)
{
    var viewModel = await ChapterService.GetOdkHomeHeaderViewModel();    
    <div class="home-page">
        @await Html.PartialAsync("Header/_OdkHomeHeader", viewModel)
    </div>
    @await Html.PartialAsync("Home/_OdkHomeContent", viewModel)
}
else
{
    @await Html.PartialAsync("Home/_HomeContent")
}