@page "/my/groups/{id:guid}/messages"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model IndexModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Messages";

    var viewModel = await ChapterAdminService.GetChapterMessagesViewModel(Model.AdminServiceRequest, false);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Messages",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/_MessagesContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu", new AdminSideMenuViewModel
    {
        Chapter = viewModel.Chapter
    })
})