@using ODK.Web.Common.Chapters
@using ODK.Web.Razor.Models.Contact
@model ContactPageViewModel

<p>
    If the <a href="/@Model.Chapter.Name/About">About</a> page hasn't answered your questions, 
    please don't hesitate to get in touch. We'll get back to you as soon as possible.
</p>

<form method="post">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("Contact/_ContactForm", new ContactFormViewModel())
    <button class="btn btn-primary">Send</button>
</form>