@using ODK.Web.Razor.Models.Contact
@model ContactContentViewModel

<p>
    If the <a href="/About">About</a> page hasn't answered your questions, 
    please don't hesitate to get in touch. We'll get back to you as soon as possible.
</p>

@if (!Model.Sent)
{
    <form action="/Contact" method="post">
        @*@Html.AntiForgeryToken()*@
        @await Html.PartialAsync("Contact/_ContactForm", new ContactFormViewModel())
        <button class="btn btn-primary">Send</button>
    </form>
}
else
{
    <div class="alert alert-success" role="alert">
        Your message has been sent. Thank you for getting in touch.
    </div>
}