@using ODK.Core.SocialMedia
@using ODK.Services.SocialMedia.ViewModels
@model InstagramPostsViewModel
@{
    if (Model.Posts.Count == 0)
    {
        return;
    }
}

<div class="row">
    @foreach (var post in Model.Posts)
    {        
        <div class="col-3 col-md-3">
            @await Html.PartialAsync("Components/Instagram/_InstagramPost", post)
        </div>
    }
</div>