@using ODK.Core.Utils
@using ODK.Services.SocialMedia
@using ODK.Services.SocialMedia.ViewModels
@using ODK.Web.Razor.Models.Components
@model InstagramPostViewModel
@inject ISocialMediaService SocialMediaService
@{
    var defaultImage = Model.Images.First();
    var modalId = $"instagram-post-{Model.ExternalId}";
}

<div class="social-media-image-tile">
    <a href="#" data-bs-toggle="modal" data-bs-target="#@modalId">
        <div class="social-media-image-container">
            <img src="/instagram/images/@defaultImage.Id/thumbnail?size=250&v=@defaultImage.Version" alt="@defaultImage.Alt" />
            @if (Model.Images.Count > 1)
            {
                @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Images)
                {
                    Class = "social-media-image-overlay-icon"
                })
            }
        </div>
    </a>    
</div>

@await Html.PartialAsync("Components/_Modal", new ModalViewModel
{    
    Id = modalId,
    Title = "",
    Class = "carousel-modal",
    Size = ModalSize.Large,
    Body = 
        @<div class="w-100">
            @await Html.PartialAsync("Components/_Carousel", new CarouselViewModel
            {
                Footer = await Html.PartialAsync("Components/Instagram/_InstagramPostLink", Model),
                Id = $"instagram-post-carousel-{Model.ExternalId}",
                Items = Model.Images
                    .Select(x => new CarouselItemViewModel
                    {
                        ImageAlt = x.Alt,
                        ImageUrl = $"/instagram/images/{x.Id}?v={x.Version}"
                    })
                    .ToArray()
            })
        </div>,
    Footer = 
        @<div class="social-media-post-caption-container">
            <p class="small text-center">
                @{
                    var parts = StringUtils.IsolateHashtags(Model.Caption ?? string.Empty);                    

                    foreach (var part in parts)
                    {
                        var isHashtag = StringUtils.IsHashtag(part);

                        if (isHashtag)
                        {
                            var link = SocialMediaService.GetInstagramHashtagUrl(part);
                            <a href="@link" target="_blank">@part</a>
                        }
                        else
                        {
                            @part
                        }
                    }
                }
            </p>
        </div>,
    HideFooter = string.IsNullOrEmpty(Model.Caption)
})