@using ODK.Core.Chapters
@using ODK.Core.Members
@using ODK.Services.Caching
@using ODK.Web.Common.Chapters
@using ODK.Web.Razor.Models.Footer
@using ODK.Web.Razor.Models.Header
@{
    Layout = "_Layout";

    var model = ViewData["ViewModel"] as ChapterViewModel;
    if (model == null)
    {
        return;
    }

    var chapter = model.Chapter;
}

@section header
{
    @await Html.PartialAsync("Header/_ChapterHeader", model)
}

<div class="chapter chapter-theme--@chapter.Name.ToLowerInvariant()">
    @RenderBody()
</div>

@section footer
{
    @await Html.PartialAsync("Footer/_ChapterFooter", new FooterViewModel
    {
        Chapter = chapter
    })
}

@section scripts
{
    @await RenderSectionAsync("scripts", required: false)
}
