@page "/{chapterName}/Contact"
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Contact
@using ODK.Services.Settings
@using ODK.Core.Settings
@model ODK.Web.Razor.Pages.Chapters.ContactModel
@inject ISettingsService SettingsService
@{
    Layout = "_ChapterLayout";
    Model.Title = "Contact";

    var settings = await SettingsService.GetSiteSettings();
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Send us a message",
    Breadcrumbs = new []
    {
        new MenuItem { Link = $"/{Model.Chapter.Name}", Text = Model.Chapter.Name },
        new MenuItem { Text = "Contact" }
    },
    Content = await Html.PartialAsync("Contact/_ChapterContactContent", new ContactContentViewModel
    {
        ChapterName = Model.Chapter.Name,
        Sent = Model.Sent
    })
})

@section scripts
{
    <div data-recaptcha-sitekey="@settings.RecaptchaSiteKey"></div>
    <script src="https://www.google.com/recaptcha/api.js?render=@settings.RecaptchaSiteKey"></script>
    <script src="~/js/odk.recaptcha.js"></script>
}