@page "/{chapterName}/Contact"
@using ODK.Web.Common.Chapters
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Contact
@using ODK.Services.Settings
@using ODK.Core.Settings
@model ODK.Web.Razor.Pages.Chapters.ContactModel
@{
    Layout = "_ChapterLayout2";
    Model.Title = "Contact";

    var viewModel = Model.ViewModel;
    var (chapter, settings) = (viewModel.Chapter, viewModel.Settings);
}

@await Html.PartialAsync("Components/_Body", new BodyViewModel
{
    Title = "Send us a message",
    Breadcrumbs = new []
    {
        new MenuItem { Link = $"/{chapter.Name}", Text = chapter.Name },
        new MenuItem { Text = "Contact" }
    },
    Content = await Html.PartialAsync("Contact/_ContactContent", viewModel)
})

@section scripts
{
    <div data-recaptcha-sitekey="@settings.RecaptchaSiteKey"></div>
    <script src="https://www.google.com/recaptcha/api.js?render=@settings.RecaptchaSiteKey"></script>
    <script src="~/js/odk.recaptcha.js"></script>
}