@using ODK.Core.Chapters
@using ODK.Core.Platforms
@using ODK.Services.Authentication
@using ODK.Services.Security
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Services
@inject IOdkRoutes OdkRoutes
@inject IRequestStore RequestStore
@{
    var chapter = RequestStore.Chapter;
    var currentMember = RequestStore.CurrentMember;
    var chapterAdminMember = await RequestStore.GetCurrentChapterAdminMember();
    var platform = RequestStore.Platform;
    var adminRoutes = OdkRoutes.GroupAdmin;

    var groupLinks = new ChapterAdminMenuItemGroup(currentMember, chapterAdminMember, platform)
        .Add(adminRoutes.Conversations(chapter), "Conversations")
        .Add(adminRoutes.Emails(chapter), "Emails")
        .Add(adminRoutes.Questions(chapter), "FAQ")
        .Add(adminRoutes.Location(chapter), "Location")
        .Add(adminRoutes.Messages(chapter), "Messages")
        .Add(adminRoutes.Image(chapter), "Picture")
        .Add(adminRoutes.Pages(chapter), "Pages")
        .Add(adminRoutes.Privacy(chapter), "Privacy")
        .Add(adminRoutes.SocialMedia(chapter), "Social media")
        .Add(adminRoutes.Subscription(chapter), "Subscription")
        .Add(adminRoutes.Texts(chapter), "Texts")
        .Add(adminRoutes.Theme(chapter), "Theme")
        .Add(adminRoutes.Topics(chapter), "Topics")
        .Add(adminRoutes.Delete(chapter), "Delete");

    var eventsLinks = new ChapterAdminMenuItemGroup(currentMember, chapterAdminMember, platform)
        .Add(adminRoutes.Venues(chapter), "Venues")
        .Add(adminRoutes.EventSettings(chapter), "Settings");

    var membersLinks = new ChapterAdminMenuItemGroup(currentMember, chapterAdminMember, platform)
        .Add(adminRoutes.AdminMembers(chapter), "Admins")
        .Add(adminRoutes.MembershipSettings(chapter), "Membership")
        .Add(adminRoutes.MemberProperties(chapter), "Profile questions")
        .Add(adminRoutes.Subscriptions(chapter), "Subscriptions")
        .Add(adminRoutes.MembersEmail(chapter), "Bulk email")
        .Add(adminRoutes.MemberApprovals(chapter), "Approvals");

    var paymentsLinks = new ChapterAdminMenuItemGroup(currentMember, chapterAdminMember, platform)
        .Add(OdkRoutes.GroupAdmin.PaymentAccount(chapter), "Account");

    var siteAdminLinks = platform == PlatformType.DrunkenKnitwits && currentMember.SiteAdmin
        ? new ChapterAdminMenuItemGroup(currentMember, chapterAdminMember, platform)
            .Add(adminRoutes.SiteAdmin(chapter).Child("/members"), "Members")
            .Add(adminRoutes.SiteAdmin(chapter).Child("/payments"), "Payments")
            .Add(adminRoutes.SiteAdmin(chapter).Child("/location"), "Location")
            .Add(adminRoutes.SiteAdmin(chapter).Child("/instagram"), "Instagram")
            .Add(adminRoutes.SiteAdmin(chapter).Child("/redirect"), "Redirect")
            .Add(adminRoutes.SiteAdmin(chapter).Child("/theme"), "Theme")
            .ToArray()
        : [];

    var menuItems = new[]
    {
        new MenuItem { Link = OdkRoutes.Groups.Group(chapter), Text = "Home" },
        groupLinks.Count > 0
            ? new MenuItem
            {
                Link = adminRoutes.Group(chapter).Path,
                Text = "Group",
                Children = groupLinks
            }
            : new MenuItem(),
        chapterAdminMember.HasAccessTo(ChapterAdminSecurable.Events, currentMember)
            ? new MenuItem
            {
                Link = adminRoutes.Events(chapter).Path,
                Text = "Events",
                Children = eventsLinks,
            }
            : new MenuItem(),
        chapterAdminMember.HasAccessTo(ChapterAdminSecurable.Members, currentMember)
            ? new MenuItem
            {
                Link = adminRoutes.Members(chapter).Path,
                Text = "Members",
                Children = membersLinks
            }
            : new MenuItem(),
        chapterAdminMember.HasAccessTo(ChapterAdminSecurable.Payments, currentMember)
            ? new MenuItem
            {
                Link = adminRoutes.Payments(chapter).Path,
                Text = "Payments",
                Children = paymentsLinks
            }
            : new MenuItem(),
        siteAdminLinks.Length > 0
            ? new MenuItem
            {
                Link = adminRoutes.SiteAdmin(chapter).Path,
                Text = "SiteAdmin",
                Children = siteAdminLinks
            } : new MenuItem()
    }.Where(x => !string.IsNullOrEmpty(x.Text))
    .ToArray();
}

<div data-odk-component="_AdminSideMenu">
    @await Html.PartialAsync("Components/_SideMenu", new SideMenuViewModel
    {
        MenuItems = menuItems,
        Root = true        
    })
</div>