@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model AdminBodyViewModel

@if (!string.IsNullOrEmpty(Model.Title))
{
    <h2>@Model.Title</h2>
}

@if (Model.Breadcrumbs != null)
{
    @await Html.PartialAsync("Components/_Breadcrumbs", new BreadcrumbsViewModel
    {
        Breadcrumbs = Model.Breadcrumbs
    })
}

<section class="section">
    @Model.ContentFunc.Invoke(null)
</section>