@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model AdminBodyViewModel

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = Model.Title,
    BodyContentFunc = 
        @<div>
            @if (Model.Breadcrumbs != null)
            {
                @await Html.PartialAsync("Components/_Breadcrumbs", new BreadcrumbsViewModel
                {
                    Breadcrumbs = Model.Breadcrumbs
                })
            }

            <section class="section">
                @Model.ContentFunc.Invoke(null)
            </section>
        </div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu", new AdminSideMenuViewModel
    {
        Chapter = Model.Chapter
    })
})