@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model AdminBodyViewModel

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = Model.Title,
    Breadcrumbs = Model.Breadcrumbs != null
        ? new BreadcrumbsViewModel
        {
            Breadcrumbs = Model.Breadcrumbs
        }
        : null,
    BodyContentFunc = 
        @<div>            
            <section class="section">
                @Model.ContentFunc.Invoke(null)
            </section>
        </div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})