@using ODK.Core.Chapters
@using ODK.Core.Platforms
@using ODK.Services.Authentication
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Services
@using ODK.Web.Razor.Views
@model AdminSideMenuViewModel
@inject IRequestStore RequestStore
@{
    var chapter = Model.Chapter;
    var currentMemberId = RequestStore.CurrentMemberId;
    var platform = RequestStore.Platform;

    var groupLinks = new[]
    {
        new MenuItem { Link = OdkRoutes.MemberGroups.GroupConversations(platform, chapter), Text = "Conversations" },
        platform == PlatformType.DrunkenKnitwits
            ? new MenuItem { Link = $"/{chapter.ShortName}/admin/chapter/emails", Text = "Emails" }
            : new MenuItem(),
        new MenuItem { Link = OdkRoutes.MemberGroups.GroupQuestions(platform, chapter), Text = "FAQ" },
        platform == PlatformType.DrunkenKnitwits
            ? new MenuItem()
            : new MenuItem { Link = OdkRoutes.MemberGroups.GroupLocation(platform, chapter), Text = "Location" },
        new MenuItem { Link = OdkRoutes.MemberGroups.GroupMessages(platform, chapter), Text = "Messages" },
        platform == PlatformType.DrunkenKnitwits
            ? new MenuItem()
            : new MenuItem { Link = OdkRoutes.MemberGroups.GroupImage(platform, chapter), Text = "Picture" },
        new MenuItem { Link = OdkRoutes.MemberGroups.GroupPrivacy(platform, chapter), Text = "Privacy" },        
        new MenuItem { Link = OdkRoutes.MemberGroups.GroupSocialMedia(platform, chapter), Text = "Social media" },
        platform == PlatformType.DrunkenKnitwits
            ? new MenuItem { Link = OdkRoutes.MemberGroups.GroupSubscription(platform, chapter), Text = "Subscription" }
            : chapter.OwnerId == currentMemberId
                ? new MenuItem { Link = OdkRoutes.Account.Subscription(platform, null), Text = "Subscription" }
                : new MenuItem(),
        new MenuItem { Link = OdkRoutes.MemberGroups.GroupTexts(platform, chapter), Text = "Texts" },
        platform == PlatformType.DrunkenKnitwits
            ? new MenuItem()
            : new MenuItem { Link = OdkRoutes.MemberGroups.GroupTheme(platform, chapter), Text = "Theme" },
        platform == PlatformType.DrunkenKnitwits
            ? new MenuItem()
            : new MenuItem { Link = OdkRoutes.MemberGroups.GroupTopics(platform, chapter), Text = "Topics" },
        platform == PlatformType.DrunkenKnitwits
            ? new MenuItem()
            : new MenuItem { Link = OdkRoutes.MemberGroups.GroupDelete(platform, chapter), Text = "Delete" },
    };

    var membersLinks = new[]
    {
        new MenuItem { Link = OdkRoutes.MemberGroups.MemberAdmins(platform, chapter), Text = "Admins" },
        new MenuItem { Link = OdkRoutes.MemberGroups.MembershipSettings(platform, chapter), Text = "Membership" },
        new MenuItem { Link = OdkRoutes.MemberGroups.MemberProperties(platform, chapter), Text = "Profile questions" },
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.MembersSubscriptions(platform, chapter),
            Text = "Subscriptions"
        },
        new MenuItem { Link = OdkRoutes.MemberGroups.MembersEmail(platform, chapter), Text = "Bulk email" },
        platform == PlatformType.DrunkenKnitwits
            ? new MenuItem()
            : new MenuItem { Link = OdkRoutes.MemberGroups.MemberApprovals(platform, chapter), Text = "Approvals" }
    };

    var superadminLinks = platform == PlatformType.DrunkenKnitwits && User.IsInRole(OdkRoles.SuperAdmin)
        ? new[]
        {
            new MenuItem { Link = $"/{chapter.ShortName}/Admin/SuperAdmin/Members", Text = "Members" },
            new MenuItem { Link = $"/{chapter.ShortName}/Admin/SuperAdmin/Payments", Text = "Payments" },
            new MenuItem { Link = $"/{chapter.ShortName}/Admin/SuperAdmin/Reconciliations", Text = "Reconciliations" },
            new MenuItem { Link = $"/{chapter.ShortName}/Admin/SuperAdmin/Location", Text = "Location" },
            new MenuItem { Link = $"/{chapter.ShortName}/Admin/SuperAdmin/Instagram", Text = "Instagram" },
            new MenuItem { Link = $"/{chapter.ShortName}/Admin/SuperAdmin/Redirect", Text = "Redirect" },
            new MenuItem { Link = $"/{chapter.ShortName}/Admin/SuperAdmin/Theme", Text = "Theme" }
        } 
        : [];

    var menuItems = new[]
    {
        new MenuItem { Link = OdkRoutes.Groups.Group(platform, chapter), Text = "Home" },
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.Group(platform, chapter),
            Text = "Group",
            Children = groupLinks.Where(x => !string.IsNullOrEmpty(x.Text)).ToArray()
        },
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.Events(platform, chapter),
            Text = "Events",
            Children = new[]
            {
                new MenuItem
                {
                    Link = OdkRoutes.MemberGroups.Venues(platform, chapter),
                    Text = "Venues"
                },
                new MenuItem { Link = OdkRoutes.MemberGroups.EventSettings(platform, chapter), Text = "Settings" }
            }
        },
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.Members(platform, chapter),
            Text = "Members",
            Children = membersLinks.Where(x => !string.IsNullOrEmpty(x.Text)).ToArray()
        },
        new MenuItem
        {
            Link = OdkRoutes.Payments.Payments(platform, chapter),
            Text = "Payments",
            Children = new[]
            {
                new MenuItem { Text = "Account", Link = OdkRoutes.Payments.PaymentAccount(platform, chapter) }
            }
        },
        superadminLinks.Length > 0
            ? new MenuItem
            {
                Link = $"/{chapter.ShortName}/Admin/SuperAdmin",
                Text = "SuperAdmin",
                Children = superadminLinks
            } : new MenuItem()
    }.Where(x => !string.IsNullOrEmpty(x.Text))
    .ToArray();
}

<div data-odk-component="_AdminSideMenu">
    @await Html.PartialAsync("Components/_SideMenu", new SideMenuViewModel
    {
        MenuItems = menuItems,
        Root = true        
    })
</div>