@using ODK.Core.Chapters
@using ODK.Core.Platforms
@using ODK.Services.Authentication
@using ODK.Services.Security
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Services
@inject IOdkRoutes OdkRoutes
@inject IRequestStore RequestStore
@{
    var chapter = RequestStore.Chapter;
    var currentMember = RequestStore.CurrentMember;
    var chapterAdminMember = await RequestStore.GetCurrentChapterAdminMember();
    var platform = RequestStore.Platform;

    var groupLinks = new ChapterAdminMenuItemGroup(currentMember, chapterAdminMember, platform)
        .Add(ChapterAdminSecurable.Conversations, 
            new MenuItem { Link = OdkRoutes.GroupAdmin.GroupConversations(chapter), Text = "Conversations" })
        .Add(ChapterAdminSecurable.Emails,
            new MenuItem { Link = $"/{chapter.ShortName}/admin/chapter/emails", Text = "Emails" },
            PlatformType.DrunkenKnitwits)
        .Add(ChapterAdminSecurable.Questions,
            new MenuItem { Link = OdkRoutes.GroupAdmin.GroupQuestions(chapter), Text = "FAQ" })
        .Add(ChapterAdminSecurable.Location,
            new MenuItem { Link = OdkRoutes.GroupAdmin.GroupLocation(chapter), Text = "Location" },
            PlatformType.Default)
        .Add(ChapterAdminSecurable.ContactMessages,
            new MenuItem { Link = OdkRoutes.GroupAdmin.GroupMessages(chapter), Text = "Messages" })
        .Add(ChapterAdminSecurable.Branding,
            new MenuItem { Link = OdkRoutes.GroupAdmin.GroupImage(chapter), Text = "Picture" },
            PlatformType.Default)
        .Add(ChapterAdminSecurable.Pages,
            new MenuItem { Link = OdkRoutes.GroupAdmin.GroupPages(chapter), Text = "Pages" })
        .Add(ChapterAdminSecurable.PrivacySettings,
            new MenuItem { Link = OdkRoutes.GroupAdmin.GroupPrivacy(chapter), Text = "Privacy" })
        .Add(ChapterAdminSecurable.SocialMedia,
            new MenuItem { Link = OdkRoutes.GroupAdmin.GroupSocialMedia(chapter), Text = "Social media" })
        .Add(ChapterAdminSecurable.SiteSubscription,
            new MenuItem { Link = OdkRoutes.GroupAdmin.GroupSubscription(chapter), Text = "Subscription" },
            PlatformType.DrunkenKnitwits)
        .Add(ChapterAdminSecurable.SiteSubscription,
            new MenuItem { Link = OdkRoutes.Account.Subscription(chapter), Text = "Subscription" },
            PlatformType.Default)
        .Add(ChapterAdminSecurable.Texts,
            new MenuItem { Link = OdkRoutes.GroupAdmin.GroupTexts(chapter), Text = "Texts" })
        .Add(ChapterAdminSecurable.Branding,
            new MenuItem { Link = OdkRoutes.GroupAdmin.GroupTheme(chapter), Text = "Theme" },
            PlatformType.Default)
        .Add(ChapterAdminSecurable.Topics,
            new MenuItem { Link = OdkRoutes.GroupAdmin.GroupTopics(chapter), Text = "Topics" },
            PlatformType.Default)
        .Add(ChapterAdminSecurable.Publish,
            new MenuItem { Link = OdkRoutes.GroupAdmin.GroupDelete(chapter), Text = "Delete" },
            PlatformType.Default);

    var eventsLinks = new ChapterAdminMenuItemGroup(currentMember, chapterAdminMember, platform)
        .Add(ChapterAdminSecurable.Venues,
            new MenuItem { Link = OdkRoutes.GroupAdmin.Venues(chapter), Text = "Venues" })
        .Add(ChapterAdminSecurable.EventSettings,
            new MenuItem { Link = OdkRoutes.GroupAdmin.EventSettings(chapter), Text = "Settings" });

    var membersLinks = new ChapterAdminMenuItemGroup(currentMember, chapterAdminMember, platform)
        .Add(ChapterAdminSecurable.AdminMembers,
            new MenuItem { Link = OdkRoutes.GroupAdmin.MemberAdmins(chapter), Text = "Admins" })
        .Add(ChapterAdminSecurable.MembershipSettings,
            new MenuItem { Link = OdkRoutes.GroupAdmin.MembershipSettings(chapter), Text = "Membership" })
        .Add(ChapterAdminSecurable.Properties,
            new MenuItem { Link = OdkRoutes.GroupAdmin.MemberProperties(chapter), Text = "Profile questions" })
        .Add(ChapterAdminSecurable.Subscriptions,
            new MenuItem { Link = OdkRoutes.GroupAdmin.MembersSubscriptions(chapter), Text = "Subscriptions" })
        .Add(ChapterAdminSecurable.BulkEmail,
            new MenuItem { Link = OdkRoutes.GroupAdmin.MembersEmail(chapter), Text = "Bulk email" })
        .Add(ChapterAdminSecurable.MemberApprovals,
            new MenuItem { Link = OdkRoutes.GroupAdmin.MemberApprovals(chapter), Text = "Approvals" },
            PlatformType.Default);

    var paymentsLinks = chapterAdminMember.HasAccessTo(ChapterAdminSecurable.Payments, currentMember)
        ? new ChapterAdminMenuItemGroup(currentMember, chapterAdminMember, platform)
            .Add(ChapterAdminSecurable.PaymentAccount,
                new MenuItem { Text = "Account", Link = OdkRoutes.Payments.PaymentAccount(chapter) })
        : new List<MenuItem>();

    var siteAdminLinks = platform == PlatformType.DrunkenKnitwits && currentMember.SiteAdmin
        ? new[]
        {
            new MenuItem { Link = $"/{chapter.ShortName}/admin/siteadmin/members", Text = "Members" },
            new MenuItem { Link = $"/{chapter.ShortName}/admin/siteadmin/payments", Text = "Payments" },
            new MenuItem { Link = $"/{chapter.ShortName}/admin/siteadmin/location", Text = "Location" },
            new MenuItem { Link = $"/{chapter.ShortName}/admin/siteadmin/instagram", Text = "Instagram" },
            new MenuItem { Link = $"/{chapter.ShortName}/admin/siteadmin/redirect", Text = "Redirect" },
            new MenuItem { Link = $"/{chapter.ShortName}/admin/siteadmin/theme", Text = "Theme" }
        } 
        : [];

    var menuItems = new[]
    {
        new MenuItem { Link = OdkRoutes.Groups.Group(chapter), Text = "Home" },
        groupLinks.Count > 0
            ? new MenuItem
            {
                Link = OdkRoutes.GroupAdmin.Group(chapter),
                Text = "Group",
                Children = groupLinks
            }
            : new MenuItem(),
        chapterAdminMember.HasAccessTo(ChapterAdminSecurable.Events, currentMember)
            ? new MenuItem
            {
                Link = OdkRoutes.GroupAdmin.Events(chapter),
                Text = "Events",
                Children = eventsLinks,
            }
            : new MenuItem(),
        chapterAdminMember.HasAccessTo(ChapterAdminSecurable.Members, currentMember)
            ? new MenuItem
            {
                Link = OdkRoutes.GroupAdmin.Members(chapter),
                Text = "Members",
                Children = membersLinks
            }
            : new MenuItem(),
        chapterAdminMember.HasAccessTo(ChapterAdminSecurable.Payments, currentMember)
            ? new MenuItem
            {
                Link = OdkRoutes.Payments.Payments(chapter),
                Text = "Payments",
                Children = paymentsLinks
            }
            : new MenuItem(),
        siteAdminLinks.Length > 0
            ? new MenuItem
            {
                Link = $"/{chapter.ShortName}/admin/siteadmin",
                Text = "SiteAdmin",
                Children = siteAdminLinks
            } : new MenuItem()
    }.Where(x => !string.IsNullOrEmpty(x.Text))
    .ToArray();
}

<div data-odk-component="_AdminSideMenu">
    @await Html.PartialAsync("Components/_SideMenu", new SideMenuViewModel
    {
        MenuItems = menuItems,
        Root = true        
    })
</div>