<ng-container *ngIf="viewModel">
  <label [attr.for]="controlId" [class.form-control-label]="!viewModel.class" 
    [ngClass]="viewModel.class">
    <span *ngIf="!viewModel.textIsHtml">{{viewModel.text}}</span>
    <app-raw-html *ngIf="viewModel.textIsHtml" [html]="viewModel.text"></app-raw-html>
  </label>
  <span *ngIf="viewModel.helpText">
    <i class="ml-1 icon--help fas fa-question-circle" [ngbTooltip]="viewModel.helpText"></i>
  </span>
  <span *ngIf="viewModel.subtitle" class="ml-1 text-muted">{{viewModel.subtitle}}</span>
</ng-container>