<div class="sidebar">
    <div class="card sidebar-card" *ngIf="events">
        <div class="card-header">Forthcoming events</div>
        
        <div class="card-body" *ngFor="let event of events">
            <h5 class="card-title">
                <a [routerLink]="getEventLink(event)">{{event.name}}</a>
            </h5>
            <h6 class="d-inline-block d-md-block">{{event.date | date:'fullDate'}}</h6>
            <span class="d-md-none">&nbsp;|&nbsp;</span>            
            <div class="d-inline-block d-md-block">{{event.location}}</div>
        </div>
    </div>
</div>