<ngb-alert *ngIf="successMessage" type="success" (close)="onSuccessMessageClose()">
  {{successMessage}}
</ngb-alert>
<form *ngIf="form" (ngSubmit)="onSubmit()" [class.was-validated]="state.validated" novalidate>
  <fieldset [attr.disabled]="submitting ? 'disabled' : null" class="overlay-container">
    <app-loading-spinner *ngIf="submitting" [options]="loadingOptions">      
    </app-loading-spinner>
    <app-form-controls [form]="form" [state]="state" [validated]="state.validated" [validateForm]="validateForm">
    </app-form-controls>
    <ng-container *ngIf="form.buttons && form.buttons.length">      
      <div class="d-flex align-items-center">
        <app-form-button *ngFor="let button of form.buttons" [button]="button"></app-form-button>
        <ng-content select="[app-button-row]"></ng-content>
      </div>
      <app-error-messages [messages]="messages"></app-error-messages>
    </ng-container>
  </fieldset>
</form>