<h2>Events</h2>
<ng-container *appLoading="!viewModels">
  <p>
    <a class="btn btn-primary" [routerLink]="links.createEvent">Create</a>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Venue</th>
        <th><i class="fas fa-envelope"></i></th>
        <th><i class="fas fa-check-circle text-success"></i></th>
        <th><i class="fas fa-question-circle text-warning"></i></th>
        <th><i class="fas fa-times-circle text-danger"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let viewModel of viewModels">
        <td><a [routerLink]="getEventLink(viewModel.event)">{{viewModel.event.name}}</a></td>
        <td>{{viewModel.event.date | date:'dd MMM yyyy'}}</td>
        <td><a [routerLink]="getVenueLink(viewModel.venue)">{{viewModel.venue.name}}</a></td>
        <td>
          <span *ngIf="viewModel.invitesSent > 0">{{viewModel.invitesSent}}</span>
          <a *ngIf="viewModel.canSendInvites" 
            [routerLink]="getEventInvitesLink(viewModel.event)">
            Send
          </a>
        </td>
        <td>{{viewModel.going}}</td>
        <td>{{viewModel.maybe}}</td>
        <td>{{viewModel.declined}}</td>
      </tr>
    </tbody>
  </table>

  <app-pagination [page]="page" [pageCount]="pageCount" (pageChange)="onPageChange($event)">    
  </app-pagination>
</ng-container>