<div class="sidebar">
    <div class="card">
        <div class="card-header">RSVP</div>
        <div class="card-body">                
            <div class="d-flex justify-content-around">
                <app-event-response-icon [type]="1" [active]="memberResponse === 1" (respond)="onRespond($event)">                                
                </app-event-response-icon>
                <app-event-response-icon [type]="2" [active]="memberResponse === 2" (respond)="onRespond($event)">                                
                </app-event-response-icon>
                <app-event-response-icon [type]="3" [active]="memberResponse === 3" (respond)="onRespond($event)">                                
                </app-event-response-icon>
            </div>
        </div>
    </div>

    <app-event-sidebar-attendees title="Going" [members]="going"></app-event-sidebar-attendees>
    <app-event-sidebar-attendees title="Maybe" [members]="maybe"></app-event-sidebar-attendees>
    <app-event-sidebar-attendees title="Not going" [members]="declined"></app-event-sidebar-attendees>        
</div>