<h2>Venues</h2>
<ng-container *appLoading="!viewModels">
  <p>
    <a class="btn btn-primary" [routerLink]="links.createVenue">Create</a>
  </p>

  <table class="table table-striped" sortable="name">
    <thead>
      <tr>
        <th sortable="name" (sort)="onSort($event)">
          Name
        </th>
        <th>Address</th>
        <th sortable="stats.eventCount" direction="desc" (sort)="onSort($event)">
          Events
        </th>
        <th sortable="stats.lastEventDate" direction="desc" (sort)="onSort($event)">
          Last event
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let viewModel of viewModels">
        <td>
          <a [routerLink]="getVenueLink(viewModel.venue)">{{viewModel.venue.name}}</a>
        </td>
        <td>{{viewModel.venue.address}}</td>
        <td>{{viewModel.stats.eventCount}}</td>
        <td>
          <span *ngIf="viewModel.stats.lastEventDate">
            {{viewModel.stats.lastEventDate | date:'yyyy-MM-dd'}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>