<h2>Venues</h2>
<ng-container *appLoading="!viewModels">
  <p>
    <a class="btn btn-primary" [routerLink]="links.createVenue">Create</a>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          <button class="btn btn-link p-0" (click)="onSort('name')">Name</button>
        </th>
        <th>Address</th>
        <th>
          <button class="btn btn-link p-0" (click)="onSort('stats.eventCount')">Events</button>
        </th>
        <th>
          <button class="btn btn-link p-0" (click)="onSort('stats.lastEventDate')">Last event</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let viewModel of viewModels">
        <td>
          <a [routerLink]="getVenueLink(viewModel.venue)">{{viewModel.venue.name}}</a>
        </td>
        <td>{{viewModel.venue.address}}</td>
        <td>{{viewModel.stats.eventCount}}</td>
        <td>
          <span *ngIf="viewModel.stats.lastEventDate">
            {{viewModel.stats.lastEventDate | date:'yyyy-MM-dd'}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>