<div class="d-inline-block">
  <img *ngIf="imageUrl" [attr.src]="imageUrl" />
  <div class="d-flex justify-content-center">
    <input type="file" accept="image/*" #file placeholder="Choose file" class="d-none"
      (change)="onUploadPicture(file.files)" />
    <div>
      <button class="btn btn-link" (click)="file.click()">Change picture</button>
      <button class="btn-icon" ngbTooltip="Rotate right" (click)="onRotate()">
        <i class="fas fa-undo flip-horizontal"></i>
      </button>
    </div>
  </div>
</div>