<app-body *appLoading="!chapter">
  <app-page-with-sidebar>
    <ng-container app-main>
      <ng-container *ngIf="!isMember">
        <h3>Welcome!</h3>
        <app-raw-html *appLoading="!welcomeTextHtml" [html]="welcomeTextHtml">                  
        </app-raw-html>
      </ng-container>
      <ng-container *ngIf="isMember">        
        <h3>Latest members</h3>
        <app-member-list *appLoading="!latestMembers" [chapter]="chapter" [members]="latestMembers" [cols]="2">                  
        </app-member-list>
      </ng-container>
            
      <div *ngIf="!instagramImages || instagramImages.length > 0" class="mt-3">
        <h3>Latest from Instagram</h3>
        <app-social-media-image-list *appLoading="!instagramImages" [images]="instagramImages">          
        </app-social-media-image-list>
        <div *ngIf="links && links.instagram" class="d-flex justify-content-end">
          <i class="fab fa-instagram mr-1"></i><a [attr.href]="'https://www.instagram.com/' + links.instagram" target="_blank">{{links.instagram}}</a>
        </div>
      </div>        
    </ng-container>

    <ng-container app-sidebar>
      <app-chapter-sidebar></app-chapter-sidebar>
    </ng-container>
  </app-page-with-sidebar>
</app-body>