<app-body *appLoading="!chapter">
  <app-page-with-sidebar>
    <ng-container app-main>
      <ng-container *ngIf="!isMember">
        <h3>Welcome!</h3>
        <app-raw-html *appLoading="!welcomeTextHtml" [html]="welcomeTextHtml">                  
        </app-raw-html>
      </ng-container>
      <ng-container *ngIf="isMember">
        <h3>Latest members</h3>
        <app-member-list *appLoading="!latestMembers" [chapter]="chapter" [members]="latestMembers" [cols]="2">                  
        </app-member-list>
      </ng-container>
    </ng-container>

    <ng-container app-sidebar>
      <app-chapter-sidebar></app-chapter-sidebar>
    </ng-container>
  </app-page-with-sidebar>
</app-body>