@page "/{chapterName}/Admin/Chapter/Conversations/{id:guid}"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@model ConversationModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Conversation";

    var viewModel = await ChapterAdminService.GetChapterConversationViewModel(Model.AdminServiceRequest, Model.ConversationId);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Conversation",
    Chapter = Model.Chapter,
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/Conversations/_ConversationContent", viewModel)</div>
})