@page "/{chapterName}/Admin/Chapter/Conversations/{id:guid}"
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Security
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model ConversationModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Conversation";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await ChapterAdminService.GetChapterConversationViewModel(request, Model.ConversationId);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Conversation",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = Model.AdminRoutes.Conversations(Model.Chapter).Path,
            Text = "Back to conversations",
            Icon = IconType.ArrowLeft
        }
    },
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/Conversations/_ConversationContent", viewModel)</div>
})