@page "/{chapterName}/Admin/Chapter/Conversations"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@model IndexModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Conversations | Admin";

    var request = Model.MemberChapterServiceRequest;
    var viewModel = await ChapterAdminService.GetChapterConversationsViewModel(request, readByChapter: false);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Conversations",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/Conversations/_ConversationsContent", viewModel)</div>
})
