@page "/{chapterName}/Admin/Chapter/Conversations/Read"
@using ODK.Services.Chapters
@using ODK.Web.Razor.Models.Admin
@model RepliedModel
@inject IChapterAdminService ChapterAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Conversations";

    var request = await Model.CreateMemberChapterServiceRequest();
    var viewModel = await ChapterAdminService.GetChapterConversationsViewModel(request, readByChapter: true);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Conversations",
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Chapter/Conversations/_ConversationsContent", viewModel)</div>
})