@model ODK.Web.Razor.Models.Account.ChangeEmailFormViewModel

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Email, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "Email" })
</div>