<div *ngIf="viewModel" class="form-group" [class.required]="required" [formGroup]="formGroup">
    <ng-container *ngIf="showLabel">
        <label [attr.for]="viewModel.id" class="form-control-label">
            {{viewModel.label}}
        </label>
        <span *ngIf="viewModel.helpText">
            <i class="ml-1 icon--help fas fa-question-circle" [ngbTooltip]="viewModel.helpText">
            </i>
        </span>
        <span *ngIf="viewModel.subtitle" class="ml-1 text-muted">{{viewModel.subtitle}}</span>
    </ng-container>

    <!-- text / password / date -->
    <input *ngIf="type === 'text' || type === 'password' || type === 'date'"
        [attr.type]="type"
        [attr.match]="match"
        [attr.pattern]="pattern"
        [attr.required]="required ? 'required' : null"
        class="form-control"
        [id]="viewModel.id" [name]="viewModel.id" [formControlName]="viewModel.id"
        (blur)="validate()" />

    <!-- textarea -->
    <textarea *ngIf="type === 'textarea'"
        rows="3"
        [attr.required]="required ? 'required' : null"
        class="form-control"
        [id]="viewModel.id" [name]="viewModel.id" [formControlName]="viewModel.id"
        (blur)="validate()">
    </textarea>

    <!-- dropdown -->
    <ng-container *ngIf="type === 'dropdown'">
        <select class="form-control"
            [attr.required]="required ? 'required' : null"
            [id]="viewModel.id" [name]="viewModel.id" [formControlName]="viewModel.id">
            <option *ngIf="viewModel.dropDown.default" value=""
                [attr.selected]="selectedOption === viewModel.dropDown.default ? 'selected' : null">
                {{viewModel.dropDown.default}}
            </option>
            <option *ngFor="let option of viewModel.dropDown.options" [attr.value]="option"
                [attr.selected]="selectedOption === option ? 'selected' : null">
                {{option}}
            </option>
        </select>
    </ng-container>

    <!-- checkbox  -->
    <div *ngIf="type === 'checkbox'" class="form-check">
        <input class="form-check-input" type="checkbox"
            [id]="viewModel.id" [name]="viewModel.id" [formControlName]="viewModel.id" />
        <label class="form-control-label form-check-label" [attr.for]="viewModel.id">
            {{viewModel.label}}
        </label>
        <span *ngIf="viewModel.helpText">
            <i class="ml-1 icon--help fas fa-question-circle" [ngbTooltip]="viewModel.helpText">
            </i>
        </span>
        <span *ngIf="viewModel.subtitle" class="ml-1 text-muted">{{viewModel.subtitle}}</span>
    </div>

    <!-- readonly -->
    <div *ngIf="type === 'readonly'" class="form-control-plaintext">
        {{viewModel.value}}
    </div>

    <app-form-control-validation *ngIf="control" [control]="control" [label]="viewModel.label" [validated]="validated">
    </app-form-control-validation>
</div>

<app-form-control *ngFor="let child of childControls" [formGroup]="formGroup" [viewModel]="child"
    [validated]="validated" [updated]="updated" (valueChange)="onChildControlValueChanged(child)">
</app-form-control>