@page "/my/groups/{id:guid}/members/{memberId:guid}/events"
@using ODK.Services.Members
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Pages.My.Groups.Members.Member.EventsModel
@inject IMemberAdminService MemberAdminService
@{
    Layout = "_GroupAdminLayout";

    var viewModel = await MemberAdminService.GetMemberEventsViewModel(Model.AdminServiceRequest, Model.MemberId);

    Model.Title = viewModel.Member.GetDisplayName(viewModel.Chapter.Id);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Member",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Members/_MemberEventsContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu", new AdminSideMenuViewModel
    {
        Chapter = viewModel.Chapter
    })
})