@using ODK.Services.Chapters.ViewModels
@using ODK.Services.Users.ViewModels
@using ODK.Web.Razor.Models.Components
@model GroupJoinPageViewModel

@if (!string.IsNullOrEmpty(Model.Texts?.RegisterText) || Model.IsAdmin)
{
    <section class="section">
        @await Html.PartialAsync("Components/_EditableHtml", new EditableTextViewModel
        {
            Action = $"/admin/groups/{Model.Chapter.Id}/texts/register",
            Id = "group-texts-register",
            IsAdmin = Model.IsAdmin,
            Name = "texts-register",
            Text = Model.Texts?.RegisterText,
            Title = "Join us"
        })
    </section>
}

<section class="section">
    @await Html.PartialAsync("Account/_ChapterProfileForm", new ChapterProfileFormViewModel
    {
        ChapterName = "",
        ChapterProperties = Model.Properties,
        ChapterPropertyOptions = Model.PropertyOptions,
        Properties = Model.Properties.Select(x => new ChapterProfileFormPropertyViewModel
        {
            ChapterPropertyId = x.Id
        }).ToList(),
        TrialPeriodMonths = 0
    })
</section>