@using ODK.Services.Chapters.ViewModels
@using ODK.Services.Users.ViewModels
@using ODK.Web.Razor.Models.Components
@model GroupJoinPageViewModel

@if (Model.IsMember && !Model.IsAdmin)
{
    <p>
        You are already a member of this group.
    </p>
    return;
}

@if (!Model.RegistrationOpen)
{
    <div class="alert alert-danger">
        This group is currently not receiving any new members
    </div>
    return;
}

@if (!string.IsNullOrEmpty(Model.Texts?.RegisterText))
{
    @await Html.PartialAsync("Components/_Panel", new PanelViewModel
    {
        TitleContentFunc = @<h3>Join us</h3>,
        BodyContentFunc = 
            @<div>
                @Html.Raw(Model.Texts.RegisterText)
            </div>
    })
}

<section class="section">
    <form method="post">
        @*@Html.AntiForgeryToken()*@
        @await Html.PartialAsync("Account/_ChapterProfileForm", new ChapterProfileFormViewModel
        {
            ChapterName = "",
            ChapterProperties = Model.Properties,
            ChapterPropertyOptions = Model.PropertyOptions
        })
        <button class="btn btn-primary" type="submit">
            Submit
        </button>
    </form>
</section>