@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Groups
@using ODK.Web.Razor.Services
@inject IRequestStore RequestStore
@model GroupBodyWithSidebarViewModel
@{
    var platform = RequestStore.Platform;
}

@await Html.PartialAsync("Components/_BodyWithSidebar", new BodyWithSidebarViewModel
{
    Breadcrumbs = Model.Breadcrumbs,
    Class = "--group-body-with-sidebar",
    Menu = await Html.PartialAsync("Groups/_GroupMenu", Model.Group),
    SidebarContent = Model.SidebarContent,
    Title = Model.Group.Chapter.GetDisplayName(platform),
    ContentFunc = 
        @<div>
            @if (!string.IsNullOrEmpty(Model.Title))
            {
                <h2>@Model.Title</h2>
            }
            
            @Model.Content
        </div>
})