@using ODK.Core.Chapters
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Components
@model ChapterAdminPageViewModel

@if (!Model.Chapter.Approved())
{
    <div class="alert alert-danger">
        This group is still pending approval. You can continue to make changes but you won't be able to publish it until after approval.
    </div>
}
else if (!Model.Chapter.IsPublished())
{
    <div class="alert alert-danger">
        This group is not published
    </div>
}

@if (Model.Chapter.CanBePublished())
{
    <section class="section--admin">
        <form action="/groups/@Model.Chapter.Id/publish" method="post">
            <button class="btn btn-success">Publish</button>
        </form>
    </section>
}