@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Razor.Models.Chapters
@using ODK.Web.Razor.Models.Components
@model GroupHomePageViewModel
@{
}

<div class="row">
    <div class="col-md-8">
        @await Html.PartialAsync("Components/_EditableTextArea", new EditableTextViewModel
        {
            Action = $"/admin/groups/{Model.Chapter.Id}/description",
            Id = "group-description",
            IsAdmin = Model.IsAdmin,
            Name = "description",
            Text = Model.Chapter.Description,
            Title = "About us"
        })

        @if (Model.Questions.Count > 0 || Model.IsAdmin)
        {
            <section class="section">
                <h3>Frequently asked questions</h3>
                @await Html.PartialAsync("Chapters/_Questions", new ChapterQuestionsViewModel
                {
                    Chapter = Model.Chapter,
                    IsAdmin = Model.IsAdmin,
                    Questions = Model.Questions
                })
            </section>
        }
    </div>    
    <div class="col-md-4">
        @await Html.PartialAsync("Groups/_GroupContentSidebar", Model)
    </div>
</div>