@using ODK.Core.Chapters
@using ODK.Web.Common.Services
@model Chapter
@inject IRequestStore RequestStore
@{
    var platform = RequestStore.Platform;
}

<h1>
    <span>
        @Model.GetDisplayName(platform)
    </span>

    @if (!Model.IsPublished())
    {
        <span class="badge bg-secondary fs-6 ms-3">
            PREVIEW
        </span>
    }
</h1>