@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Components
@model MemberChaptersViewModel

<div>
    <section class="section--admin">
        @await Html.PartialAsync("Components/_Panel", new PanelViewModel
       {
           TitleContentFunc = @<h5>Owner</h5>,
           BodyContentFunc =
                @<div>
                    @if (Model.Owned.Count > 0)
                    {
                        @await Html.PartialAsync("Chapters/_ChapterTiles", Model.Owned.OrderBy(x => x.Chapter.Name))
                    }
                    else
                    {
                        <p>
                            You haven't created any groups.
                            <a href="@OdkRoutes.MemberGroups.GroupCreate(Model.Platform)">Create a group</a>
                        </p>
                    }
                </div>
       })
    </section>

    @if (Model.Admin.Any())
    {
        <section class="section--admin">
            @await Html.PartialAsync("Components/_Panel", new PanelViewModel
            {
                TitleContentFunc = @<h5>Manager</h5>,
                BodyContent = 
                    await Html.PartialAsync("Chapters/_ChapterTiles", Model.Admin.OrderBy(x => x.Chapter.Name))
            })                        
        </section>
    }
    
    <section class="section--admin">
        @await Html.PartialAsync("Components/_Panel", new PanelViewModel
        {
            TitleContentFunc = @<h5>Member</h5>,
            BodyContentFunc = 
                @<div>
                    @if (Model.Member.Count > 0)
                    {
                        @await Html.PartialAsync("Chapters/_ChapterTiles", Model.Member.OrderBy(x => x.Chapter.Name))
                    }
                    else
                    {
                        <p>
                            You aren't a member of any groups.
                            <a href="@OdkRoutes.Groups.Index(Model.Platform)">Find a group</a>
                        </p>
                    }
                </div>
        })                
    </section>
</div>