@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model MemberChaptersViewModel
@inject IOdkRoutes OdkRoutes

<div data-odk-component="_MemberGroupsContent">
    <section class="section--admin">
        @await Html.PartialAsync("Components/_Panel", new PanelViewModel
        {
            TitleContentFunc = @<h5><span>Owner</span></h5>,
            TitleEndContentFunc = 
                @<div>
                    @if (Model.Owned.Count > 0)
                    {
                        @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
                        {
                            Icon = IconType.Plus,
                            Route = OdkRoutes.GroupAdmin.Create(),
                            Text = "Create group"
                        })
                    }
                </div>,
            BodyContentFunc =
                @<div>
                    @if (Model.Owned.Count > 0)
                    {
                        @await Html.PartialAsync("Chapters/_ChapterTiles", Model.Owned.OrderBy(x => x.Chapter.Name))
                    }
                    else
                    {
                        <p>
                            <span>You haven't created any groups.</span>
                            @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
                            {
                                Route = OdkRoutes.GroupAdmin.Create(),
                                Text = "Create a group"
                            })
                        </p>
                    }
                </div>           
       })
    </section>

    @if (Model.Admin.Any())
    {
        <section class="section--admin">
            @await Html.PartialAsync("Components/_Panel", new PanelViewModel
            {
                TitleContentFunc = @<h5>Manager</h5>,
                BodyContent = 
                    await Html.PartialAsync("Chapters/_ChapterTiles", Model.Admin.OrderBy(x => x.Chapter.Name))
            })                        
        </section>
    }
    
    @*Only show "Not a member" content if the member doesn't have any other groups*@
    @if (Model.Member.Count > 0 || Model.Total == 0)
    {
        <section class="section--admin">
            @await Html.PartialAsync("Components/_Panel", new PanelViewModel
            {
                TitleContentFunc = @<h5>Member</h5>,
                BodyContentFunc =
                @<div>
                    @if (Model.Member.Count > 0)
                    {
                        @await Html.PartialAsync("Chapters/_ChapterTiles", Model.Member.OrderBy(x => x.Chapter.Name))
                    }
                    else
                    {
                        <p>
                            You aren't a member of any groups.
                            <a href="@OdkRoutes.Groups.Index()">Find a group</a>
                        </p>
                    }
                </div>
            })
        </section>
    }    
</div>