<h2>Members</h2>
<p *ngIf="superAdmin">
  <input type="file" accept="image/*" #file placeholder="Choose file" (change)="onUploadPicture(file.files)" class="d-none" multiple />
  <button class="btn btn-link" (click)="file.click()">Upload pictures</button>
</p>

<p>
  <app-member-filter [viewModel]="filter" (change)="onFilterChange($event)"></app-member-filter>
</p>

<table *appLoading="!viewModels" class="table table-striped" sortable="name">
  <thead>
    <tr>
      <th sortable="name" (sort)="onSort($event)">
        Name
      </th>   
      <th>Type</th>       
      <th sortable="expires" (sort)="onSort($event)">
        Expires
      </th>       
      <th sortable="emailOptIn" (sort)="onSort($event)">
        <span ngbTooltip="Opted in to event emails?">Emails</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let viewModel of viewModels">
      <td>
        <a [routerLink]="getMemberUrl(viewModel.member)">{{viewModel.member.fullName}}</a>
      </td>
      <td>{{subscriptionTypes[viewModel.subscription.type]}}</td>
      <td>
        <span [class.text-danger]="viewModel.subscription.expiryDate < today"
          [class.text-warning]="viewModel.subscription.expiryDate <= subscriptionWarningDate">
          {{viewModel.subscription.expiryDate | date:'yyyy-MM-dd' }}
        </span>              
      </td>
      <td>
        <span>
          <i *ngIf="viewModel.member.emailOptIn" class="fas fa-check-circle text-success"></i>
          <i *ngIf="!viewModel.member.emailOptIn" class="fas fa-times-circle text-danger"></i>
        </span>
      </td>
    </tr>
  </tbody>
</table>