@page "/my/groups/{chapterId:guid}/events/{eventId:guid}"
@using ODK.Services.Events
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model IndexModel
@inject IEventAdminService EventAdminService
@{
    Layout = "_GroupAdminLayout";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await EventAdminService.GetEventEditViewModel(request, Model.EventId);

    Model.Title = viewModel.Event.GetDisplayName();
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Edit event",
    Breadcrumbs = new BreadcrumbsViewModel
    {
        Breadcrumbs = new[]
        {
            new MenuItem
            {
                Link = Model.OdkRoutes.GroupAdmin.Events(Model.Chapter),
                Text = "Back to events",
                Icon = IconType.ArrowLeft
            }
        }
    },
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Events/Event/_EventContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})