@page "/my/groups/{chapterId:guid}/events/{eventId:guid}/invites"
@using ODK.Services.Events
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model InvitesModel
@inject IEventAdminService EventAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Event invites";

    var viewModel = await EventAdminService.GetEventInvitesViewModel(Model.MemberChapterServiceRequest, Model.EventId);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Event invites",
    Breadcrumbs = new BreadcrumbsViewModel
    {
        Breadcrumbs = new[]
        {
            new MenuItem
            {
                Link = Model.OdkRoutes.GroupAdmin.Events(Model.Chapter),
                Text = "Back to events",
                Icon = IconType.ArrowLeft
            }
        }
    },
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Events/Event/_EventInvitesContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})