@page "/my/groups/{id:guid}/events/{eventId:guid}/responses"
@using ODK.Services.Events
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model ResponsesModel
@inject IEventAdminService EventAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Event responses";

    var viewModel = await EventAdminService.GetEventAttendeesViewModel(Model.AdminServiceRequest, Model.EventId);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Edit event",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Events/Event/_EventResponsesContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu", new AdminSideMenuViewModel
    {
        Chapter = viewModel.Chapter
    })
})