@page "/my/groups/{chapterId:guid}/events/{eventId:guid}/responses"
@using ODK.Services.Events
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model ResponsesModel
@inject IEventAdminService EventAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Event responses";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await EventAdminService.GetEventAttendeesViewModel(request, Model.EventId);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Edit event",
    Breadcrumbs = new BreadcrumbsViewModel
    {
        Breadcrumbs = new[]
        {
            new MenuItem
            {
                Link = Model.OdkRoutes.GroupAdmin.Events(Model.Chapter).Path,
                Text = "Back to events",
                Icon = IconType.ArrowLeft
            }
        }
    },
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Events/Event/_EventResponsesContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu")
})