@page "/my/groups/{id:guid}/events/{eventId:guid}/tickets"
@using ODK.Services.Events
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model TicketsModel
@inject IEventAdminService EventAdminService
@{
    Layout = "_GroupAdminLayout";
    Model.Title = "Event tickets";

    var viewModel = await EventAdminService.GetEventTicketsViewModel(Model.AdminServiceRequest, Model.EventId);
}

@await Html.PartialAsync("Components/_TwoColLeftMenu", new TwoColLeftMenuViewModel
{
    Title = "Event tickets",
    BodyContentFunc = @<div>@await Html.PartialAsync("Admin/Events/Event/_EventTicketsContent", viewModel)</div>,
    MenuContentFunc = _ => Html.PartialAsync("Admin/_AdminSideMenu", new AdminSideMenuViewModel
    {
        Chapter = viewModel.Chapter
    })
})