<h2>Subscriptions</h2>
<p>
  <a class="btn btn-primary" [routerLink]="paths.create">
    Create subscription
  </a>
</p>

<table *appLoading="!subscriptions || !country" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Months</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let subscription of subscriptions">
      <td><a [routerLink]="getSubscriptionLink(subscription)">{{subscription.name}}</a></td>
      <td>{{country.currencySymbol}}{{subscription.amount}}</td>
      <td>{{subscription.months}}</td>
      <td>
        <button class="btn-icon text-danger" (click)="onDeleteSubscription(subscription)" ngbTooltip="Delete">
          <i class="fas fa-times"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<h3>Membership settings</h3>
<app-membership-settings></app-membership-settings>