<table *appLoading="!viewModels" class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Venue</th>
      <th>Response</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let viewModel of viewModels"> 
      <td>
        <a [routerLink]="getEventLink(viewModel.event)">{{viewModel.event.date | date: 'yyyy-MM-dd'}}</a>
      </td>
      <td><a [routerLink]="getVenueLink(viewModel.venue)">{{viewModel.venue.name}}</a></td>
      <td>
        <app-event-response-icon [type]="viewModel.response.responseType" [readOnly]="true"></app-event-response-icon>
      </td>
    </tr>
  </tbody>
</table>