@page "/{chapterName}/Admin/Events/Venues/{id:guid}/Events"
@using ODK.Services.Venues
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Admin.Venues
@model VenueEventsModel
@inject IVenueAdminService VenueAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Venue events | Admin";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await VenueAdminService.GetVenueEventsViewModel(request, Model.Venue.Id);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Venue events",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = Model.AdminRoutes.Venues(Model.Chapter).Path,
            Text = "Back to venues",
            Icon = IconType.ArrowLeft
        }
    },
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Venues/_VenueEventsContent", viewModel)</div>
})