@page "/{chapterName}/admin/events/{id:guid}/tickets"
@using ODK.Services.Events
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Admin.Events
@using ODK.Web.Razor.Models.Components
@model TicketsModel
@inject IEventAdminService EventAdminService
@{
    Layout = "_OdkChapterAdminLayout";
    Model.Title = "Event tickets | Admin";

    var request = Model.MemberChapterAdminServiceRequest;
    var viewModel = await EventAdminService.GetEventTicketsViewModel(request, Model.Event.Id);
}

@await Html.PartialAsync("Admin/_AdminBody", new AdminBodyViewModel
{
    Title = "Event tickets",
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = Model.AdminRoutes.Events(Model.Chapter).Path,
            Text = "Back to events",
            Icon = IconType.ArrowLeft
        }
    },
    ContentFunc = @<div>@await Html.PartialAsync("Admin/Events/Event/_EventTicketsContent", viewModel)</div>
})